.expenses__goals__list {
    padding: 0;

    .goals__list__entry {
        margin: 0;
        padding: 20px 0 0 0;

        .goals__list__entry__section {
            padding: 10px 7px;
            cursor: pointer;
            @include border-radius(0);

            &:hover {
                border: solid 1px $gray-light-1;
            }

            .goals__list__entry__section__price {

                .currency__symbol {
                    padding: 1px;
                }
            }

            .goals__list__entry__section__category {
                margin-right: 0;
            }

            goal-status-progress-bar {
                margin-top: 55px;

                .progress {
                    height: 25px;
                    margin-bottom: 5px;
                }

                .progressbar__value__crt {
                    line-height: 25px;
                }

                .today__line {
                    height: 45px;
                    top: -55%;
                }
            }
        }
    }

    .goals__empty-state {
        margin-top: 10px;
    }
}
