@media (max-width: $screen-sm-min) {
    .goals__column__left {
        width: 100%;
        border-right: solid 0 transparent;
        padding: 0;
    }

    .goals__column__right {
        display: none;
    }
}
