.goals__list__entry__section {
    @include border-radius($border-radius-base);
    @include clearfix();
    padding: 15px;
    margin: 0;
    border: solid 1px $gray-light-2;
    position: relative;

    > div {
        display: block;
        float: left;
        padding: 1px 0;
    }

    .goals__list__entry__section__select {
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 0;
        line-height: 22px;

        span {
            font-size: 24px;
            color: $gray-light-1;
            width: 100%;
            height: 100%;
            @include transition(all 0.3s);

            &:hover {
                cursor: pointer;
                color: $gray-medium;
            }
        }
    }

    .goals__list__entry__section__status {
        font-weight: $font-weight-regular;
        color: $gray-medium;
        float: none;
        display: block;
        padding: 1px 5px 10px;
    }

    .goals__list__entry__section__text {
        font-weight: $font-weight-regular;
        color: $gray-medium;
        padding: 1px 5px;
    }

    .goals__list__entry__section__target {
        text-transform: uppercase;
    }

    .goals__list__entry__section__price {

        .goals__list__entry__section__price__currency,
        .currency__symbol {
            padding: 0;
            color: $gray-medium;
            font-weight: $font-weight-regular;
        }
    }

    .goals__list__entry__section__category {
        @include category-label($brand-primary);
        margin-right: 40px;
        margin-top: 3px;
        padding: 0 5px;
    }

    goal-daily-status {
        display: block;

        canvas {
            max-height: 60px;
            height: auto !important;
        }
    }

    goal-status-progress-bar {
        display: block;
        position: relative;
        clear: both;
        margin-top: 50px;
        margin-left: 3px;
        margin-right: 5px;

        .progress {
            height: 40px;
            border-radius: 0;
            @include border-radius($base-border-radius);
        }

        .progress-bar {
            text-align: right;
        }

        .progressbar__value__min,
        .progressbar__value__max {
            position: absolute;
            top: -20px;
            color: $gray-medium;
        }

        .progressbar__value__min {
            left: 0;
        }

        .progressbar__value__max {
            right: 0;
        }

        .progressbar__value__crt {
            padding: 1px 5px 1px 1px;
            line-height: 40px;
        }

        .today__line {
            opacity: 0.5;
            float: left;
            position: absolute;
            left: 80%;
            top: -15%;
            width: 1px;
            height: 132px;
            padding: 0;
            margin: 0 0 0px -1px;
            background-color: $gray-medium;
            box-shadow: 0 0 1px rgba(255, 255, 255, 1);

            &:before {
                position: relative;
                content: "Today";
                color: $gray-medium;
                height: 20px;
                width: 20px;
                left: -15px;
                top: -20px;
                font-weight: $font-weight-regular;
            }
        }
    }
}
