@media (max-width: $screen-sm-min) {

    .goals__form {
        padding: 0;
        margin: 5px auto 10px auto;

        .goal__form__price__input,
        .goal__form__category__input,
        .goal__form__category .category-select__input .selectize-input,
        .goal__form__details__input,
        .goal__form__date__input {
            border-width: 2px 2px;
            border-color: $add-goal-form-border-color;
            border-radius: 0;
        }

        .goal__form__price__input,
        .goal__form__price__input:focus {
            border-right: solid 1px $gray-light-2;
            border-bottom: solid 1px $gray-light-2;
            border-top-left-radius: $border-radius-base;
        }

        .goal__form__category .category-select__input .selectize-input {
            border-width: 2px 2px 1px 0;
            border-left-color: $gray-light-2;
            border-bottom-color: $gray-light-2;
            border-top-right-radius: $base-border-radius;

            & > * {
                height: 100%;
            }
        }

        .goal__form__details__input,
        .goal__form__details__input:focus {
            border-right: solid 1px $gray-light-2;
            border-top: solid 0 $gray-light-2;
            border-bottom-left-radius: $base-border-radius;
        }

        .goal__form__date__input {
            border-left: solid 0 $gray-light-2;
            border-top: solid 0 $gray-light-2;
            border-bottom-right-radius: $base-border-radius;
        }
    }

    // Price input styling
    // ----------------------

    .goal__form__price {
        width: 50%;

        .goal__form__price__input {
        }

        .goal__form__price__currency {
            border-width: 0;
        }
    }

    // Category input styling
    // ----------------------

    .goal__form__category {
        width: 50%;

        .category-select__input {

            .selectize-input {
                min-width: 100%;
            }
        }
    }

    // Details input styling
    // -------------------------
    .goal__form__details {
        width: 50%;

        .goal__form__details__input {
        }
    }

    // Date input styling
    // -------------------------
    .goal__form__date {
        width: 50%;

        .goal__form__date__input {

            .goal__form__date__input__btn {
                border-width: 0;
            }
        }

        & > .form-group-input__message {
        }
    }

    .goal__form__submit__save {
        width: 100%;
        margin-top: 2px;

        .goal__edit__form__savebtn {
            @include border-radius($base-border-radius);
        }
    }

    .goal__form__submit__cancel {
        float: left;
        width: 100%;

        .goal__edit__form__cancelbtn {
        }
    }
}

@media (max-width: $screen-xs-min) {

    .goals__form {
        padding: 0;
        margin: 5px auto 10px auto;

        .goal__form__price__input,
        .goal__form__category__input,
        .goal__form__category .category-select__input .selectize-input,
        .goal__form__details__input,
        .goal__form__date__input {
            border-width: 2px 2px;
            border-color: $add-goal-form-border-color;
            border-radius: 0;
        }

        .goal__form__price__input,
        .goal__form__price__input:focus {
            border-right: solid 2px $add-goal-form-border-color;
            border-bottom: solid 1px $gray-light-2;
            @include border-top-radius($base-border-radius);
        }

        .goal__form__category .category-select__input .selectize-input {
            border-width: 0 2px 1px 2px;
            border-bottom-color: $gray-light-2;
        }

        .goal__form__details__input,
        .goal__form__details__input:focus {
            border-right: solid 2px $add-goal-form-border-color;
            border-top: solid 0 $gray-light-2;
            border-bottom: solid 1px $gray-light-2;
        }

        .goal__form__date__input {
            border-top: solid 0 $gray-light-2;
            @include border-bottom-radius($base-border-radius);
        }
    }

    // Price input styling
    // ----------------------

    .goal__form__price {
        width: 100%;

        .goal__form__price__input {
        }

        .goal__form__price__currency {
        }
    }

    // Category input styling
    // ----------------------

    .goal__form__category {
        width: 100%;

        .category-select__input {

            .selectize-input {
            }
        }
    }

    // Details input styling
    // -------------------------
    .goal__form__details {
        width: 100%;

        .goal__form__details__input {
        }
    }

    // Date input styling
    // -------------------------
    .goal__form__date {
        width: 100%;

        .goal__form__date__input {

            &:focus {
            }

            & > button {
            }
        }

        & > .form-group-input__message {
        }
    }

    .goal__form__submit__save {

        .goal__edit__form__savebtn {
        }
    }

    .goal__form__submit__cancel {

        .goal__edit__form__cancelbtn {
        }
    }
}
