.goals__list__category__entry__section {
    @include clearfix();
    line-height: 26px;

    div {
        display: inline-block;
    }

    .goals__list__category__entry__section__price {
        width: 140px;
        text-align: right;
        margin-right: 0;
        padding-right: 0;
        float: right;
        font-size: $font-size-small;

        .currency__symbol {
            padding: 0 5px;
            color: $gray-medium;
            font-weight: $font-weight-light;
        }
    }

    .goals__list__category__entry__section__date {
        width: 140px;
        float: left;
        color: $gray-dark-1;
        text-align: left;
        font-size: $font-size-small;
    }

    .goals__list__category__entry__section__details {
        float: left;
        text-align: left;
        color: $gray-dark-1;
        font-size: $font-size-small;
        @include word-wrap();
    }
}
