.goals__bulk-actions {
    @include clearfix();
    width: 100%;
    margin: 0 auto;
    color: $black;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 30px;

    .goals__bulk-actions__buttons {

        .goals__bulk-actions__buttons__delete {

            .goals__bulk-actions__buttons__delete__btn-delete {
                @include btn-small($brand-danger);
                display: block;
                float: left;
            }
        }

        .goals__bulk-actions__buttons__cancel {

            .goals__bulk-actions__buttons__delete__btn-cancel {
                @include btn-small($brand-default);
                color: $gray-dark-1;
                display: block;
                float: left;
            }
        }

        .goals__bulk-actions__buttons__delete,
        .goals__bulk-actions__buttons__cancel {
            display: inline-block;
        }
    }
}
