@media (max-width: $screen-sm-min) {

    .goals__bulk-actions {

        .goals__bulk-actions__buttons {
            left: 0;

            .goals__bulk-actions__buttons__delete {

                .goals__bulk-actions__buttons__delete__btn-delete {

                }
            }

            .goals__bulk-actions__buttons__cancel {

                .goals__bulk-actions__buttons__delete__btn-cancel {

                }
            }

            .goals__bulk-actions__buttons__delete .goals__bulk-actions__buttons__delete__btn-delete,
            .goals__bulk-actions__buttons__cancel .goals__bulk-actions__buttons__delete__btn-cancel {
                width: 150px;
                height: 38px;
            }
        }
    }
}

@media (max-width: 600px) {
    .goals__bulk-actions {

        .goals__bulk-actions__buttons {

            .goals__bulk-actions__buttons__delete {
                padding-right: 5px;

                .goals__bulk-actions__buttons__delete__btn-delete {
                    width: 100%;
                    padding-right: 5px;
                }
            }

            .goals__bulk-actions__buttons__cancel {

                .goals__bulk-actions__buttons__delete__btn-cancel {
                    width: 100%;
                }
            }

            .goals__bulk-actions__buttons__delete,
            .goals__bulk-actions__buttons__cancel {
                width: 50%;
                float: left;
            }
        }
    }
}

@media (max-width: $screen-xs-min) {

    .goals__bulk-actions {
        min-height: 70px;

        .goals__bulk-actions__buttons {

            .goals__bulk-actions__buttons__delete,
            .goals__bulk-actions__buttons__cancel {
                width: 100%;
                float: left;
            }

            .goals__bulk-actions__buttons__delete {
                padding-right: 0;
            }

            .goals__bulk-actions__buttons__cancel {
                margin-top: 5px;
            }
        }
    }
}

