<div insights-empty-state-toggle show-empty-state="vm.monthsPerYearsStatistics.isOverallTransactionsEmpty()">

    <div class="insights__controls">
        <div class="insights__controls__chart-toggle insights__controls__chart-toggle--three">
            <a class="insights__controls__chart-toggle__entry" ng-class="{'insights__controls__chart-toggle__entry--active': vm.activeInterval === vm.INSIGHTS_INTERVAL.YEAR}" ng-click="vm.loadInsights(vm.INSIGHTS_INTERVAL.YEAR)" href="javascript:void(0)">1Y</a>
            <a class="insights__controls__chart-toggle__entry" ng-class="{'insights__controls__chart-toggle__entry--active': vm.activeInterval === vm.INSIGHTS_INTERVAL.HALF_YEAR}" ng-click="vm.loadInsights(vm.INSIGHTS_INTERVAL.HALF_YEAR)" href="javascript:void(0)">6M</a>
            <a class="insights__controls__chart-toggle__entry" ng-class="{'insights__controls__chart-toggle__entry--active': vm.activeInterval === vm.INSIGHTS_INTERVAL.QUARTER_YEAR}" ng-click="vm.loadInsights(vm.INSIGHTS_INTERVAL.QUARTER_YEAR)" href="javascript:void(0)">3M</a>
        </div>
    </div>

    <div class="insights__categories-controls">
        <a href="javascript:void(0)" ng-click="vm.selectAll()">Select all</a>
        <a href="javascript:void(0)" ng-click="vm.clearAll()">Clear all</a>
    </div>

    <div class="insights__categories">
        <div class="insights__categories__category" ng-repeat="category in vm.masterCategories | orderObjectBy : 'model.name' : false track by category.model.id">
            <button class="category-name" ng-class="{ 'category-name--unselected': ! category.selected }" ng-click="vm.toggleAndReloadInsights(category)">
                <span class="icon-checkmark-filled" ng-style="{'color': category.selected ? category.model.color.color : 'transparent'}" ng-show="category.selected"></span>
                <span class="icon-checkmark-light-unchecked" ng-show="!category.selected"></span>
                {{category.model.name}}
            </button>
        </div>
    </div>

    <div class="insights__chart__bar" fade-out-in fade-when="vm.isLoading" ng-if="! vm.isMinimumNumberOfAllowedUnselectedCategoriesExceeded()">

        <div class="spinner insights__loading" ng-if="vm.isLoading">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>

        <canvas id="line"
                class="chart chart-line"
                data="vm.insightLineData"
                series="vm.insightLineSeries"
                legend="false"
                options="vm.lineOptions"
                colours="vm.insightLineColors"
                labels="vm.insightLabels">
        </canvas>

    </div>

    <div class="insights__table insights__table--progress"
         ng-class="{'insights__table--6m': vm.activeInterval === vm.INSIGHTS_INTERVAL.HALF_YEAR, 'insights__table--3m': vm.activeInterval === vm.INSIGHTS_INTERVAL.QUARTER_YEAR}">
        <table fade-out-in fade-when="vm.isLoading">
            <tr class="insights__table__header">
                <th></th>
                <td class="insights__table__header__month" ng-repeat="availableYearMonthsEntry in vm.availableYearMonths">
                    <span ng-bind-html="availableYearMonthsEntry | friendlyMonthShortDateNoYear"></span>
                </td>
            </tr>
            <tr class="insights__table__total">
                <th>TOTAL</th>
                <td class="insights__table__entry__amount" ng-repeat="availableYearMonthsEntry in vm.availableYearMonths">
                    <span class="insights__table__entry__amount__th" ng-bind-html="availableYearMonthsEntry | friendlyMonthShortDateNoYear"></span>

                    <span class="insights__table__entry__amount__value" ng-bind-html="vm.totalAmountPerMonths[availableYearMonthsEntry] | currencysNoSymbol:vm.user.model.currency.symbol:vm.user.model.currency.fractionSize"></span>
                </td>
            </tr>
            <tr ng-repeat="category in vm.masterCategories | orderBy : 'model.name' : true">
                <th class="insights__table__category label-uppercase">
                    <span class="insights__table__category__color" ng-style="{'background':category.model.color.color}">C</span>
                    {{category.model.name}}
                </th>
                <td class="insights__table__entry__amount" ng-repeat="availableYearMonthsEntry in vm.availableYearMonths">
                    <span class="insights__table__entry__amount__th" ng-bind-html="availableYearMonthsEntry | friendlyMonthShortDateNoYear"></span>

                    <span class="insights__table__entry__amount__value" ng-bind-html="category.model.yearMonth[availableYearMonthsEntry] | currencysNoSymbol:vm.user.model.currency.symbol:vm.user.model.currency.fractionSize" ng-class="{ insights__table__zero : category.model.yearMonth[availableYearMonthsEntry] === 0}"></span>
                </td>
            </tr>
        </table>
    </div>

</div>
