<div insights-empty-state-toggle show-empty-state="vm.monthsPerYearsStatistics.isOverallTransactionsEmpty()">

    <!-- InsightsMonthly fetch form -->
    <div class="insights__controls">
        <form name="vm.insightForm" class="insights__controls__form" novalidate>

            <!-- Select prev month -->
            <button type="button" class="insights__controls__form__arrow insights__controls__form__arrow--left icon-chevron-left" ng-disabled="vm.isLoading || ! vm.canLoadPrevMonth()" ng-click="vm.prevMonth()"></button>

            <div class="insights__controls__form__month" ng-class="{'has-error': vm.insightForm.yearMonthDate.$invalid && vm.insightForm.$submitted}">

                <!--Hidden input of the insights chosen date-->
                <input type="hidden" name="yearMonthDate" ng-model="vm.insightData.yearMonthDate" required valid-date />

                <!--insights date picker-->
                <div class="insight__form__date__input">
                    <button type="button"
                            class="insight__form__date__input__btn"
                            ng-click="vm.openDatePicker($event)"
                            ng-model="vm.insightData.yearMonthDate"
                            datepicker-popup
                            is-open="vm.datePickerOpened"
                            ng-change="vm.onChange()"
                            ng-disabled="vm.isLoading"
                            datepicker-mode="'month'" min-mode="month"
                            date-disabled="vm.shouldDateBeDisabled(date, mode)"
                            show-button-bar="false"
                            datepicker-options="{minMode: 'month',datepickerMode: 'month'}">{{vm.isLoading ? 'Loading'
                        : (vm.insightData.yearMonthDate | friendlyMonthDate)}}
                    </button>
                </div>

                <!--Error messages-->
                <div class="form-group-input__message" ng-class="{'has-error': vm.insightForm.yearMonthDate.$invalid && vm.insightForm.$submitted}" ng-messages="vm.insightForm.yearMonthDate.$error" ng-if="vm.insightForm.$submitted">
                    <div ng-message="required">Please add a date.</div>
                    <div ng-message="validDate">Date should be in the past.</div>
                </div>
            </div>

            <!-- Select next month -->
            <button type="button" class="insights__controls__form__arrow insights__controls__form__arrow--right icon-chevron-right" ng-disabled="vm.isLoading || ! vm.canLoadNextMonth()" ng-click="vm.nextMonth()"></button>

        </form>

        <div class="insights__controls__chart-toggle insights__controls__chart-toggle--two">
            <a class="insights__controls__chart-toggle__entry" ng-class="{'insights__controls__chart-toggle__entry--active': vm.activeChart === vm.INSIGHTS_CHARTS.BAR}" href="javascript:void(0)" ng-click="vm.setActiveChart(vm.INSIGHTS_CHARTS.BAR)">Bar</a>
            <a class="insights__controls__chart-toggle__entry" ng-class="{'insights__controls__chart-toggle__entry--active': vm.activeChart === vm.INSIGHTS_CHARTS.DOUGHNUT}" href="javascript:void(0)" ng-click="vm.setActiveChart(vm.INSIGHTS_CHARTS.DOUGHNUT)">Pie</a>
        </div>

    </div>

    <!--Empty state if no expenses for current month-->
    <div class="insights__empty-state" ng-if="vm.insightsMonthly.isTransactionsEmpty()">
        <div class="insights__empty-state__icon"></div>
        <h1>No expenses on this month yet.</h1>

        <div>You'll get some insights here.</div>
    </div>

    <div ng-if="! vm.insightsMonthly.isTransactionsEmpty()">
        <div class="insights__summary">
            Hey, <span>{{currentUser.model.firstName}}</span>! In
            <span>{{(vm.insightData.yearMonthDate | friendlyMonthDate)}}</span>
            you've spent a total of
            <span class="label-info" ng-bind-html="vm.insightsMonthly.model.totalAmountSpent | currencys:vm.user.model.currency.symbol:vm.user.model.currency.fractionSize"></span>.
        </div>

        <div ng-if="vm.activeChart === vm.INSIGHTS_CHARTS.BAR" class="insights__chart__bar" fade-out-in fade-when="vm.isLoading">
            <canvas id="bar"
                    class="chart chart-bar"
                    data="vm.barInsightsPrepared.insightsBarData"
                    series="vm.barInsightsPrepared.insightsBarSeries"
                    legend="false"
                    options="vm.barOptions"
                    labels="vm.barInsightsPrepared.insightsBarLabels"
                    colours="vm.barInsightsPrepared.insightsBarColors">
            </canvas>
        </div>

        <div ng-if="vm.activeChart === vm.INSIGHTS_CHARTS.DOUGHNUT" class="insights__chart__doughnut" fade-out-in fade-when="vm.isLoading">
            <canvas class="pie chart-pie"
                    data="vm.donutInsightsPrepared.insightsDonutData"
                    labels="vm.donutInsightsPrepared.insightsDonutLabels"
                    legend="false"
                    options="vm.donutChartOptions"
                    colours="vm.donutInsightsPrepared.insightsDonutColors">
            </canvas>
        </div>

        <div class="insights__table insights__table--monthly">
            <table>
                <tr class="insights__table__total">
                    <th>TOTAL</th>
                    <td class="insights__table__total__amount">
                        <span ng-bind-html="vm.insightsMonthly.model.totalAmountSpent | currencys:vm.user.model.currency.symbol:vm.user.model.currency.fractionSize"></span>
                    </td>
                </tr>
                <tr ng-repeat="totalPerCategory in vm.insightsMonthly.model.totalPerCategoryInsightsDTOs">
                    <th class="insights__table__category label-uppercase">
                        <span class="insights__table__category__color" ng-style="{'background':totalPerCategory.categoryDTO.color.color}">C</span>
                        {{totalPerCategory.categoryDTO.name}}
                    </th>
                    <td class="insights__table__entry__amount">
                        <span ng-bind-html="totalPerCategory.totalAmount | currencys:vm.user.model.currency.symbol:vm.user.model.currency.fractionSize"></span>

                        <expenses-of-category total-per-category-insights="totalPerCategory" month-year-date="vm.insightData.yearMonthDate"></expenses-of-category>
                    </td>
                </tr>
            </table>
        </div>

        <div class="insights__summary">

            <div class="insights__summary__item">
                You had
                <span>{{vm.insightsMonthly.model.numberOfTransactions}} {{vm.insightsMonthly.model.numberOfTransactions | pluralisationFilter:'transaction':'transactions'}}</span>,
                in
                <span>{{vm.insightsMonthly.model.totalPerCategoryInsightsDTOs.length}} {{vm.insightsMonthly.model.totalPerCategoryInsightsDTOs.length | pluralisationFilter:'category':'categories'}}</span>.
            </div>

            <div ng-if="vm.insightsMonthly.isManyTransactions()">
                <div class="insights__summary__item">
                    Your biggest transaction was
                    <span class="label-info" ng-bind-html="vm.insightsMonthly.model.biggestExpense.value | currencys:vm.user.model.currency.symbol:vm.user.model.currency.fractionSize"></span>,
                    on
                    <span class="label-uppercase category__label" ng-style="{'background':vm.insightsMonthly.model.biggestExpense.category.color.color}">{{vm.insightsMonthly.model.biggestExpense.category.name}}</span>.
                </div>

                <div class="insights__summary__item">
                    You've spent the most on
                    <span class="label-uppercase category__label" ng-style="{'background':vm.insightsMonthly.model.highestAmountCategory.color.color}">{{vm.insightsMonthly.model.highestAmountCategory.name}}</span>.
                </div>

                <div ng-if="vm.insightsMonthly.model.categoryWithTheMostTransactionsInsightsDTO.numberOfTransactions > 1" class="insights__summary__item">
                    The category with the most transactions (<span>{{vm.insightsMonthly.model.categoryWithTheMostTransactionsInsightsDTO.numberOfTransactions}}</span>)
                    is
                    <span class="label-uppercase category__label" ng-style="{'background':vm.insightsMonthly.model.categoryWithTheMostTransactionsInsightsDTO.categoryDTO.color.color}">{{vm.insightsMonthly.model.categoryWithTheMostTransactionsInsightsDTO.categoryDTO.name}}</span>.
                </div>
            </div>

        </div>

    </div>

</div>
