<!--Empty state if no expenses overall-->
<div class="insights__empty-state" ng-if="showEmptyState">
    <div class="insights__empty-state__title">No data yet.</div>

    <div>
        <a href="javascript:void(0)" ui-sref="expenses.regular">Start adding</a> your expenses or
        <a href="javascript:void(0)" ui-sref="settings.import.choose">import from other apps</a> using csv export.
    </div>
</div>

<!--Transcluded content which will contain non-empty state of expenses (custom content)-->
<div ng-transclude ng-if="! showEmptyState"></div>
