<div header class="view-container__header"></div>

<div class="view-container__content" profile-form-toggle ng-init="profile.tab.active = 'profile'">

    <ul>
        <li>
            <a ng-class="{active:profile.tab.active == 'profile'}" ng-click="profile.tab.active = 'profile'">Profile</a>
        </li>
        <li>
            <a ng-class="{active:profile.tab.active == 'preferences'}" ng-click="profile.tab.active = 'preferences'">Preferences</a>
        </li>
    </ul>

    <div ng-switch="profile.tab.active">
        <div ng-switch-when="profile">
            <div ui-view="profile"></div>
        </div>
        <div ng-switch-when="preferences">
            <div ui-view="preferences"></div>
        </div>
    </div>

</div>`

<div footer class="view-container__footer"></div>