<!--Delete expense form-->
<div class="expense-form-container">

    <div class="expense-form-container__form">
        <div class="expense-form-container__form__question">
            Don't you need to remember to <strong>{{expense.model.text}}</strong> on
            <strong>{{expense.model.dueOn | friendlyDate}}</strong> anymore?
        </div>
        <div class="expense-form-container__form__recommend">
            <a href="javascript:void(0)" ng-click="dismiss()">Keep calm and don't delete it!</a>
        </div>
        <button type="submit" ladda="isDeleting" data-style="expand-left" data-spinner-size="20" class="btn btn--delete-expense" ng-click="expense.isCreatedBy(user.model.email) ? deleteExpenseAndClose(expense) : unSubscribeFromExpenseAndClose(expense)">Don't need it anymore</button>
    </div>

</div>