@import "variables";

@mixin flash($color, $bg-color) {
    display: block;
    width: 100%;
    margin-bottom: $base-spacing / 2;
    padding: $base-spacing / 2;
    @include border-radius($base-border-radius);
    text-align: center;
    background-color: $bg-color;
    color: $color;

    a {
        color: $color;
        text-decoration: underline;

        &:focus,
        &:hover {
            color: darken($color, 10%);
        }
    }
}

.alert-info {
    @include flash($brand-info-dark, $brand-info-light);

    .close {
        color: $brand-info;
    }
}

.alert-success {
    @include flash($brand-success, lighten($header-background-color, 8%));
    @include border-top-radius(0);
    border: solid 1px lighten($header-background-color, 14%);
    box-shadow: 0 1px 3px darken($header-background-color, 10%);
    margin-top: -1px;

    .close {
        color: $brand-success;
    }
}

.alert-warning {
    @include flash($brand-warning-dark, $brand-warning-light);

    .close {
        color: $brand-warning;
    }
}

.alert-error, .alert-danger {
    @include flash($brand-danger, $brand-danger-light);

    .close {
        color: $brand-danger;
    }
}

.alert--center {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: none;
    border: solid 1px orchid;
}

.alert {
    display: block;
}
