@import "variables";

@mixin flash($color) {
  background-color: lighten($color, 32%);
  color: $color;
  display: block;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  text-align: center;
  border: solid 1px $color;
  @include border-radius($base-border-radius);

  a {
    color: $color;
    text-decoration: underline;

    &:focus,
    &:hover {
      color: darken($color, 10%);
    }
  }
}

.alert-error {
  @include flash($error-color);
}

.alert-info {
  @include flash($notice-color);
}

.alert-success {
  @include flash($success-color);
}

.alert--center {
  width: 100%;
  max-width: 600px;
  margin: 10px auto 20px;
  text-align: center;
  display: none;
}

.alert {
  display: block;
}