.middle-block {
    padding-bottom: 10px;
    text-align: center;
}

.section-text {
    text-align: center;
    padding: 30px 20px;
    font-size: $font-size-larger;
    font-weight: $font-weight-regular;
}
