.label-uppercase {
  text-transform: uppercase;
}

.label-coming-soon {
  @include border-radius($base-border-radius);
  display: inline-block;
  background-color: $brand-info-light;
  color: $brand-info-dark;
  text-transform: uppercase;
  padding: 2px 5px;
  margin: 0 10px;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
}
