// Typography
//$base-font-family: "Open Sans", "Verdana", "Roboto", "Arial", sans-serif;
$base-font-family: "Lato", "Verdana", "Roboto", "Arial", sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-large: 16px;
$font-size-larger: 18px;
$font-size-largest: 20px;
$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 18px;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Heights and widths
$header-height: 60px;
$setup-currency-input-width: 220px;
$footer-height: 50px;
$settings-aside-width: 180px;
$add-expense-form-height: 50px;
$add-category-form-height: 40px;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;


// Colors
$white: #ffffff;
$black: #000000;

$gray-dark-3: #333333;
$gray-dark-2: #444444;
$gray-dark-1: #5F5F5F;
$gray-medium: #999;
$gray-light-1: #ddd;
$gray-light-2: #e8e8e8;
$gray-light-3: #f9f9f9;

$brand-primary: #51D8E5;

$brand-default: #E7E7E7;
$brand-default-dark: #D6D6D6;

$brand-success: #13ca6d;
$brand-success-dark: #8CC152;
$brand-success-light: lighten($brand-success, 45%);

$brand-info: #4FC1E9;
$brand-info-dark: #3BAFDA;
$brand-info-light: lighten($brand-info, 35%);

$brand-danger: #ED5565;
$brand-danger-dark: #DA4453;
$brand-danger-light: lighten($brand-danger, 32%);

$brand-warning: #FFCE54;
$brand-warning-dark: #F6BB42;
$brand-warning-light: lighten($brand-warning, 30%);


// Close
// ------------------------
$close-font-weight: bold !default;
$close-color: #000 !default;
$close-text-shadow: 0 1px 0 #fff !default;

// Font Colors
$base-background-color: #fff;
$base-font-color: $black;
$action-color: $brand-primary;


// Border
$base-border-color: $gray-light-1;
$base-border: 2px solid $base-border-color; // DON'T EVEN THINK ABOUT TOUCHING THIS !!!


// Forms
//$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow: none;
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$add-expense-form-border-color: $brand-primary;