// Typography
$base-font-family: "Montserrat", "Arial", sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-large: 16px;
$font-size-larger: 18px;
$font-size-largest: 20px;
$font-size-h1: 32px;
$font-size-h2: 24px;
$font-size-h3: 20px;

// Font Weights
$font-weight-extralight: 100;
$font-weight-light: 200;
$font-weight-regular: 300;
$font-weight-bold: 700;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Heights and widths
$header-height: 100px;
$header-height-responsive: 70px;
$header-brand-logo-size: 40px;
$header-responsive-breakpoint: 650px;

$setup-currency-input-width: 320px;
$footer-height: 50px;
$footer__home-height: 150px;
$settings-aside-width: 180px;
$add-expense-form-height: 60px;
$edit-expense-form-height: 50px;
$add-category-form-height: 40px;
$category-select-width: 100%;
$category-select-height: 35px;
$selectize-dropdown-height: 45px;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$white: #ffffff;
$black: #000000;

$gray-dark-3: #333333;
$gray-dark-2: #444444;
$gray-dark-1: #5F5F5F;
$gray-medium: #999;
$gray-light-1: #ddd;
$gray-light-2: #e8e8e8;
$gray-light-3: #f9f9f9;
$gray-light-4: #fcfcfc;

$brand-primary: #22A7F0;
$brand-primary-light: lighten($brand-primary, 40%);
$brand-primary-dark: darken($brand-primary, 25%);

$brand-secondary: #ED4B4C;
$brand-secondary-light: lighten($brand-secondary, 10%);
$brand-secondary-dark: darken($brand-secondary, 25%);

$brand-default: #E7E7E7;
$brand-default-dark: #D6D6D6;

$brand-success: #13ca6d;
$brand-success-accent: #13ca6d;
$brand-success-dark: darken($brand-success, 20%);
$brand-success-light: lighten($brand-success, 48%);

$brand-info: #4FC1E9;
$brand-info-accent: #3BAFDA;
$brand-info-dark: darken($brand-info, 20%);
$brand-info-light: lighten($brand-info, 35%);

$brand-danger: #ED5565;
$brand-danger-accent: #DA4453;
$brand-danger-dark: darken($brand-danger, 20%);
$brand-danger-light: lighten($brand-danger, 32%);

$brand-warning: #FFCE54;
$brand-warning-accent: #F6BB42;
$brand-warning-dark: darken($brand-warning, 20%);
$brand-warning-light: lighten($brand-warning, 30%);

$header-background-color: #2C3E50;
$landing-page: #363b48;

$social-facebook-color: #3b5998;
$social-google-color: #d34636;

// Close
// ------------------------
$close-font-weight: bold !default;
$close-color: #000 !default;
$close-text-shadow: 0 1px 0 #fff !default;

// Font Colors
$base-background-color: #fff;
$base-font-color: $black;
$action-color: $brand-primary;

// Border
$base-border-color: $gray-light-1;
$base-border: 1px solid $base-border-color;
// DON'T EVEN THINK ABOUT TOUCHING THIS !!!

// Forms
//$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow: none;
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$add-expense-form-border-color: $brand-primary;
