.import__edit__categories__input {
    height: 35px;
    width: 100%;
    padding: 0 10px;
    border: solid 1px $gray-lighter;
    @include border-radius($base-border-radius);
    color: $white;
    font-weight: $font-weight-regular;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);

    &:focus {
        outline: none;
    }
}
