.settings__import__choose {

}

.settings__import__choose__source {
  border: solid 1px $gray-lighter;
  @include size(450px 60px);
  margin: 0 auto 20px;
  padding: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  line-height: 56px;
  font-size: $font-size-larger;
  color: $gray-dark;

  &:hover {
    cursor: pointer;
    border-color: $gray-medium;

    .settings__import__choose__source__label,
    .settings__import__choose__source__arrow {
      color: $gray-darker;
    }
  }

  span {
    display: block;
    float: left;
  }

  .settings__import__choose__source__logo--mint         { @include cssSprite($logo-mint);         }
  .settings__import__choose__source__logo--spendee      { @include cssSprite($logo-spendee);      }
  .settings__import__choose__source__logo--wally        { @include cssSprite($logo-wally);        }

  .settings__import__choose__source__logo--mint,
  .settings__import__choose__source__logo--spendee,
  .settings__import__choose__source__logo--wally {
    @include size(40px 40px);  //this needs to be after the cssSprite declaraion above, to normalize the size of the logo
    @include border-radius(50%);
    margin: 10px;
    text-indent: -9999px;
  }

  .settings__import__choose__source__label {
    width: 330px;
  }

  .settings__import__choose__source__arrow {
    width: 40px;
    text-align: center;
  }
}

.settings__import__choose__source--soon {
  opacity: 0.5;

  &:hover {
    cursor: default;
    border-color: $gray-lighter;

    .settings__import__choose__source__label,
    .settings__import__choose__source__arrow {
      color: $gray-dark;
    }
  }
}