<!--// Expense list box header-->
<div class="expense-list-box__header" ng-click="togglePastRemindersContent()" ng-bind-html="expenses.length | remindersHeader : reverseOrder" ng-show="expenses.length"></div>

<!--Expense list content.-->
<div ng-show="showRemindersContent" class="expense-list-box" ng-class="{ 'expense-list-box--past-expenses': reverseOrder}">

    <!--Expense list is empty-->
    <div class="reminder__empty empty-state--text" ng-if="showEmptyRemindersContent && ! expenses.length">
        You have no expenses. Don't be shy, go ahead and create one! :)
    </div>

    <div class="expense-groups"
         ng-repeat="remindersGrouped in expenses | groupReminders:reverseOrder | groupLimit:expenses:remindersLimit track by remindersGrouped.name">

        <!--Expense group-->
        <div class="expense-group"> {{remindersGrouped.name}}</div>

        <!--Expense list-->
        <div class="expense"
             ng-click="openUpdateReminderModalService(expense, $index)"
             ng-repeat="expense in remindersGrouped.values | orderObjectBy : 'model.dueOn' : reverseOrder | filter:{model:{text:searchByText}} as filteredReminders track by expense.model.reminderId">

            <!--Expense title-->
            <div class="reminder__title" ng-bind-html="expense.model.text | highlightSearch:searchByText"></div>

            <!--Expense edit/delete-->
            <div class="reminder__menu">
                <a class="reminder__menu__option reminder__menu__option--delete simptip-position-left simptip-fade simptip-smooth" data-tooltip="Delete expense" href="javascript:void(0)" ng-click="expense.isCreatedBy(currentUserEmail) ? openDeleteReminderModalService(expense, $index) : openUnSubscribeReminderModalService(expense, $index); $event.stopPropagation();">
                    <span class="icon-trash"></span>
                </a>
            </div>

            <!--Expense info-->
            <div class="reminder__info">

                <!--Expense date-->
                <div class="reminder__info__item reminder__info__item--date">
                    <span class="icon-calendar"></span>
                    {{expense.model.dueOn | friendlyDate}}
                </div>

                <!--Expense hour-->
                <div class="reminder__info__item reminder__info__item--time">
                    <span class="icon-clock"></span>
                    {{expense.model.dueOn | friendlyHour}}
                </div>

                <!--Expense icons-->
                <div class="reminder__info__item reminder__info__item--additional">
                    <div class="reminder__info__item__icon reminder__info__item__icon--user">
                        <span ng-if="! expense.isCreatedBy(currentUserEmail)" class="simptip-position-bottom simptip-fade simptip-smooth simptip-multiline" data-tooltip="Created by: {{expense.model.createdByUser.firstName}} {{expense.model.createdByUser.lastName}} {{expense.model.createdByUser.email}}">
                            <span class="icon-user"></span>
                        </span>
                    </div>
                    <div class="reminder__info__item__icon reminder__info__item__icon--email">
                        <span ng-if="expense.isManyRecipients()" class="simptip-position-bottom simptip-fade simptip-smooth simptip-multiline" data-tooltip="Recipients: {{expense.model.recipients | friendlyRecipients}}">
                            <span class="icon-email"></span>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div ng-if="isStillRemindersToBeLoaded()" class="load-more-expenses">
        <button type="submit" ladda="isLoadingMore" data-style="expand-left" data-spinner-size="20" class="btn btn--load-more" ng-click="loadMoreReminders()">LOAD MORE</button>
    </div>

</div>