.expense__form__date__input {

    .expense__form__date__input__btn {
        position: relative;
        width: 300px;
    }

    .dropdown-menu {
        width: 300px;
        left: 500px !important;
    }
}
