<!-- Brand logo -->
<div class="brand-logo-block"><a ui-sref="home"></a></div>

<!-- Account sections -->
<div class="account">

    <!--Sign in-->
    <div class="account__section" ng-if="AccountModal.state === ACCOUNT_FORM_STATE.login" ng-controller="LoginController">

        <!--Close-->
        <div account-modal-close></div>

        <!-- Title -->
        <h1 class="account__title">Welcome!</h1>

        <!-- Login form -->
        <form name="loginForm" ng-submit="login(loginData)" novalidate focus-first-error>

            <!-- Flash messages. -->
            <div flash-messages flash="flash" identifier-id="{{alertIdentifierId}}"></div>

            <div class="form-group-input" ng-class="{'has-error': loginForm.$submitted && (loginForm.email.$invalid || badPostSubmitResponse)}">
                <input class="form-group-input__input" type="email" placeholder="email" name="email" ng-model="loginData.email" auto-focus required />
                <span class="form-group-input__message" ng-if="loginForm.email.$invalid && loginForm.$submitted">Please enter your email address.</span>
            </div>

            <!-- Form group -->
            <div class="form-group-input" ng-class="{'has-error': loginForm.$submitted && (loginForm.password.$invalid || badPostSubmitResponse)}">
                <input class="form-group-input__input" type="password" placeholder="password" name="password" ng-model="loginData.password" required />
                <span class="form-group-input__message" ng-if="loginForm.password.$invalid && loginForm.$submitted">Please enter your password.</span>
            </div>

            <!-- Reset password -->
            <a class="link-navigation" href="javascript:void(0)" ng-click="AccountModal.setState(ACCOUNT_FORM_STATE.forgotPassword)">Forgot login details?</a>

            <!-- Button container -->
            <button class="account__btn" type="submit">{{isRequestPending ? 'Logging in..' : 'Log in'}}</button>
        </form>

        <a class="link-navigation" href="javascript:void(0)" ng-click="AccountModal.setState(ACCOUNT_FORM_STATE.requestSignUpRegistration)">Don't have an account yet? Sign up!</a>

    </div>

    <!--Sign up-->
    <div class="account__section" ng-if="AccountModal.state == ACCOUNT_FORM_STATE.requestSignUpRegistration" ng-controller="HomeSignUpRegistrationController">

        <!--Close-->
        <div account-modal-close></div>

        <!-- Title -->
        <h1 class="account__title">Let's get you started!</h1>

        <!-- Sign-up form -->
        <form name="signUpForm" ng-submit="signUp(signUpData)" novalidate focus-first-error>

            <!-- Flash messages. -->
            <div flash-messages flash="flash" identifier-id="{{alertIdentifierId}}"></div>

            <!-- Form groups -->
            <div class="form-group-input" ng-class="{'has-error': signUpForm.$submitted && (signUpForm.firstName.$invalid || badPostSubmitResponse)}">
                <div class="form-group-input__message" ng-if="signUpForm.firstName.$invalid && signUpForm.$submitted">Please tell us your First Name.</div>
                <input class="form-group-input__input" type="text" name="firstName" placeholder="First Name" ng-model="signUpData.firstName" required />
            </div>

            <!-- Form group -->
            <div class="form-group-input" ng-class="{'has-error': signUpForm.$submitted && (signUpForm.lastName.$invalid || badPostSubmitResponse)}">
                <div class="form-group-input__message" ng-if="signUpForm.lastName.$invalid && signUpForm.$submitted">Please tell us your Last Name.</div>
                <input class="form-group-input__input" type="text" name="lastName" placeholder="Last Name" ng-model="signUpData.lastName" required />
            </div>

            <!-- Email input -->
            <div class="form-group-input" ng-class="{'has-error': signUpForm.$submitted && (signUpForm.email.$invalid || badPostSubmitResponse)}">
                <!-- Error messages -->
                <div class="form-group-input__message" ng-class="{'has-error': signUpForm.email.$invalid && signUpForm.$submitted}" ng-messages="signUpForm.email.$error" ng-if="signUpForm.$submitted">
                    <div ng-message="required">Please add your email address.</div>
                    <div ng-message="validEmail">Missed a letter? It looks like an invalid email address.</div>
                    <div ng-message="uniqueEmail">This email address is already used. <a href="javascript:void(0)" ng-click="AccountModal.setState(ACCOUNT_FORM_STATE.forgotPassword)">Forgot your password?</a></div>
                </div>
                <input class="form-group-input__input" type="email" name="email" placeholder="Email" ng-model="signUpData.email" required valid-email unique-email />
            </div>

            <!-- Form groups -->
            <div class="form-group-input" ng-class="{'has-error': signUpForm.$submitted && (signUpForm.password.$invalid || badPostSubmitResponse)}">
                <!-- Error messages -->
                <div class="form-group-input__message" ng-class="{'has-error': signUpForm.$submitted && signUpForm.password.$invalid}" ng-messages="signUpForm.password.$error" ng-if="signUpForm.$submitted">
                    <div ng-message="required">Please choose a password.</div>
                    <div ng-message="strongPassword">Your password needs to be at least 7 characters long.</div>
                </div>
                <input class="form-group-input__input" type="password" name="password" placeholder="Password" ng-model="signUpData.password" required strong-password />
            </div>

            <!-- Button container -->
            <button class="home__section__signup__btn" type="submit">Start my 14 day free trial</button>
        </form>

        <a class="link-navigation" href="javascript:void(0)" ng-click="AccountModal.setState(ACCOUNT_FORM_STATE.login)">Already have an account? Sign in here!</a>

    </div>

    <!-- Recover password section -->
    <div class="account__section" ng-if="AccountModal.state == ACCOUNT_FORM_STATE.forgotPassword" ng-controller="ForgotPasswordController">

        <!--Close-->
        <div account-modal-close></div>

        <!-- Title -->
        <h1 class="account__title">Can't remember your password?</h1>

        <!-- Explain -->
        <span class="account__explain">
            Please enter the e-mail you use to log in. We'll send you a link to reset your password.
        </span>

        <!-- Forgot password form -->
        <form name="forgotPasswordForm" ng-submit="requestPasswordReset(forgotPasswordData.email)" novalidate focus-first-error>

            <!-- Flash messages. -->
            <div flash-messages flash="flash" identifier-id="{{alertIdentifierId}}"></div>

            <!-- Form group -->
            <div class="form-group-input" ng-class="{'has-error': forgotPasswordForm.$submitted && (forgotPasswordForm.email.$invalid || badPostSubmitResponse)}">
                <input class="form-group-input__input" type="email" placeholder="Your email address" name="email" ng-model="forgotPasswordData.email" auto-focus required valid-email />

                <div class="form-group-input__message" ng-messages="forgotPasswordForm.email.$error" ng-if="forgotPasswordForm.$submitted">
                    <div ng-message="required">Please enter your email address.</div>
                    <div ng-message="validEmail">Missed a letter? It looks like an invalid email address.</div>
                </div>
            </div>

            <!-- Button container -->
            <button class="account__btn" type="submit">Reset password</button>
        </form>

        <a href="javascript:void(0)" class="link-navigation" ng-click="AccountModal.setState(ACCOUNT_FORM_STATE.login)">Nevermind, let me log in!</a>
    </div>

    <!-- Password recovery email sent section -->
    <div class="account__section" ng-if="AccountModal.state == ACCOUNT_FORM_STATE.forgotPasswordEmailSent">

        <!--Close-->
        <div account-modal-close></div>

        <!-- Title -->
        <h1 class="account__title">Email has been sent!</h1>

        <!-- Explain -->
        <span class="account__explain">Please check your email. We've sent you a link to reset your password.</span>

        <!-- Button container -->
        <a href="javascript:void(0)" class="link-navigation" ng-click="AccountModal.setState(ACCOUNT_FORM_STATE.login)">Actually I remember the password</a>
    </div>

</div>