<div class="sign-up__setup" xmlns="http://www.w3.org/1999/html">

    <div class="sign-up__setup__box">

        <h2 class="sign-up__setup__title">Awesome! Just one more step.</h2>

        <div class="sign-up__setup__section">
            Let's choose the currency and add a few categories to get you started.
        </div>

        <!-- Set up form -->
        <form name="setUpForm" ng-submit="setUp()" novalidate>

            <div class="sign-up__setup__section--currency">
                <div angucomplete-alt
                     selected-object="currency"
                     local-data="currencies"
                     search-fields="displayName,currencyCode"
                     title-field="currencyCode,displayName"
                     field-required="true"
                     field-required-class="sign-up__setup__section--currency--invalid"
                     id="ex1"
                     placeholder="Start typing your currency..."
                     maxlength="50"
                     pause="100"
                     minlength="1"
                     input-class="sign-up__setup__section--currency__input"
                     match-class="highlight">
                </div>
                <div ng-show="selectedCountry">
                    You selected
                    <span class="bold-span">{{selectedCountry.originalObject.name}}</span> which has a country code of
                    <span class="bold-span">{{selectedCountry.originalObject.code}}</span>
                </div>
            </div>

            <div class="sign-up__setup__tip">
                Choose
                <strong>at least 3</strong> categories we suggested or add your own. No worries, you can change, add or remove them later as well.
            </div>

            <div class="sign-up__box__categories">

                <div class="sign-up__box__categories__category" ng-repeat="category in categories track by category.name">
                    <!--Category group-->
                    <div class="category-name" ng-style="{'background':category.color}" ng-class="{ 'category-name--unselected': !category.selected }" ng-click="toggleCategorySelection($index)"> {{category.name}}</div>
                </div>

                <!--Toggle form-->
                <button ng-if="! showCategoryOnTheFlyInput" class="sign-up__box__categories__addbtn" ng-click="toggleContent()">+ Add another</button>

                <ng-form submit-on="add-category-on-the-fly-event" ng-submit="onSubmitted($event)" name="categoryOnTheFlyForm" class="sign-up__box__categories__category__form" ng-if="showCategoryOnTheFlyInput">

                    <div ng-class="{'has-error': categoryOnTheFlyForm.$submitted && categoryOnTheFlyForm.name.$invalid}">

                        <!-- Error messages -->
                        <div class="form-group-input__message" ng-class="{'has-error': categoryOnTheFlyForm.name.$invalid}" ng-messages="categoryOnTheFlyForm.name.$error" ng-if="categoryOnTheFlyForm.$submitted">
                            <div ng-message="required">Name is mandatory.</div>
                            <div ng-message="validCategoryName">Name is not valid.</div>
                        </div>

                        <!--The on the fly input category-->
                        <input class="sign-up__box__categories__addinput simptip-position-bottom simptip-info" type="text" placeholder="Just hit Enter to save" name="name" ng-model="$parent.categoryOnTheFly" data-tooltip="Just hit Enter to save" ng-enter="triggerSubmit()" auto-focus required valid-category-name />
                    </div>
                </ng-form>
            </div>

            <!-- Flash messages. -->
            <div flash-messages flash="flash" identifier-id="{{alertIdentifierId}}"></div>

            <!-- Button -->
            <button ladda="isSaving" data-style="expand-left" data-spinner-size="20" class="sign-up__setup__btn" type="submit">Done! Let's start!</button>
        </form>

    </div>

</div>