<div class="sign-up__setup">

    <div class="sign-up__setup__box">

        <div class="sign-up__setup__section">
            <strong>Great! Let's choose the currency and add a few categories to get you started.</strong>
        </div>

        <div class="sign-up__setup__section sign-up__setup__section__currency">
            <div class="sign-up__setup__section__currency__label">Choose your currency:</div>
            <div class="sign-up__setup__section__currency__dropdown">
                European EURO
            </div>
        </div>

        <div class="sign-up__setup__tip">
            Choose
            <strong>at least 3</strong> categories we suggested or add your own. No worries, you can change, add or remove them later as well.
        </div>

        <div class="sign-up__box__categories">

            <div class="sign-up__box__categories__category" ng-repeat="category in categories track by category.name">

                <!--Category group-->
                <div class="category-name" ng-style="{'background':category.color}" ng-class="{ 'category-name--unselected': !category.selected }" ng-click="toggleCategorySelection($index)"> {{category.name}}</div>
            </div>
        </div>

    </div>

    <!-- Set up form -->
    <form name="setUpForm" ng-submit="setUp()" novalidate>

        <!-- Flash messages. -->
        <div flash-messages flash="flash" identifier-id="{{alertIdentifierId}}"></div>

        <!-- Button container -->
        <button class="sign-up__setup__btn" type="submit">Done! Let's start!</button>
    </form>

</div>