<div class="account__oauth" ng-controller="OauthConnectController as vm">
    <!-- Flash messages. -->
    <div flash-messages flash="flash" identifier-id="{{vm.alertId}}"></div>

    <div class="account__oauth__text">Connect with</div>

    <a class="account__oauth__btn account__oauth__btn--facebook" href="javascript:void(0)" ng-click="vm.connectWith('facebook')">
        Facebook
    </a>

    <a class="account__oauth__btn account__oauth__btn--google" href="javascript:void(0)" ng-click="vm.connectWith('google')">
        Google
    </a>

    <span class="account__oauth__or">or</span>
</div>
