<!-- Validate password reset token section -->
<div class="account__section" ng-hide="successfullyReseted">

    <!-- Title -->
    <h1 class="account__title">Reset your password.</h1>

    <!-- Reset password form -->
    <form name="resetPasswordForm" ng-submit="resetPassword(resetPasswordData)" novalidate>

        <!-- Flash messages. -->
        <div flash-messages flash="flash" identifier-id="{{alertId}}"></div>

        <!-- Form group -->
        <div class="form-group-input" ng-class="{'has-error': resetPasswordForm.$submitted && (resetPasswordForm.password.$invalid || badPostSubmitResponse)}">
            <input class="form-group-input__input" type="password" placeholder="New password" name="password" ng-model="resetPasswordData.password" auto-focus required strong-password />

            <div class="form-group-input__message" ng-messages="resetPasswordForm.password.$error" ng-if="resetPasswordForm.$submitted">
                <div ng-message="required">Please add the new password.</div>
                <div ng-message="strongPassword">Needs to be at least 7 characters long.</div>
            </div>
        </div>

        <!-- Form group -->
        <div class="form-group-input" ng-class="{'has-error': resetPasswordForm.$submitted && (resetPasswordForm.passwordConfirmation.$invalid || badPostSubmitResponse)}">
            <input class="form-group-input__input" type="password" placeholder="New password confirmation" name="passwordConfirmation" ng-model="resetPasswordData.passwordConfirmation" required strong-password />

            <div class="form-group-input__message" ng-messages="resetPasswordForm.passwordConfirmation.$error" ng-if="resetPasswordForm.$submitted">
                <div ng-message="required">Please reconfirm the new password.</div>
                <div ng-message="strongPassword">Needs to be at least 7 characters long.</div>
            </div>
        </div>

        <!-- Button container -->
        <button class="account__btn" type="submit">Reset password</button>
    </form>

</div>

<!-- Change password section successfully-->
<div class="account__section" ng-hide="!successfullyReseted">

    <!-- Title -->
    <h1 class="account__title">Successfully</h1>

    <!-- Explain -->
    <span class="account__explain">
        We've successfully updated your password.
    </span>
</div>
