// Feedback modal
// ----------------

.modal-content {
    box-shadow: none;
    border-color: transparent;
}

.modal-feedback {

    // Modal header
    // -------------

    .modal-header {

        // Modal header title
        // -------------------

        h3 {
            margin: 0;
            padding: 0;
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            color: #fff;
        }
    }

    // Modal body
    // ------------

    .modal-body {
        padding: 40px 15px 15px 15px;

        // Textarea
        // ----------

        textarea {
            resize: vertical;
        }

        // Status message
        // ----------------

        .sending-status {
            margin: 60px 0 70px;
            text-align: center;
            font-size: 27px;
            color: #ccc;
        }
    }

    // Modal footer
    // ---------------

    .modal-footer {
        margin-top: 0;
        border-color: transparent;

        // Buttons
        // ---------

        .btn {
            padding: 7px 16px;
        }
    }
}

.feedback-modal__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    padding: 10px;
    background-color: $brand-primary;
    text-align: center;
    color: $white;
    font-size: 16px;
    line-height: 26px;
    @include border-top-radius(3px);
}

.feedback-modal__form__close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;

    button {
        font-size: 30px;
        padding: 14px;
        background-color: transparent;
    }
}

.modal-footer__cancelbtn,
.modal-footer__sendbtn {
    width: 120px;
}

.modal-footer__cancelbtn {
    @include btn-big(transparent);
    color: $gray-medium;
}

.modal-footer__sendbtn {
    @include btn-big($brand-primary);
}

.sending-status {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}
