.footer__home {
    width: 100%;
    height: $footer__home-height;
    padding: 10px 5px 30px 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $white;
    color: $gray-medium;
}

.footer__home__wrapper {
    @include outer-container();
}

.footer__home__logo {
    @include span-columns(4);
    color: $black;
}

.footer__home__links {
    @include span-columns(3);
    @include shift(5);

    li {

    }
}
