.footer__home {
  width: 100%;
  height: $footer__home-height;
  padding: 10px 5px 30px 5px;
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: $gray-dark-2;
  color: $gray-medium;
}

.footer__home__wrapper {
  @include outer-container();
}


.footer__home__logo,
.footer__home__links__legal,
.footer__home__links__social {
  @include span-columns(4);
  @include omega(3n);

  li {
    padding: 5px 0;
  }
}

.footer__home__logo {
  color: $gray-light-1;
}

.footer__home__links__legal {

  li a {
    color: $gray-dark-1;
  }

}

.footer__home__links__social {

  li {
    color: $gray-dark-1;
  }
}
