@media (max-width: $header-responsive-breakpoint) {
    .header-public__brand {
        float: none;
        display: inline-block;
        margin: 0 auto;
    }

    .header-public__navigation {
        display: none;
    }
}

@media (max-width: 350px) {
    .header-public__brand {
        float: right;
        margin-right: 10px;
    }
}
