.header__wrapper {
    background-color: $header-background-color;
}

.header {
    @include outer-container();
    @include clearfix();
    height: $header-height;
    padding: 0;
}

.header__brand {
    float: left;
    height: $header-height;
    position: relative;
    margin-right: 40px;
}

.header__brand--logo {
    @include size($header-brand-logo-size $header-brand-logo-size);
    background: url("/assets/img/logo.svg") no-repeat top left;
    background-size: contain;
    position: absolute;
    display: block;
    left: 15px;
    top: ($header-height/2) - ($header-brand-logo-size/2);

    &:hover {
        cursor: pointer;
    }
}

.header__brand--name {
    @include brand-inline();
    color: $white;
    display: none;
}

.header__navigation {
    float: left;
    margin-left: 40px;
    padding: 0;
    height: $header-height;
    @include clearfix();

    li {
        display: block;
        float: left;
        height: 100%;
        min-width: 120px;
        padding: 0;
        margin: 0;
        text-align: center;
        color: lighten($header-background-color, 20%);
        @include transition(all 0.3s);
        position: relative;
        @include user-select(none);

        &:hover {
            color: lighten($header-background-color, 40%);
        }

        .header__navigation__icon {
            position: absolute;
            top: 20px;
            left: 0;
            right: 0;
            font-size: 28px;
        }

        .header__navigation__link,
        .header__navigation--comingsoon__label {
            display: block;
            position: relative;
            padding-top: 58px;
            height: 100%;
            color: lighten($header-background-color, 20%);
        }

        .header__navigation__link {
            &:hover {
                color: lighten($header-background-color, 40%);
            }
        }

        .nav-coming-soon {
            color: lighten($header-background-color, 10%);;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 5px;
            font-size: $font-size-small;
        }
    }

    .header__navigation--comingsoon:hover {
        color: lighten($header-background-color, 20%);
        cursor: default;
    }

    .header__navigation--active,
    .header__navigation--active:hover {
        color: $white;
        background-color: darken($header-background-color, 4%);
        border-bottom: solid 5px $brand-danger;
        text-shadow: 1px 1px 1px darken($header-background-color, 20%);;

        a {
            color: $white;
        }
    }
}

.header__navigation__toggle {
    @include btn-big($brand-primary);
    position: absolute;
    top: 15px;
    left: 15px;
    text-transform: uppercase;
    display: none;
}

.header__navigation--links {
    height: $header-height;
    float: right;

    ul {
        padding: 2px 0 0 0;
        @include clearfix();
    }
}

.header__navigation--links__item {
    display: block;
    width: 35px;
    height: 35px;
    margin: 3px 2px 0 0;
    padding: 0;
    float: left;

    img, a {
        @include border-radius(50%);
    }

    img {
        width: 30px;
        height: 30px;
        margin-top: 3px;
    }

    a {
        display: block;
        height: 100%;
        padding: 3px 5px;
        font-size: 24px;
        color: lighten($header-background-color, 25%);

        &:hover {
            color: lighten($header-background-color, 45%);
        }
    }
}
