.header-home {
  @include outer-container;
  @include clearfix;
  height: 60px;
  line-height: 55px;
}

.header-home__brand {
  float: left;
  height: 60px;
}

.header-home__brand--logo {
  @include size(32px 32px);
  display: inline-block;
}

.header-home__brand--name {
  display: inline-block;
  font-size: 1em;
  color: $black;
  font-weight: $font-weight-bold;
}

.header-home__navigation {
  float: right;
  padding-left: 5px;
  height: 60px;

  li {
    display: inline-block;
  }
}

.header-home__navigation--btn {
  @include btn-small($brand-primary);
}