.header {
  @include outer-container();
  @include clearfix();
  height: $header-height;
  line-height: $header-height;
  padding: 0;
}

.header__brand {
  float: left;
  height: 60px;
}

.header__brand--name {
  @include brand-inline();
}

.header__navigation {
  margin: 0 auto;
  padding: 0;
  height: 60px;
  width: 340px;

  li {
    display: inline-block;
    width: 110px;
    margin: 0;
    text-align: center;
    position: relative;

    a {
      display: block;
    }

    span {
      color: $gray-light;
      position: absolute;
      top: 15px;
      left: 25px;
      font-size: 10px;
    }
  }
}

.header__dropdown {
  float: right;
  @include calc(height, "#{$header-height} - 2px");
  border: solid 0px $gray-medium;
  position: relative;

  .header__dropdown__toggle {
    @include btn($white);
    border-width: 0;
    height: 100%;
    color: $gray-medium;

    &:hover {
      background-color: #fafafa;
    }
  }

  .header__dropdown__avatar {
    display: inline-block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    @include border-radius(50%);
    background: url("http://api.randomuser.me/portraits/thumb/women/8.jpg") no-repeat;
    background-size: contain;
    text-align: center;
    text-indent: -9999px;
  }

  .header__dropdown__menu {
    right: 0;
  }
}