.header__wrapper--top {
    background-color: $header-background-color;

    .header {
        height: 55px;
    }
}

.header__wrapper {
    background-color: $header-background-color;
    border-bottom: solid 1px $gray-light-2;

    .header {
        height: $header-height;
    }
}

.header {
    @include outer-container();
    @include clearfix();
    padding: 0;
    position: relative;
}

.header__brand {
    float: left;
    position: relative;
    margin-right: 40px;
}

.header__brand--responsive {
    display: none;
}

.header__brand--logo {
    @include size($header-brand-logo-size $header-brand-logo-size);
    background: url("../assets/img/logo.svg") no-repeat top left;
    background-size: contain;
    margin: 6px 2px 0 0;
    display: block;
    float: left;

    &:hover {
        cursor: pointer;
    }
}

.header__brand--name {
    @include brand-inline();
    color: $white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: $font-weight-regular;
    float: left;
    line-height: 45px;
    padding-left: 5px;

    &:hover {
        color: $white;
        cursor: pointer;
    }
}

.header__navigation {
    float: left;
    padding: 0;
    height: $header-height;
    @include clearfix();

    li {
        display: block;
        float: left;
        height: 100%;
        padding: 0 20px;
        margin: 0;
        text-align: center;
        @include transition(all 0.2s);
        position: relative;
        @include user-select(none);
    }

    .header__navigation--active,
    .header__navigation--active:hover {
        border-bottom: solid 3px $brand-primary;

        a {
            color: $black;
        }
    }
}

.header__navigation__link {
    display: block;
    position: relative;
    padding-top: 13px;
    height: 100%;
    color: $gray-medium;
    text-transform: uppercase;
    font-weight: $font-weight-medium;
    font-family: $heading-font-family;

    &:hover {
        color: $gray-dark-2;
    }
}

.header__navigation__secondary {
    height: $header-height;
    position: absolute;
    right: 0;
    top: 0;

    .header__navigation__link {
        //color: $gray-light-1;
        text-transform: none;
        font-weight: $font-weight-regular;
        border: solid 1px $gray-medium;
    }
}

.header__navigation__toggle {
    @include btn-big($brand-primary);
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    display: none;
}

.header__navigation--links {
    height: $header-height;
    float: right;

    ul {
        padding: 2px 0 0 0;
        @include clearfix();
    }
}

.header__navigation--links__item {
    display: block;
    height: 35px;
    margin: 3px 2px 0 0;
    padding: 0;
    float: left;

    img, a {
        @include border-radius(50%);
    }

    img {
        width: 30px;
        height: 30px;
        margin-top: 3px;
    }

    a {
        display: block;
        height: 100%;
        padding: 3px 5px;
        font-size: 24px;
        color: $gray-medium;

        &:hover {
            color: darken($gray-medium, 5%);
        }
    }
}
