.header-home__wrapper {
  background-color: $white;
}

.header-home {
  @include outer-container;
  @include clearfix;
  height: 60px;
  line-height: 55px;
}

.header-home__brand {
  float: left;
  height: 60px;
  position: relative;
}

.header-home__brand--logo {
  @include size(40px 40px);
  background: url("../assets/img/logo.svg") no-repeat top left;
  background-size: contain;
  position: absolute;
  display: block;
  left: 5px;
  top: 10px;
}

.header-home__brand--name {
  @include brand-inline();
  padding: 3px 0 0 55px;
  font-size: $font-size-largest;
  font-weight: $font-weight-regular;

  &:hover {
    color: $black;
  }
}

.header-home__navigation {
  float: right;
  padding-left: 5px;
  height: 60px;

  li {
    display: inline-block;
    text-transform: uppercase;

    a {
      color: $gray-dark-1;

      &:hover {
        color: $gray-light-1;
      }
    }
  }
}

.header-home__navigation--loginbtn {
  @include btn-small($brand-default);
  color: $gray-dark-1;
}

.header-home__navigation--signupbtn {
  @include btn-small($brand-secondary);
}