.header__wrapper {
    background-color: $header-background-color;
}

.header {
    @include outer-container();
    @include clearfix();
    height: $header-height;
    padding: 0;
}

.header__brand {
    float: left;
    height: $header-height;
    position: relative;
    margin-right: 40px;
}

.header__brand--logo {
    @include size($header-brand-logo-size $header-brand-logo-size);
    background: url("../assets/img/logo.svg") no-repeat top left;
    background-size: contain;
    position: absolute;
    display: block;
    left: 15px;
    top: ($header-height/2) - ($header-brand-logo-size/2);

    &:hover {
        cursor: pointer;
    }
}

.header__brand--name {
    @include brand-inline();
    color: $white;
    display: none;
}

.header__navigation {
    float: left;
    margin-left: 40px;
    padding: 0;
    height: $header-height;

    li {
        display: inline-block;
        height: 100%;
        min-width: 120px;
        padding: 0;
        margin: 0;
        text-align: center;
        color: lighten($header-background-color, 20%);
        cursor: pointer;
        @include transition(all 0.3s);
        position: relative;

        &:hover {
            color: lighten($header-background-color, 40%);
        }

        .header__navigation__icon {
            font-size: 28px;
            display: block;
            height: 58px;
            padding-top: 22px;
        }

        .nav-coming-soon {
            color: red;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            font-size: $font-size-small;
        }
    }

    .header__navigation--active,
    .header__navigation--active:hover {
        color: $white;
        background-color: darken($header-background-color, 4%);
        border-bottom: solid 5px $brand-danger;
        text-shadow: 1px 1px 1px darken($header-background-color, 20%);;

        a {
            color: $white;
        }
    }
}

.header__navigation__toggle {
    @include btn-big($brand-primary);
    position: absolute;
    top: 15px;
    left: 15px;
    text-transform: uppercase;
    display: none;
}

.header__dropdown {
    @include calc(height, "#{$header-height} - 2px");
    float: right;
    border: solid 0px $gray-medium;
    position: relative;

    .header__dropdown__toggle {
        @include btn($white);
        background-color: transparent;
        border-width: 0;
        height: 100%;
        min-width: 120px;
        color: lighten($header-background-color, 20%);
        position: relative;
        padding: 10px;
        text-align: center;

        &:hover,
        &:focus {
            color: lighten($header-background-color, 40%);
            background-color: transparent;
        }
    }

    .header__dropdown__avatar,
    .header__dropdown__username {
        display: block;
    }

    .header__dropdown__avatar {
        height: 50px;
        margin: 0 auto;
        @include border-radius(50%);
    }

    .header__dropdown__username {
        padding: 0 15px;
        text-align: center;
    }

    .caret {
        position: absolute;
        right: 5px;
        top: ($header-height/2);
        border-width: 5px 6px 0 6px;
    }

    .header__dropdown__menu {
        padding: 0;
        left: auto;
        right: 1px;
        top: 90px;
        @include box-shadow(none);
        @include border-radius($border-radius-base);
        box-shadow: 0 0 15px rgba(150, 150, 150, 0.5);
        @include fadeInDown(0.2s);

        li {
            padding: 0;
            margin: 0;

            a {
                padding: 10px 15px;
            }
        }
    }
}
