.side__menu {
    display: none;
}

.side__menu__user {
    position: relative;
    height: 150px;
    background-color: $white;
    padding: 30px 5px 5px 5px;
    text-align: center;

    .side__menu__user__avatar {
        display: block;
        margin: 0 auto;
        @include border-radius(50%);
        @include size(60px 60px);
    }
}

.side__menu__user__name {
    color: $gray-dark-3;
    font-size: $font-size-larger;
}

.side__menu__user__email {
    color: $gray-light-1;
    font-weight: $font-weight-light;
}

.side__menu__list {
    padding: 0;

    li {
        background-color: $white;
        height: 50px;
        line-height: 47px;
        font-size: $font-size-larger;
        margin: 1px 0;
        color: $gray-medium;
        position: relative;
        padding: 0;

        &:hover {
            color: $gray-dark-1;
        }
    }

    .side__menu__list__item {

    }

    .side__menu__icon {
        font-size: $font-size-larger;
        color: $gray-light-1;
        position: absolute;
        top: 3px;
        left: 12px;
    }

    .side__menu__link {
        display: block;
        position: relative;
        padding-left: 40px;
    }

    .side__menu--disabled,
    .side__menu--disabled:hover {
        color: $gray-light-2;
        cursor: default;

        .side__menu__icon {
            color: $gray-light-2;
        }

        .side__menu--disabled__label {
            padding-left: 40px;
        }
    }

    span.label-coming-soon {
        display: inline;
    }

    .side__menu--active {
        border-left: solid 10px $brand-secondary;
        color: $black;

        .side__menu__icon {
            color: $gray-dark-2;
        }
    }
}

.side__menu__list--secondary {
    margin-top: 20px;
}