@media (max-width: 600px) {
    .header-public__brand {
        float: none;
        display: inline-block;
        margin: 0 auto;
    }

    .header-public__navigation {
        display: none;
    }
}