<div class="error__sections">
    <h1 class="error__sections__heading">Ooops.. little stumble on the server.</h1>

    <div class="error__sections__reason">Nothing you did. It seems like an internal problem on the server.</div>
    <div class="error__sections__reason error__sections__reason--last">If this seems like an ongoing problem please let us know at <a class="error__sections__link" href="mailto:hello@revaluate.io">hello@revaluate.io</a></div>

    <a class="error__sections__link" href="javascript:void(0)" ng-click="goToHomePage()">Go to homepage</a>

</div>
