<div header-home></div>

<div class="home">

    <h1 class="home__title">Improve the way you spend your money</h1>

    <h3 class="home__description">Keep a record of all your expenses. Or just some of them. Your choice.
        <br> Have simple insights and set clear goals.</h3>

    <div class="home__action-btn">
        <div class="home__action-btn--label">Get started now!</div>
        <div class="home__action-btn--pricing">It's free for 15 days, then $7/month.</div>
    </div>

</div>

<!--<div footer-home class="view-container__footer"></div>-->

