\<div layzr-initializer>

    <div id="section__0" class="section active site__container site__container--homemain">

        <div header></div>

        <div class="site__container__section">

            <h1 class="home__title" translate="HOME.TITLE_TEXT"></h1>

            <h3 class="home__description" translate="HOME.DESCRIPTION_TEXT"></h3>
        </div>

        <div class="site__container__section site__container__section--ctabtns">
            <button class="home__section__start__btn" type="button" account-modal-toggle="requestSignUpRegistration">
                Create your free account!
            </button>
        </div>

        <div class="home__section__tour-screenmain">
            <img data-layzr="assets/img/home/screen__main.png">
        </div>

        <div class="site__container__section home__section__tour-arrow">
            <span class="icon-chevron-down-circled" du-smooth-scroll="section__1" duration="1000"></span>
        </div>

    </div>

    <!-- Features -->
    <div id="section__1" class="section site__container">

        <!-- Main features -->
        <div class="site__container__section site__container__section--wide">

            <!-- Section title-->
            <div class="site__container__section__title">How people use Revaluate</div>

            <!-- Feature: Track expenses -->
            <div class="site__container__section__feature">

                <div class="site__container__section__feature__img">
                    <img data-layzr="assets/img/home/screen__expenses.png">
                </div>

                <div class="site__container__section__feature__title">Track your expenses</div>

                <div class="site__container__section__feature__description">
                    Track expenses in your wallet by adding the price, the category you spent that on and optionally a
                    description that is more meaningful to you.
                </div>

            </div>

            <!-- Feature: Define categories -->
            <div class="site__container__section__feature">

                <div class="site__container__section__feature__img">
                    <img data-layzr="assets/img/home/screen__categories.png">
                </div>

                <div class="site__container__section__feature__title">Customize your categories</div>

                <div class="site__container__section__feature__description">
                    Your money, your categories. Define 3 or 15 categories, be as accurate as you choose to be.
                </div>

            </div>

            <!-- Feature: Insights -->
            <div class="site__container__section__feature">

                <div class="site__container__section__feature__img">
                    <img data-layzr="assets/img/home/screen__insights.png">
                </div>

                <div class="site__container__section__feature__title">Get meaningful insights</div>

                <div class="site__container__section__feature__description">
                    Get simple, yet meaningful insights regarding your expenses, to identify the categories you want to
                    improve.
                </div>

            </div>

            <!-- Feature: Goals -->
            <div class="site__container__section__feature">

                <div class="site__container__section__feature__img">
                    <img data-layzr="assets/img/home/screen__goals.png">
                </div>

                <div class="site__container__section__feature__title">Achieve your goals</div>

                <div class="site__container__section__feature__description">
                    Get simple, yet meaningful insights regarding your expenses, to identify the categories you want to
                    improve.
                </div>

            </div>

            <!-- Feature: Import -->
            <div class="site__container__section__feature">

                <div class="site__container__section__feature__img">
                    <img data-layzr="assets/img/home/screen__import.png">
                </div>

                <div class="site__container__section__feature__title">Import your expenses</div>

                <div class="site__container__section__feature__description">
                    You are already tracking your expenses using other apps? No worries, just import them into
                    Revaluate.
                </div>

            </div>

            <!-- Feature: Slack Integration -->
            <div class="site__container__section__feature">

                <div class="site__container__section__feature__img">
                    <img data-layzr="assets/img/home/screen__slack.png">
                </div>

                <div class="site__container__section__feature__title">Slack Integration</div>

                <div class="site__container__section__feature__description">
                    Are you using Slack? So are we! Track your expenses without leaving Slack. You can add, list
                    expenses and list your categories by using a Slack command.
                </div>

            </div>

        </div>

    </div>

    <!-- Features -->
    <div class="section site__container">

        <!--Next features-->
        <div class="site__container__section site__container__section--wide">

            <div class="site__container__section__title">
                And there's more to come
                <span class="label-coming-soon">coming soon</span>
            </div>

            <ul class="site__container__section__cards">
                <li>
                    <div class="icon__calendar"></div>
                    <h3>Plan your expenses ahead</h3>

                    <div>You'll be able to plan your expenses ahead so you'll know what to expect each month.</div>
                </li>
                <li>
                    <div class="icon__debts"></div>
                    <h3>Track your debts and lendings</h3>

                    <div>Track how you stand with your debts and the money you lent.</div>
                </li>
                <li>
                    <div class="icon__split"></div>
                    <h3>Split bills with friends</h3>

                    <div>Easily split those expenses from multiple bills and multiple people.</div>
                </li>
            </ul>

        </div>

    </div>

    <div class="site__container site__container--blue">

        <!-- Twitter hook -->
        <div class="site__container__section site__container__section--wide site__container__section--accent">

            <div>Be the first to know when we launch new features!</div>

            <div>
                <a href="http://www.twitter.com/revaluateapp" target="_blank">Follow @revaluateapp</a>
            </div>

        </div>
    </div>



    <div class="site__container">

        <!-- Basic features-->
        <div class="site__container__section site__container__section--wide">

            <div class="site__container__section__title">What makes Revaluate special?</div>

            <ul class="site__container__section__cards">
                <li>
                    <div class="icon__simple"></div>
                    <h3>Simple</h3>

                    <div>Revaluate is designed to be simple, as few features as possible to deliver the best value.</div>
                </li>
                <li>
                    <div class="icon__personal"></div>
                    <h3>Personal</h3>

                    <div>Revaluate is built for personal use, with intuitive interface and beautiful design. Accountants will not feel at home.</div>
                </li>
                <li>
                    <div class="icon__secure"></div>
                    <h3>Secure</h3>

                    <div>We are talking about financial information, so Revaluate uses SSL encryption.</div>
                </li>
            </ul>

        </div>

    </div>


    <div class="site__container site__container--purple">

        <!-- Twitter hook -->
        <div class="site__container__section site__container__section--wide site__container__section--accent">

            <div>Start changing your spending habits now!</div>

            <button type="button" account-modal-toggle="requestSignUpRegistration">
                Create your FREE account!
            </button>

        </div>
    </div>


    <div class="site__container">

        <!-- Basic features-->
        <div class="site__container__section site__container__section--wide">

            <!-- Counter of expenses-->
            <div class="site__counter">
                <div class="site__counter__value" odometer odometer-options="{theme: 'default', duration: 3000}"></div>
                <div class="site__counter__key"> expenses tracked with Revaluate so far</div>
            </div>

            <div class="site__container__section__title">What our users say about Revaluate</div>

            <ul class="site__container__section__testimonials">
                <li class="site__container__section__testimonials__entry">
                    <div class="site__container__section__testimonials__entry__avatar avatar__quentin-pautrat"></div>
                    <div class="site__container__section__testimonials__entry__name">Quentin Pautrat</div>
                    <a class="site__container__section__testimonials__entry__url" href="https://twitter.com/qpautrat">@qpautrat</a>
                    <div class="site__container__section__testimonials__entry__quote">Revaluate is really easy to use. I
                        know how much I spend each month. I love the fact that Revaluate helps me to have a better
                        understanding of my expenses.
                    </div>
                </li>
                <li class="site__container__section__testimonials__entry">
                    <div class="site__container__section__testimonials__entry__avatar avatar__ghita-bizau"></div>
                    <div class="site__container__section__testimonials__entry__name">Ghita Bizau</div>
                    <a class="site__container__section__testimonials__entry__url" href="https://twitter.com/ghitab27">@ghitab27</a>
                    <div class="site__container__section__testimonials__entry__quote">This app helps me to save money
                        and time. I track all my expenses with Revaluate. It's way better than when I kept them in a
                        spreadsheet.
                    </div>
                </li>
                <li class="site__container__section__testimonials__entry">
                    <div class="site__container__section__testimonials__entry__avatar avatar__sujet-kumar"></div>
                    <div class="site__container__section__testimonials__entry__name">Sujeet Kumar</div>
                    <a class="site__container__section__testimonials__entry__url" href="https://twitter.com/Solar_Victor">@solar_victor</a>
                    <div class="site__container__section__testimonials__entry__quote">Revaluate is really very cool! The
                        simplicity of this tool has won me over. Kudos to the nifty welcome messages on top, loved it! I
                        am kind of surprised why I couldn't find a tool like this for a very long time!
                    </div>
                </li>
            </ul>

        </div>

        <!-- Ruler-->
        <div class="site__container__section__ruler"></div>

    </div>

    <div id="section__6" class="section site__container">

        <div class="site__container__section site__container__section--wide home__section__signup">

            <div class="home__section__signup__text">
                <!-- Title -->
                <div class="site__container__section__title">Start changing the way you spend your money!</div>

                <div class="home__section__signup__text__card">
                    <div>Start tracking your expenses in <strong>less than 30 seconds</strong>.</div>
                    <div></div>
                    <div>It's all free while in beta.</div>
                    <div>Basic features always free.</div>
                </div>
            </div>

            <div class="home__section__signup__form" ng-controller="SignUpController">

                <div ng-include src="'/app/account/partials/social_connect_buttons.html'"></div>

                <!-- Sign-up form -->
                <form name="signUpForm" ng-submit="signUp(signUpData)" novalidate focus-first-error>

                    <!-- Flash messages. -->
                    <div flash-messages flash="flash" identifier-id="{{alertId}}"></div>

                    <!-- Form groups -->
                    <div class="form-group-input" ng-class="{'has-error': signUpForm.$submitted && (signUpForm.firstName.$invalid || badPostSubmitResponse)}">
                        <div class="form-group-input__message" ng-if="signUpForm.firstName.$invalid && signUpForm.$submitted">
                            Please tell us your First Name.
                        </div>
                        <input class="form-group-input__input" type="text" name="firstName" placeholder="First Name" ng-model="signUpData.firstName" required/>
                    </div>

                    <!-- Form group -->
                    <div class="form-group-input" ng-class="{'has-error': signUpForm.$submitted && (signUpForm.lastName.$invalid || badPostSubmitResponse)}">
                        <div class="form-group-input__message" ng-if="signUpForm.lastName.$invalid && signUpForm.$submitted">
                            Please tell us your Last Name.
                        </div>
                        <input class="form-group-input__input" type="text" name="lastName" placeholder="Last Name" ng-model="signUpData.lastName" required/>
                    </div>

                    <!-- Email input -->
                    <div class="form-group-input" ng-class="{'has-error': signUpForm.$submitted && (signUpForm.email.$invalid || badPostSubmitResponse)}">
                        <!-- Error messages -->
                        <div class="form-group-input__message" ng-class="{'has-error': signUpForm.email.$invalid && signUpForm.$submitted}" ng-messages="signUpForm.email.$error" ng-if="signUpForm.$submitted">
                            <div ng-message="required">Please add your email address.</div>
                            <div ng-message="validEmail">Missed a letter? It looks like an invalid email address.</div>
                            <div ng-message="uniqueEmail">This email address is already used.
                                <a href="javascript:void(0)" account-modal-toggle="forgotPassword">Forgot your
                                    password?</a>
                            </div>
                        </div>
                        <input class="form-group-input__input" type="email" name="email" placeholder="Email" ng-model="signUpData.email" required valid-email unique-email/>
                    </div>

                    <!-- Form groups -->
                    <div class="form-group-input" ng-class="{'has-error': signUpForm.$submitted && (signUpForm.password.$invalid || badPostSubmitResponse)}">
                        <!-- Error messages -->
                        <div class="form-group-input__message" ng-class="{'has-error': signUpForm.$submitted && signUpForm.password.$invalid}" ng-messages="signUpForm.password.$error" ng-if="signUpForm.$submitted">
                            <div ng-message="required">Please choose a password.</div>
                            <div ng-message="strongPassword">Please choose a password with at least 7 characters.</div>
                        </div>
                        <input class="form-group-input__input" type="password" name="password" placeholder="Password" ng-model="signUpData.password" required strong-password/>
                    </div>

                    <!-- Button container -->
                    <button class="home__section__signup__btn" type="submit">{{isRequestPending ? 'Signing up..' : 'Get
                        started for FREE!'}}
                    </button>
                </form>

                <div class="form-group-input__info">By singing up you agree to Revaluate
                    <a ui-sref="terms" target="_blank">Terms</a> and <a ui-sref="privacy" target="_blank">Privacy
                        policy</a>.
                </div>

            </div>
        </div>
    </div>

    <div footer-home class="view-container__footer"></div>

</div>
