<div header-home></div>

<div class="site__container site__container--brand">

    <div class="site__container__section">

        <h1>Simple pricing</h1>

    </div>

    <div class="site__container__section">

        <div class="pricing__box">

            <div class="pricing__box__amount">
                <span>$5</span>/month
            </div>

            <ul>
                <li>Everything included</li>
                <li>No hidden fees, no catch</li>
                <li></li>
            </ul>

            <button class="pricing__box__btn" type="submit">Start 21 day free trial</button>

            <div class="pricing__box__info">No credit card needed</div>

        </div>

    </div>

</div>


<div class="site__container">

    <div class="site__container__section">
        <h1>FAQ</h1>
    </div>

</div>

<div footer-home class="view-container__footer"></div>

