<div header-home></div>

<div class="site__container site__container--homemain">

    <div class="site__container__section">

        <h1>Simple pricing</h1>

    </div>

    <div class="site__container__section">

        <div class="pricing__box">

            <h1>Basic</h1>

            <div class="pricing__box__amount">
                0$<span>/month</span>
            </div>

            <ul>
                <li>Save your expenses</li>
                <li>Get basic monthly insights</li>
                <li>Create up to 10 categories</li>
                <li>Set 2 monthly goals</li>
                <li></li>
            </ul>

            <button class="pricing__box__btn" account-modal-toggle="requestSignUpRegistration">Start now for FREE!</button>

            <div class="pricing__box__info">No credit card required</div>

        </div>

        <div class="pricing__box pricing__box--premium">

            <h1>Premium</h1>

            <div class="pricing__box__amount pricing__box__amount--premium">
                0$<span>/month</span>
                <div>FREE while in beta</div>
            </div>

            <ul>
                <li>Save your expenses</li>
                <li>Get advanced insights</li>
                <li>Create up to 25 categories</li>
                <li><span>soon</span> Set as many goals as you want</li>
                <li><span>soon</span> Plan your expenses</li>
                <li><span>soon</span> Track your debts and lendings</li>
                <li></li>
            </ul>

            <button class="pricing__box__btn pricing__box__btn--premium" account-modal-toggle="requestSignUpRegistration">Start now for FREE!</button>

            <div class="pricing__box__info">30 day free trial included</div>

        </div>

    </div>

</div>


<div class="site__container site__container--faq">

    <div class="site__container__section">

        <!-- Disabled while in beta
        <h1>FAQ</h1>

        <ul class="site__container__section__faq">
            <li>
                <div><strong>Are payments secure?</strong></div>
                <div>100%! We don't store any billing information. All that is handled by Braintree, a PayPal Company.</div>
            </li>
            <li>
                <div><strong>Can I cancel at any time?</strong></div>
                <div>For sure! Once you cancel, you'll still have access until the end of the billed month.</div>
            </li>
            <li>
                <div><strong>Do you offer refunds?</strong></div>
                <div>Absolutely! Just let us know what went wrong so we can improve.</div>
            </li>
            <li>
                <div><strong>Does Revaluate have a smartphone app?</strong></div>
                <div>Not yet, but we want to build those as fast as possible.</div>
            </li>
        </ul>
        -->

        <div class="site__container__section__faq__contact">Want to ask us something?
            <a href="javascript:void(0)" id="feedback-trigger" ng-controller="ContactModalController" ng-click="openContactModal()">Reach us here.</a>
        </div>

    </div>

</div>

<div footer-home class="view-container__footer"></div>

