.insight__form__date__input {
    position: relative;

    .insight__form__date__input__btn {
        &:hover,
        &:active {
            background-color: $brand-primary-light;
        }
    }

    .dropdown-menu {
        width: 250px;
        left: 0 !important;
        top: 40px !important;
    }
}
