<!--Expand/collapse click-->
<div ng-if="! vm.isEmptyTransactions()"
     class="expenses__list__expand"
     ng-click="vm.toggleContent()">{{vm.totalPerCategoryInsights.numberOfTransactions}} {{vm.totalPerCategoryInsights.numberOfTransactions | pluralisationFilter:'transaction':'transactions'}}
</div>

<!--If is loading for the first time (until expenses are loaded)-->
<spinner class-name="expenses__list__category__loading" is-loading="vm.loadingTracker.active()"></spinner>

<!--If is loading for the first time (until expenses are loaded)-->
<div class="expenses__list__category" ng-if="vm.isExpensesLoaded() && vm.expanded" fade-out-in fade-when="vm.loadingTracker.active()">

    <div class="expenses__list__category__entry" ng-repeat="expense in vm.expensesOfThisCategory | orderObjectBy : 'spentDate' : true | limitTo: vm.expensesLimit track by expense.id">

        <div class="expenses__list__category__entry__section">

            <!--Expense date-->
            <div class="expenses__list__category__entry__section__date">{{expense.spentDate | friendlyDate}}</div>

            <!--Expense description-->
            <div class="expenses__list__category__entry__section__details" ng-bind-html="expense.description"></div>

            <!--Expense price-->
            <div class="expenses__list__category__entry__section__price">
                <span ng-bind-html="expense.value | currencys:vm.user.model.currency.symbol:vm.user.model.currency.fractionSize"></span>
            </div>

        </div>
    </div>

    <div class="expenses__list__transactions__showall" ng-if="vm.displayShowAllButton && vm.expanded">
        <button type="submit" ng-click="vm.showAllExpenses()">
            <span class="icon-chevron-down-light" ng-hide="vm.loadingTracker.active()"></span>
            {{vm.loadingTracker.active() ? 'Loading...' : 'Show all transactions'}}
        </button>
    </div>
</div>
