h1.integrations__authorized__title {
    text-align: center;
}

.integrations__authorized__loading {
    top: 20px;
}

.integrations__authorized__image {
    text-align: center;

    img {
        margin: 0 auto;
        margin-top: 100px;
    }
}
