<!--Oauth user-->
<div class="settings__box__section--small settings__profile__avatar" ng-if="vm.user.isConnectedViaOauth()">
    <img class="settings__profile__avatar--picture" ng-src="{{vm.user.model.oAuthData.picture}}" />

    <div class="settings__profile__avatar--src" translate="PROFILE_PICTURE.{{vm.user.model.userType}}"></div>
</div>

<!--Non Oauth user-->
<div class="settings__box__section--small settings__profile__avatar" ng-if="! vm.user.isConnectedViaOauth()">
    <img class="settings__profile__avatar--picture" src="" gravatar-src="'{{vm.user.model.email}}'" />

    <div class="settings__profile__avatar--src" translate="PROFILE_PICTURE.SIGN_UP"></div>
</div>
