<div class="expenses__list">

    <div class="expense__list__sort" ng-if="vm.expenses.length !== 0">
        <div class="expense__list__sort__date">
            <span class="icon-sort"></span>
            <a class="expense__list__sort__date__entry" href="javascript:void(0)" ng-class="{'expense__list__sort__date__entry--active': vm.selectedOrderBy === 'spentDate'}" ng-click="vm.setSelectedOrderBy('spentDate')">Expense date</a> |
            <a class="expense__list__sort__date__entry" href="javascript:void(0)" ng-class="{'expense__list__sort__date__entry--active': vm.selectedOrderBy === 'createdDate'}" ng-click="vm.setSelectedOrderBy('createdDate')">Added date</a>
        </div>
    </div>
    <!--Expense list-->
    <div class="expenses__list__entry-grouped"
         ng-repeat="expenseGroupEntry in vm.expenses | orderObjectBy : 'localDate' : reverseOrder track by expenseGroupEntry.localDate"
         ng-show="expenseGroupEntry.expenseDTOs.length > 0">

        <div class="expenses__list__group__name">
            <span class="expenses__list__group__name__bullet"></span>
            {{expenseGroupEntry.localDate | friendlyDate}}
        </div>

        <div class="expenses__list__entry"
             ng-repeat="expense in expenseGroupEntry.expenseDTOs | orderObjectBy : vm.selectedOrderBy : reverseOrder track by expense.id"
             expense-entry
             expense="expense"
             categories="vm.categories">
        </div>
    </div>
</div>
