<div ng-hide="expensesVm.isOverallTransactionsEmpty()">

    <h1 class="expenses__column__right__title">This month overview</h1>

    <h2 class="expenses__column__right__title">Daily expenses</h2>

    <div class="insights__chart__bar insights__chart__bar--small" fade-out-in fade-when="vm.loadTracker.active()">

        <div class="spinner insights__loading" ng-if="vm.loadTracker.active()">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>

        <canvas id="bar"
                class="chart chart-bar"
                data="vm.barInsightsPrepared.insightsBarData"
                series="vm.barInsightsPrepared.insightsBarSeries"
                legend="false"
                options="vm.barOptions"
                colours="vm.barInsightsPrepared.insightsBarColors"
                labels="vm.barInsightsPrepared.insightsBarLabels">
        </canvas>
    </div>

</div>
