<div class="body__feedback-section simptip-position-left simptip-info simptip-smooth simptip-fade" data-tooltip="Ask us anything, we'd love to talk!">

    <!--Show confirmation content-->
    <a ng-if="isUserAuthenticated" class="icon-feedback" href="javascript:void(0)" ng-controller="FeedbackModalController" ng-click="openFeedbackModal()"></a>

    <!--Show confirmation content-->
    <a ng-if="! isUserAuthenticated" class="icon-feedback" href="javascript:void(0)" ng-controller="ContactModalController" ng-click="openContactModal()"></a>
</div>
