<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__logo">
            Revaluate
        </div>

        <ul class="footer__links">
            <li>Follow us on <a href="https://twitter.com/revaluateapp" target="_blank">Twitter</a></li>
            <li>Follow us on <a href="https://instagram.com/revaluateapp" target="_blank">Instagram</a></li>
            <li>Like us on <a href="https://www.facebook.com/revaluateapp" target="_blank">Facebook</a></li>
        </ul>
    </div>
</footer>