<footer class="footer__home">
    <div class="footer__home__wrapper">
        <div class="footer__home__logo">
            Revaluate
        </div>

        <ul class="footer__home__links">
            <li>
                <a href="https://www.facebook.com/revaluateapp" target="_blank">Facebook</a>
            </li>
            <li>
                <a href="https://instagram.com/revaluateapp" target="_blank">Instagram</a>
            </li>
            <li>
                <a href="https://twitter.com/revaluateapp" target="_blank">Twitter</a>
            </li>
            <li>
                <a href="https://medium.com/revaluate-blog" target="_blank">Medium</a>
            </li>
            <li>
                <a href="assets/press/RevaluatePressKit.zip">Press kit</a>
            </li>
            <li>
                <a ui-sref="terms" target="_blank">Terms of Use</a>
            </li>
            <li>
                <a ui-sref="privacy" target="_blank">Privacy Policy</a>
            </li>
        </ul>

    </div>
</footer>