<footer class="footer__home">
    <div class="footer__home__wrapper">
        <div class="footer__home__logo">
            Revaluate
        </div>

        <ul class="footer__home__links__social">
            <li>Follow us on <a href="https://twitter.com/revaluateapp" target="_blank">Twitter</a></li>
            <li>Follow us on <a href="https://instagram.com/revaluateapp" target="_blank">Instagram</a></li>
            <li>Like us on <a href="https://www.facebook.com/revaluateapp" target="_blank">Facebook</a></li>
        </ul>

        <ul class="footer__home__links__legal">
            <li><a ui-sref="terms" target="_blank">Terms of Use</a> | <a ui-sref="privacy" target="_blank">Privacy Policy</a></li>
        </ul>
    </div>
</footer>