<div class="header-home__wrapper">

    <header class="header-home">

        <div class="header-home__brand">
            <div class="header-home__brand--logo"></div>
            <a class="header-home__brand--name" href="javascript:void(0)" ui-sref="home">Revaluate</a>
        </div>

        <ul class="header-home__navigation">
            <li><a href="javascript:void(0)" ui-sref="pricing">Pricing</a></li>
            <li><a href="javascript:void(0)">Contact</a></li>
            <li>
                <button class="header-home__navigation--btn" account-modal-toggle="login">Log in</button>
            </li>
        </ul>

    </header>

</div>