<div class="header-public__wrapper">

    <header class="header-public">

        <div class="header-public__brand" href="javascript:void(0)" ui-sref="home" ui-sref-opts="{reload:true}">

            <div class="header-public__brand_logo"></div>

        </div>

        <!--Snap menu-->
        <button snap-toggle="" class="header__navigation__toggle">Menu</button>

        <ul class="header-public__navigation">
            <li>
                <button class="header-public__navigation__loginbtn" account-modal-toggle="login">Log in</button>
            </li>
            <li>
                <button class="header-public__navigation__signupbtn" account-modal-toggle="requestSignUpRegistration">
                    Sign up
                </button>
            </li>
        </ul>

    </header>

</div>
