<header class="header-home">

    <div class="header-home__brand">
        <div class="header-home__brand--logo">Logo</div>
        <a href="javascript:void(0)" class="header-home__brand--name">Revaluate</a>
    </div>


    <ul class="header-home__navigation">
        <li><a href="javascript:void(0)">Pricing</a></li>
        <li><a href="javascript:void(0)">Blog</a></li>
        <li><a href="javascript:void(0)">Contact!</a></li>
        <li><button class="header-home__navigation--btn">Log in</button></li>
    </ul>

</header>
