<div class="header__wrapper">
    <header class="header">

        <div class="header__brand">
            <div class="header__brand--logo" ui-sref="expenses.regular"></div>
            <a href="javascript:void(0)" class="header__brand--name">Revaluate</a>
        </div>

        <!--Navigation list-->
        <ul class="header__navigation">
            <li ui-sref-active="header__navigation--active">
                <span class="icon-nav-expenses header__navigation__icon"></span>
                <a class="header__navigation__link" href="javascript:void(0)" ui-sref="expenses.regular">Expenses</a>
            </li>
            <li ng-class="{'header__navigation--active': vm.$state.includes('insights')}">
                <span class="icon-nav-insights header__navigation__icon"></span>
                <a class="header__navigation__link" href="javascript:void(0)" ui-sref="insights.monthly">Insights</a>
            </li>
            <li class="header__navigation--comingsoon">
                <span class="icon-nav-goals header__navigation__icon"></span>
                <span class="header__navigation--comingsoon__label">Goals</span>
                <span class="nav-coming-soon">Coming soon</span>
            </li>
        </ul>

        <!--Snap menu-->
        <button snap-toggle="" class="header__navigation__toggle">Menu</button>

        <!--Header links-->
        <div class="header__navigation--links">
            <ul>
                <li class="header__navigation--links__item simptip-position-bottom simptip-info simptip-smooth simptip-fade" data-tooltip="Settings">
                    <a class="icon-settings" href="javascript:void(0)" ui-sref="settings.profile">
                        <!--Settings-->
                    </a>
                </li>
                <li class="header__navigation--links__item simptip-position-bottom simptip-info simptip-smooth simptip-fade" data-tooltip="Logout">
                    <a class="icon-logout" href="javascript:void(0)" ng-controller="LogoutController as vm" ng-click="vm.logOut()">
                        <!--Logout-->
                    </a>
                </li>
                <li class="header__navigation--links__item simptip-position-bottom simptip-info simptip-smooth simptip-fade" data-tooltip="{{vm.currentUser.model.email}}">
                    <user-profile-picture-header></user-profile-picture-header>
                </li>
            </ul>
        </div>

    </header>
</div>
