<div class="header-home__wrapper">

    <header class="header-home">

        <div class="header-home__brand">
            <div class="header-home__brand__logo"></div>

            <a class="header-home__brand__name" href="javascript:void(0)" ui-sref="home" ui-sref-opts="{reload:true}">
                Revaluate
                <span class="header-home__brand__name__beta">beta</span>
            </a>
        </div>

        <ul class="header-home__navigation">
            <li>
                <a href="javascript:void(0)" ng-click="goToTourPage();">Tour</a>
            </li>
            <li>
                <a href="javascript:void(0)" ui-sref="pricing" ui-sref-opts="{reload:true}">Pricing</a>
            </li>
            <li>
                <button class="header-home__navigation--loginbtn" account-modal-toggle="login">Log in</button>
            </li>
            <li>
                <button class="header-home__navigation--signupbtn" account-modal-toggle="requestSignUpRegistration">Get started now!</button>
            </li>
        </ul>

    </header>

</div>
