<div>
    <div class="side__menu__brand">
        <div class="side__menu__brand--logo" ui-sref="expenses.regular"></div>
        <a href="javascript:void(0)" class="side__menu__brand--name">Revaluate</a>
    </div>

    <ul class="side__menu__list">
        <li ui-sref-active="side__menu--active" ui-sref="expenses.regular">
            <span class="icon-nav-expenses side__menu__icon"></span>
            Expenses
        </li>
        <li ui-sref-active="side__menu--active" ui-sref="insights">
            <span class="icon-nav-insights side__menu__icon"></span>
            Insights
        </li>
        <li ui-sref-active="side__menu--active" class="side__menu--disabled">
            <span class="icon-nav-goals side__menu__icon"></span>
            Goals <span class="label-coming-soon">Coming soon</span>
        </li>
    </ul>

    <ul class="side__menu__list">
        <li>
            <a href="javascript:void(0)" ng-controller="LogoutController as vm" ng-click="vm.logOut()">Logout</a>
        </li>
    </ul>
    <!--<button snap-close class="close">X</button>-->
</div>
