


// Subscription status
// --------------------------

.settings__box__payment__subscription__status {

}

.settings__box__payment__subscription__status--active,
.settings__box__payment__subscription__status--trial {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.settings__box__payment__subscription__status--active {
  color: $brand-success;
}

.settings__box__payment__subscription__status--trial {
  color: $brand-warning-dark;
}

.settings__box__payment__subscription__status--info {
  color: $gray-medium;
  font-weight: $font-weight-light;
}

.settings__box__payment__subscription__btn {
  @include btn($brand-primary);
}

// Payment method
// -------------------------

.settings__box__payment__method {
  border: solid 1px $gray-lighter;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;

  .settings__box__payment__method__cardno {
    font-weight: $font-weight-bold;
  }

  .settings__box__payment__method__cardexp {
    ffont-weight: $font-weight-light;
    color: $gray-medium;
  }

  img {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}


// Billing History
// ---------------------------
.settings__box__payment__history {
  text-align: center;

  thead tr {
    border-bottom: solid 1px $gray-medium;

    th {
      text-align: center;
    }
  }

  tbody {
    color: $gray-medium;
  }

  .settings__box__payment__history__status--settled{
    color: $brand-success;
  }
}