.home {
  @include outer-container();
  text-align: center;
}

.home__title {
  font-size: 40px;
  font-weight: $font-weight-bold;
}

.home__description {
  font-size: 22px;
  font-weight: $font-weight-light;
}

.home__action-btn {
  @include btn($brand-primary);
  @include size(320px 70px);
  box-shadow: 0 3px 0 darken($brand-primary, 15%);
  line-height: 1.2;
  padding-top: 14px;
  @include transition-property(all);
  @include transition-duration(.2s);
}

.home__action-btn--label {
  font-size: 24px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.home__action-btn--pricing {
  font-size: 14px;
  font-weight: $font-weight-light;
}