.home {
  text-align: center;
  background-color: $brand-primary;
}

.home__section {
  @include outer-container();
  margin-top: 0;
}

.home__title {
  padding-top: 90px;
  font-size: 40px;
  font-weight: $font-weight-bold;
  color: $white;
}

.home__description {
  padding: 10px 10px 90px 10px;
  color: lighten($brand-primary, 30%);
  font-size: 22px;
  font-weight: $font-weight-light;
}

.home__section__features {
  @include span-columns(7);
  padding: 10px 10px 10px 30px;
  text-align: left;
}

.home__section__features--list {
  padding-top: 20px;

  li {
    padding-bottom: 15px;
    color: darken($brand-primary, 30%);;
    font-size: 18px;

    span{
      display: inline-block;
      color: lighten($brand-primary, 20%);
      margin-right: 20px;
    }
  }
}

.home__section__signup {
  @include span-columns(5);
  @include border-radius($base-border-radius);
  border: solid 1px $gray-light-1;
  padding: 10px 40px 40px 40px;
  background-color: $white;
  margin-bottom: 30px;
}

.home__action-btn {
  @include btn($brand-primary);
  @include size(320px 70px);
  box-shadow: 0 3px 0 darken($brand-primary, 15%);
  line-height: 1.2;
  @include transition-property(all);
  @include transition-duration(.2s);
}

.home__action-btn--label {
  font-size: 24px;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.home__action-btn--pricing {
  font-size: 14px;
  font-weight: $font-weight-light;
}

.home__action-btn--info {
  padding: 3px 10px;
  font-size: 12px;
  color: $gray-medium;
}