.site__container {
  text-align: center;
  padding: 30px 0;
  background-color: $white;

  &:last-of-type {
    padding-bottom: $footer__home-height;
  }

  h1 {
    margin: 0;
  }
}

.site__container--fullheight {
  height: 100vh;
}

.site__container--homemain {
  position: relative;
  background: $landing-page;
  padding-top: 10px;

  h1, h2 {
    color: $white;
  }
}

.site__container--darkgray {
  background-color: $gray-dark-3;
  color: $white;
}

.site__container--lightgray {
  background-color: $gray-light-2;
}

.site__container__section {
  @include outer-container;
  margin-top: 0;
}

.site__container--faq {
  padding-bottom: $footer__home-height;
  background-color: $gray-light-2;
}
