.home__title {
  padding: 40px 10px 5px 10px;
  font-size: 60px;
  font-weight: $font-weight-bold;
  color: $white;
}

.home__description {
  padding: 5px 10px 20px 10px;
  color: lighten($brand-primary, 30%);
  font-size: 22px;
  font-weight: $font-weight-light;
  font-family: $base-font-family;
}

.home__section__start__btn {
  @include btn-big($brand-secondary);
  @include btn-cta-hover();
  font-weight: $font-weight-bold;
  margin-right: 20px;
}

.home__section__learn__btn {
  @include btn-translucent($white);
  text-align: center;

  &:hover {
    color: $brand-primary;
  }
}

.home__section__start__btn,
.home__section__learn__btn {
  width: 250px;
  height: 60px;
  font-size: $font-size-large;
}


.home__section__tour-arrow {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 50px;
  text-align: center;
  font-size: 60px;
  color: $white;

  @include fadeInDown();
}

// Features
// ----------------------------

.site__container__section__feature__text {
  @include span-columns(6);
  text-align: left;

  h2 {
    font-size: $font-size-h2;
    font-family: $base-font-family;
  }
}

.site__container__section__feature__img {
  @include span-columns(6);
}


// Call to action button
// -------------------------

.home__action-btn {
  @include btn($brand-primary);
  @include size(320px 70px);
  box-shadow: 0 3px 0 darken($brand-primary, 15%);
  line-height: 1.2;
  @include transition-property(all);
  @include transition-duration(.2s);
}

.home__action-btn--label {
  font-size: 24px;
  text-transform: uppercase;
}

.home__action-btn--pricing {
  font-size: 14px;
  font-weight: $font-weight-light;
}

.home__action-btn--info {
  padding: 3px 10px;
  font-size: 12px;
  color: $gray-medium;
}