@media (max-width: 850px) {

  .home__section__tour-screenmain {
    display: none;
  }

  .site__container__section__feature__text {
    @include span-columns(12);
    text-align: center;
    margin-bottom: 50px;

    h2 {
      font-size: 40px;
      margin-bottom: 70px;
    }
  }

  .site__container__section__feature__img {
    @include span-columns(8);
    @include shift(2);
  }
}

@media (max-width: 600px) {

  .home__title {
    font-size: 50px;
  }

  .home__section__start__btn,
  .home__section__learn__btn {
    width: 200px;
    height: 45px;
  }

  .site__container__section__feature__text {
    font-size: 20px;

    h2 {
      font-size: 35px;
      margin-bottom: 50px;
    }
  }

  .site__container__section__feature__img {
    @include span-columns(10);
    @include shift(1);
  }

  .site__container__section__nextfeatures {

    li {
      @include span-columns(12);
    }
  }

}

@media (max-width: 500px) {

  .home__title {
    font-size: 40px;
  }

  .home__section__start__btn,
  .home__section__learn__btn {
    margin: 5px;
  }

  .site__container__section__feature__text {
    margin-bottom: 30px;

    h2 {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 400px) {

  .home__title {
    font-size: 30px;
  }

  .home__description {
    font-size: 18px;
  }

  .home__section__tour-arrow {
    padding-bottom: 15px;
    font-size: 40px;
  }
}