.home__title {
    padding: 40px 10px 5px 10px;
    font-size: 60px;
    font-weight: $font-weight-bold;
    color: $white;
}

.home__description {
    padding: 5px 10px 20px 10px;
    color: lighten($landing-page, 20%);
    font-size: 22px;
    font-weight: $font-weight-light;
    font-family: $base-font-family;
}

.home__section__start__btn {
    @include btn-big($brand-secondary);
    font-weight: $font-weight-bold;
    margin-right: 20px;
}

.home__section__learn__btn {
    @include btn-translucent($white);
    text-align: center;
}

.home__section__start__btn,
.home__section__learn__btn {
    width: 250px;
    height: 60px;
    font-size: $font-size-large;
}

.home__section__tour-arrow,
.home__section__tour-screenmain {
    width: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 60px;
}

.home__section__tour-arrow {
    padding-bottom: 50px;
    color: $brand-secondary;
}

.home__section__tour-screenmain {
    max-height: 50vh;
    padding: 0;
    @include fadeInUp();

    img {
        max-height: 50vh;
        max-width: 70%;
    }
}

// Features
// ----------------------------

.site__container__section__feature__text {
    @include span-columns(6);
    text-align: left;
    font-size: 25px;
    font-weight: $font-weight-light;
    display: none;

    h2 {
        font-size: 50px;
        font-family: $base-font-family;
        margin-bottom: 100px;
    }
}

.site__container__section__feature__img {
    @include span-columns(6);
    display: none;
}

.site__container__section__nextfeatures {
    @include clearfix();
    padding: 0;

    li {
        margin: 0;
        padding: 20px 10px;
        @include span-columns(6);
        @include omega(2n);

        h3 {
            font-size: $font-size-largest;
            font-weight: $font-weight-regular;
        }

        div:first-child {
            @include border-radius(50%);
            width: 150px;
            height: 150px;
            margin: 0 auto 10px auto;
        }

        div:last-child {
            color: $gray-medium;
            font-size: $font-size-large;
            padding: 10px 40px;
        }
    }

    .icon__goals {
        background: url("../assets/img/home/goals.svg") no-repeat top left;
        background-size: contain;
    }

    .icon__calendar {
        background: url("../assets/img/home/calendar.svg") no-repeat top left;
        background-size: contain;
    }

    .icon__debts {
        background: url("../assets/img/home/debts.svg") no-repeat top left;
        background-size: contain;
    }

    .icon__split {
        background: url("../assets/img/home/split.svg") no-repeat top left;
        background-size: contain;
    }

}

// Call to action button
// -------------------------

.home__action-btn {
    @include btn($brand-primary);
    @include size(320px 70px);
    box-shadow: 0 3px 0 darken($brand-primary, 15%);
    line-height: 1.2;
    @include transition-property(all);
    @include transition-duration(.2s);
}

.home__action-btn--label {
    font-size: 24px;
    text-transform: uppercase;
}

.home__action-btn--pricing {
    font-size: 14px;
    font-weight: $font-weight-light;
}

.home__action-btn--info {
    padding: 3px 10px;
    font-size: 12px;
    color: $gray-medium;
}

.body__loading {
    display: none;
}

.deferred-bootstrap-loading {

    .body__loading {
        display: block;
        position: absolute;
        width: 150px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -50px;
        margin-top: -25px;
        font-weight: bold;
        font-size: 1.8em;
    }
}
