.site__home__title {
    padding: 175px 10px 5px 10px;
    font-size: 70px;
    color: $white;
}

.site__home__section__tour-arrow {
    width: 100%;
    max-width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
    font-size: 50px;
    padding-bottom: 30px;
    @include fadeInDown($delay: 1.2s);
}

// Features
// ----------------------------

.site__container__section__feature {
    @include clearfix();
    padding: 0;

    li {
        margin: 0;
        padding: 20px 40px;
        @include span-columns(4);
        @include omega(3n);

        h3 {
            font-family: $base-font-family;
            font-size: $font-size-base;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }

        div:first-child {
            width: 65px;
            height: 65px;
            margin: 0 auto 10px auto;
        }
    }

    .circle_icon__01 {
        background: url("../assets/img/home/circle_icon_01_@2x.png") no-repeat top left;
        background-size: contain;
    }

    .circle_icon__02 {
        background: url("../assets/img/home/circle_icon_02_@2x.png") no-repeat top left;
        background-size: contain;
    }

    .circle_icon__03 {
        background: url("../assets/img/home/circle_icon_03_@2x.png") no-repeat top left;
        background-size: contain;
    }

    .circle_icon__04 {
        background: url("../assets/img/home/circle_icon_04_@2x.png") no-repeat top left;
        background-size: contain;
    }

    .circle_icon__05 {
        background: url("../assets/img/home/circle_icon_05_@2x.png") no-repeat top left;
        background-size: contain;
    }

    .circle_icon__06 {
        background: url("../assets/img/home/circle_icon_06_@2x.png") no-repeat top left;
        background-size: contain;
    }
}

// Cards
// ----------------------------

.site__container__section__card__img,
.site__container__section__card__motiv {
    float: left;
    padding: 20px;
    width: 50%;
    height: 300px;
}

.site__container__section__card__img {

    button {
        @include btn($white);
        color: $color-brand-1;
        margin-top: 118px;
        width: 140px;
    }
}

.site__container__section__card__img--1 {
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../assets/img/home/card_img_01.jpg");
    background-size: cover;
}

.site__container__section__card__img--2 {
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../assets/img/home/card_img_02.jpg");
    background-size: cover;
}

.site__container__section__card__img--3 {
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../assets/img/home/card_img_03.jpg");
    background-size: cover;
}

.site__container__section__card__motiv {
    .site__container__section__card__motiv__text,
    .site__container__section__card__motiv__icons {
        width: 50%;
        height: 100%;
        float: left;
    }

    .site__container__section__card__motiv__text {
        padding: 0 50px 0 0;
        text-align: left;
        text-transform: uppercase;
        font-family: $heading-font-family;
        font-size: 36px;
        line-height: 42px;
    }

    .site__container__section__card__motiv__text--alignright {
        text-align: right;
        padding: 0 0 0 50px;
    }

    .site__container__section__card__motiv__icons {

    }
}

// Overrides
// -----------------------------

#section__0 {

    .fp-tableCell {
        display: block;
    }
}
