.home__section__signup {
  @include span-columns(5);
  @include shift(7);
  @include border-radius($base-border-radius);
  padding: 10px 40px 40px 40px;
  background-color: $white;
  margin-bottom: 30px;
}

.home__section__signup__btn {
  @include btn-block($brand-primary);
  margin-top: 25px;
  font-size: 16px;
  font-weight: $font-weight-bold;
}