.site__container {
    text-align: center;
    padding: 150px 0;
    background-color: $white;

    &:last-of-type {
        padding-bottom: $footer__home-height;
    }

    h1 {
        margin: 0;
    }
}

.site__container--homemain {
    position: relative;
    background: $landing-page;
    padding-top: 10px;
    height: 100vh;

    h1, h2 {
        color: $white;
    }
}

#section__0 {

    .fp-tableCell {
        display: block;
    }
}

.site__container--darkgray {
    background-color: $gray-dark-3;
    color: $white;
}

.site__container--lightgray {
    background-color: $gray-light-2;
}

.site__container__section {
    @include clearfix();
    @include outer-container();
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 10px 20px;
    text-align: center;

    h2 {
        font-size: 50px;
        margin-bottom: 50px;
    }
}

.site__container__section--pricing {
    padding: 40px 0 30px 0;

    h1 {
        font-weight: $font-weight-regular;
    }
}

.site__container__section--wide {
    max-width: 90%;
    padding-left: 0;
    padding-right: 0;
}

.site__container--faq {
    padding-bottom: 50px;
    background-color: $gray-light-2;
}
