.home__section__signup {
    margin-bottom: $footer__home-height + 20px;
}

.home__section__signup__text {
    float: left;
    width: 50%;
}

.home__section__signup__text__card {
    text-align: center;
    font-size: 22px;
    color: $white;
    background-color: $color-green;
    @include border-radius($base-border-radius);
    padding: 75px 30px;

    div:first-child {
        margin-bottom: 40px;
    }
}

.home__section__signup__form {
    @include border-radius($base-border-radius);
    float: right;
    width: 50%;
    max-width: 400px;
    padding: 30px 40px 40px 40px;
    background-color: $white;
    margin-bottom: 40px;
    border: solid 1px $gray-light-1;
}

.home__section__signup__btn {
    @include btn-block($brand-primary);
    margin-top: 25px;
    font-size: 18px;
}
