.site__container__section__feature--left-in {
    display: block;
}

.site__container__section__feature--right-in {
    display: block;
}

.site__container__section__feature--left-out {
    display: block;
}

.site__container__section__feature--right-out {
    display: block;
}
