.expenses__list__entry__section {
    @include clearfix();
    background: $white;
    margin: 0;
    padding: 10px;
    position: relative;

    &:hover {
        cursor: pointer;
        background-color: $color-brand-7;
    }
}

.expenses__list__entry__section--bulk-marked {
    background-color: $brand-warning-light;
    border-left: solid 3px $brand-warning-accent;

    .expenses__list__entry__section__select {
        color: $gray-medium;
    }
}

.expenses__list__entry__section__select {
    display: none;
    color: $gray-light-2;
    font-size: 14px;
    width: 28px;
    text-align: center;
    padding-left: 6px;
    height: 100%;
    line-height: 44px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    &:hover {
        color: $gray-medium;
    }

    input {
        height: 100%;
        width: 100%;
    }
}

.expenses__list__entry__section__icon,
.expenses__list__entry__section__category,
.expenses__list__entry__section__details {
  display: block;
  float: left;
  line-height: 30px;
  height: 30px;
  weight: 30px;
}

.expenses__list__entry__section__icon {
    @include border-radius(50%);
    height: 25px;
    width: 25px;
    display: block;
    margin-top: 2px;
}

.expenses__list__entry__section__category {
    @include word-wrap();
    width: 250px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: $font-weight-bold;
}

.expenses__list__entry__section__details {
    @include border-radius(3px);
    @include word-wrap();
    color: $gray-medium;
}

.expenses__list__entry__section__price {
    width: 20%;
    max-width: 180px;
    text-align: right;
    font-size: 17px;
    float: right;
    display: block;
    margin-top: 3px;

    .currency__symbol {
        padding: 0 2px 0 5px;
    }
}
