.expenses__list__entry__section {
    @include clearfix();
    padding: 0;
    margin: 0;
    min-height: 44px;
    line-height: 40px;
    border-left: solid 3px transparent;

    & > div {
        padding: 0 5px;
        height: 100%;
        float: left;
        line-height: 44px;
    }

    &:hover {
        cursor: pointer;
    }

    &.expenses__list__entry__section--bulk-marked {
        background-color: $brand-warning-light;
        border-left: solid 3px $brand-warning-accent;

        .expenses__list__entry__section__select {
            color: $gray-medium;
        }
    }

    .expenses__list__entry__section__select {
        font-size: 14px;
        color: $gray-light-2;
        width: 28px;
        text-align: center;
        padding-left: 6px;
        display: inline-flex;
        margin-top: 14px;

        &:hover {
            color: $gray-medium;
        }

        input {
            height: 100%;
            width: 100%;
        }
    }

    .expenses__list__entry__section__category {
        @include clearfix();
        width: 65%;
        position: relative;
        font-size: 15.4px;
        padding: 0 0 0 30px;

        .expenses__list__entry__section__category__icon {
            position: absolute;
            left: 5px;
            top: 13px;
            width: 17px;
            height: 17px;
            border: solid 2px $gray-medium;
            @include border-radius(50%);
        }

        .expenses__list__entry__section__category__label {

        }
    }

    .expenses__list__entry__section__details {
        color: $gray-medium;
        font-weight: $font-weight-regular;
        @include word-wrap();
        width: 65%;
        line-height: 15px;
        margin-left: 28px;
        font-size: 13px;
        margin-top: -10px;
        padding-left: 30px;
        padding-bottom: 10px;
    }

    .expenses__list__entry__section__price {
        text-align: right;
        float: right;
        width: 30%;

        .currency__symbol {
            padding: 0 5px;
            color: $gray-medium;
            font-weight: $font-weight-regular;
        }
    }

    .expenses__list__entry__section__date {
        float: right;
        color: $gray-medium;
        text-align: right;
        font-size: $font-size-small;
        line-height: 15px;
        margin-left: 28px;
        margin-top: -10px;
        padding-bottom: 10px;
    }
}
