<div class="expenses__list">

    <!--Expense list-->
    <section class="expenses__list__group"
         ng-repeat="expenseGroupEntry in vm.expenses | orderObjectBy : 'localDate' : reverseOrder track by expenseGroupEntry.localDate"
         ng-show="expenseGroupEntry.expenseDTOs.length > 0">

        <div class="expenses__list__group__name">
            {{expenseGroupEntry.localDate | friendlyDate}}
        </div>

        <div class="expenses__list__entry"
             ng-repeat="expense in expenseGroupEntry.expenseDTOs | orderObjectBy : 'createdDate' : reverseOrder track by expense.id"
             expense-entry
             expense="expense"
             categories="vm.categories">
        </div>
    </section>
</div>
