.expenses__list {

}

.expenses__list__entry {
    padding: 0;
    margin: 0 auto;
    min-height: 40px;
    height: 100%;
    width: 100%;
    position: relative;
}

.expenses__list__group {
    margin-bottom: 15px;
}

.expenses__list__group__name {
    padding: 10px 0 5px 10px;
    border-bottom: solid 1px $color-brand-7;
    font-size: 14px;
    color: $gray-medium;
    text-transform: uppercase;
}

.expenses__list__group__name--now {
    background-color: $brand-warning;
    color: $brand-warning-dark;
}

.expenses__list__loading {
    margin: 10px auto 30px auto;
}
