.expenses__list__entry__section {
    @include clearfix();
    @include border-radius(6px);
    border: 1px solid $gray-light-1;
    background: $white;
    border-left: 2px solid;
    margin: 20px;
    min-height: 44px;
    padding: 20px 30px;
    position: relative;

    &:hover {
        cursor: pointer;
    }
}

.expenses__list__entry__section--bulk-marked {
    background-color: $brand-warning-light;
    border-left: solid 3px $brand-warning-accent;

    .expenses__list__entry__section__select {
        color: $gray-medium;
    }
}

.expenses__list__entry__section__select {
    display: none;
    color: $gray-light-2;
    font-size: 14px;
    width: 28px;
    text-align: center;
    padding-left: 6px;
    height: 100%;
    line-height: 44px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    &:hover {
        color: $gray-medium;
    }

    input {
        height: 100%;
        width: 100%;
    }
}

.expenses__list__entry__section__price {
    text-align: left;
    max-width: 90%;
    font-size: $font-size-h3;
    font-weight: $font-weight-bold;

    .currency__symbol {
        padding: 0 5px;
        font-size: $font-size-h3;
        font-weight: $font-weight-bold;
    }
}

.expenses__list__entry__section__category {
    @include word-wrap();
    font-size: 15.4px;
    max-width: 70%;
}

.expenses__list__entry__section__details {
    @include word-wrap();
    color: $gray-medium;
    font-weight: $font-weight-regular;
    max-width: 70%;
    line-height: 15px;
    font-size: 13px;
    padding-top: 10px;
}

.expenses__list__entry__section__date {
    float: right;
    color: $gray-medium;
    text-align: right;
    font-size: $font-size-small;
    line-height: 15px;
    margin-left: 28px;
    margin-top: -10px;
    padding-bottom: 10px;
}
