@mixin category-label($color) {
    @include border-radius(2px);
    color: $white;
    text-transform: uppercase;
    background-color: $color;
    padding: 1px 5px;
}

@mixin goal-display-category-label() {
    @include border-radius(2px);
    text-transform: lowercase;
    position: relative;
}
