.account_trial_period_section {
    margin-bottom: 10px;
}

.account_send_email_section {

    .account_send_email_section__alert {
        margin-bottom: 0;

        & > button {
            @include btn($brand-info);
            @include border-radius(0);
            height: 18px;
            line-height: 15px;
            padding: 2px;
            margin-left: 10px;
            background-color: transparent;
            color: $brand-info-dark;
            border-bottom: solid 1px darken($brand-info-light, 10%);

            &:hover {
                background-color: transparent;
                border-bottom: solid 1px $brand-info;
            }
        }
    }
}
