.account__oauth {
    padding-bottom: 30px;
    position: relative;
    border-bottom: solid 1px $gray-light-2;
    margin-bottom: 30px;

    a {

        &:last-child {
            margin-bottom: 0;
        }

        span {
            font-size: 28px;
            position: absolute;
            left: 11px;
            top: 0;
            padding: 3px 10px 0 0;
            border-right: solid 1px rgba(255, 255, 255, 0.1);
            color: $white;
        }
    }

    .account__oauth__btn {
        position: relative;
        margin-bottom: 15px;
        color: $white;
    }

    .account__oauth__btn--facebook {
        @include btn-block($social-facebook-color);
    }

    .account__oauth__btn--google {
        @include btn-block($social-google-color);
    }

    .account__oauth__or {
        position: absolute;
        bottom: -38px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: $white;
        @include border-radius(50%);
        width: 50px;
        height: 50px;
        text-transform: uppercase;
        color: $gray-medium;
    }
}

.account__btn {
    @include btn-block($brand-primary);
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 16px;
}

.account-cancel__btn {
    @include btn-block($brand-danger);
    margin-top: 25px;
    font-size: 16px;
}
