.insights__section {
    @include section-center(100%);
    font-size: $font-size-large;
}

.insights__summary {
    width: 70%;
    margin: 0 auto;
    font-size: $font-size-largest;
    font-weight: $font-weight-light;
    color: $gray-medium;
    text-align: center;
    padding: 40px 0;

    span {
        color: $gray-darker;
        font-weight: $font-weight-bold;
    }
}

.insights__table {
    display: block;
    margin: 0 auto;
    width: 65%;
    padding: 5px 15px 5px 30px;

    .insights__table__header {
        font-weight: $font-weight-bold;
    }

    .insights__table__category {
        width: 70%;

        .insights__table__category__color {
            @include border-radius(50%);
            @include size(22px 22px);
            display: inline-block;
            background-color: $brand-primary;
            margin-right: 5px;
            text-indent: -9999px;
        }
    }

    .insights__table__amount {
        text-align: right;
        width: 30%;

        .currency__symbol {
            padding: 0 2px;
        }
    }
}
