.doughnut__chart__legend {
    width: 200px;
    padding: 0;

    .doughnut__chart__legend__box {
        @include clearfix();

        .doughnut__chart__legend__box__color {
            display: block;
            float: left;
            margin: 3px 3px 0 0;
            width: 25px;
            height: 25px;
            @include border-radius(50%);
        }

        .doughnut__chart__legend__box__label {
            display: block;
            float: left;
            line-height: 33px;
            text-transform: uppercase;
        }
    }
}
