.insights__empty-state {
  @include section-center(100%);
  min-height: 200px;
  padding: 40px 100px;
  color: $gray-medium;

  .insights__empty-state__icon {
    @include cssSprite($icon-chart-color);
    margin: 0 auto;
  }
}