.insights__textsection {
  text-align: center;
  padding-bottom: 30px;
}

.insights__controls {
  width: 100%;
  text-align: center;

  .insights__controls__form {
    width: 100%;

    .insights__controls__form__arrow {
      @include border-radius(50%);
      display: inline-block;
      height: 35px;
      width: 35px;
      padding: 0;
      margin: 10px;
      border: solid 1px $gray-lightest;
      background-color: $white;
      color: $gray-medium;
      text-align: center;
      font-weight: $font-weight-bold;
    }

    .insights__controls__form__month {
      width: 200px;
      display: inline-block;
    }

    .insight__form__date__input__btn {
      width: 100%;
    }
  }
}

.insights__summary {
  @include clearfix();
  padding: 40px 0;

  .insights__summary__thumbnail {
    @include border-radius($base-border-radius);
    border: solid 2px $gray-lightest;
    margin: 10px 15px;
    padding: 10px;
    width: 30%;
    float: left;
    @include clearfix();

    .insights__summary__thumbnail__number,
    .insights__summary__thumbnail__label {
      width: 100%;
      float: left;
      text-align: center;
    }

    .insights__summary__thumbnail__number {
      font-size: 24px;
      font-weight: $font-weight-bold;
    }

    .insights__summary__thumbnail__label {
      color: $gray-medium;
    }
  }
}

.insights__chart__bar {

}

.insights__table {
  width: 30%;
  float: left;

  .insights__table__header {
    font-weight: $font-weight-bold;
  }

  .insights__table__category {

    .insights__table__category__color {
      @include border-radius(50%);
      @include size(22px 22px);
      display: inline-block;
      background-color: $brand-primary;
      margin-right: 5px;
      text-indent: -9999px;
    }
  }

  .insights__table__amount {
    text-align: right;
  }
}

.insights__chart__doughnut {
  width: 68%;
  float: left;
}

.insight__form__date__input__btn {
  @include btn-big($brand-default);
  color: $gray-dark;
}