.doughnut__chart__legend {

  .doughnut__chart__legend__color {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
  }

  .doughnut__chart__legend__label {
    display: inline-block;
  }
}