sidebar {
    z-index: 1000;
    position: absolute;
    left: $sidebar-width;
    width: $sidebar-width;
    height: 100%;
    margin-left: -$sidebar-width;
    margin-top: $header-height;
    overflow-y: auto;
    background-color: $app-bg;
}

.sidebar__brand {
    position: relative;
    width: 100%;
    padding-top: 10px;
}

.sidebar__brand--responsive {
    display: none;
}

.sidebar__brand--logo {
    display: block;
    width: 200px;
    height: 50px;
    background: url("/assets/img/logo_yellow_white.svg") no-repeat center;
    background-size: 200px;
    margin: 0;

    &:hover {
        cursor: pointer;
    }
}

.sidebar__navigation {
    padding: 20px 0 0 0;

    li {
        @include user-select(none);
        display: block;
        height: $header-element-height;
        margin: 5px 10px;
        padding: 0;
        position: relative;
    }

}

.sidebar__navigation__link {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    line-height: $header-element-height;
    border-radius: 3px;
    color: $gray-medium;
    font-weight: $font-weight-bold;

    &:hover {
        color: $gray-dark-1;
    }
}

.sidebar__navigation--active {

    .sidebar__navigation__link {
        color: $color-brand-3;

        &:hover {
            color: $color-brand-3;
        }
    }
}

.sidebar__user {
    @include clearfix();
    height: 110px;
    width: $sidebar-width;
    padding: 50px 15px 5px;
    color: $white;
}

.sidebar__user__picture {
    float: left;
    min-width: 60px;

    img {
        @include border-radius(50%);
        width: 50px;
        height: 50px;
    }
}

.sidebar__user__name {
    @include truncate();
    float: left;
    height: 40px;
    line-height: 40px;
    min-width: 140px;
    font-weight: $font-weight-bold;
}

.sidebar__user__item {
    float: right;
    height: 40px;
    line-height: 40px;
    padding: 0;

    a {
        display: block;
        height: 100%;
        width: 100%;
        padding: 5px 0;
        font-size: 20px;
        //color: $gray-light-1;
        text-align: center;
        @include box-sizing(border-box);

        &:hover {
            //color: darken($gray-medium, 5%);
        }
    }
}
