expense-add {
    display: block;
}

.expense-add {
    @include clearfix();
    width: 100%;
    padding: 15px 150px 30px 150px;
    margin: 10px auto 1px auto;
    color: $black;
    position: relative;
    font-weight: $font-weight-regular;
    @include no-user-select();

    .expense-add__price__input,
    .expense-add__category .category-select__input .selectize-input,
    .expense-add__details__input,
    .expense-add__date__input {
        @include border-radius(0);
        border-style: solid;
        border-width: $add-expense-form-border-width 0;
        border-color: $add-expense-form-border-color transparent;
        font-weight: $font-weight-regular;
        margin: 0;

        &:focus {
            border-color: $brand-primary;
            background-color: lighten($brand-primary, 35%);
        }

        &[disabled] {
            cursor: not-allowed;
        }
    }
}

.expense-add__price,
.expense-add__category,
.expense-add__details,
.expense-add__date {
    &.has-error {

        input {

        }
    }
}

// Price input styling
// ----------------------

.expense-add__price {
    @include clearfix();
    float: left;
    padding: 0;
    width: 18%;
    position: relative;

    .expense-add__price__input {
        @include border-left-radius($border-radius-base);
        border-left: solid $add-expense-form-border-width $add-expense-form-border-color;
        border-right: solid 0 $gray-light-2;
        height: $add-expense-form-height;
        line-height: $add-expense-form-height;
        text-align: right;
        padding-right: 30px;
        position: relative;
    }

    .expense-add__price__currency {
        height: $add-expense-form-height - 4px;
        line-height: $add-expense-form-height - 4px;
        position: absolute;
        right: 0;
        top: 2px;
        padding: 0 10px;
        color: $gray-medium;
        font-weight: $font-weight-regular;
        z-index: 999;
        border-right: solid 1px $gray-light-3;
    }
}

// Category input styling
// ----------------------

.expense-add__category {
    float: left;
    padding: 0;
    width: 30%;
    position: relative;
    height: $add-expense-form-height;

    .category-select__input {
        height: $add-expense-form-height;
        background-color: $gray-light-3;

        .selectize-input {
            @include border-radius(0);
            border-width: $add-expense-form-border-width 0;
            border-color: $add-expense-form-border-color;
            height: $add-expense-form-height;
            line-height: 48px !important;

            & > input {
                height: 48px;
                border-right: solid 1px $gray-light-3;
                @include border-radius(0);
            }
        }
    }
}

.category__color__preview {
    @include border-radius(50%);
    @include size(21px 21px);
    margin: 3px 3px 3px 0;
    display: inline-block;
    text-indent: -9999px;
}

// Details input styling
// -------------------------
.expense-add__details {
    float: left;
    width: 26%;
    position: relative;

    .expense-add__details__input {
        height: $add-expense-form-height;
    }
}

// Date input styling
// -------------------------
.expense-add__date {
    float: left;
    display: block;
    width: 16%;
    padding: 0;
    position: relative;

    .expense-add__date__input {
        height: $add-expense-form-height;
        text-align: right;

        &:focus {
            border: solid $add-expense-form-border-width $brand-primary;
        }

        .expense-add__date__input__btn {
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: $white;
            border-left: solid 1px $gray-light-3;
            @include border-radius(0);
            @include transition(none);

            &:focus {
                background-color: lighten($brand-primary, 35%);
            }
        }
    }

    & > .form-group-input__message {
        top: 0;
        right: 140px;
    }
}

.expense-add__submit__save {
    float: left;
    width: 10%;
    height: $add-expense-form-height;

    .expense__edit__form__savebtn {
        @include btn-block($brand-primary);
        @include border-left-radius(0);
        font-size: $font-size-base;
        height: 100%;
    }
}

.expense-add__submit__cancel {
    float: left;
    width: 100%;

    .expense__edit__form__cancelbtn {
        @include btn-link($brand-primary);
        float: right;
        margin-right: 10%;
        color: $gray-dark-1;
        font-size: $font-size-small;
    }
}
