<div ng-hide="expensesVm.isOverallTransactionsEmpty()">

    <h1 class="expenses__column__right__title">This month overview</h1>

    <h2 class="expenses__column__right__title">Daily expenses</h2>

    <div class="insights__chart__bar insights__chart__bar--small" fade-out-in fade-when="vm.loadTracker.active()">

        <spinner class-name="insights__loading" is-loading="vm.loadTracker.active()"></spinner>

        <canvas id="bar"
                class="chart chart-bar"
                chart-data="vm.barInsightsPrepared.insightsBarData"
                chart-series="vm.barInsightsPrepared.insightsBarSeries"
                chart-options="vm.barOptionsDifferentDataSets"
                chart-colors="vm.barInsightsPrepared.insightsBarColors"
                chart-labels="vm.barInsightsPrepared.insightsBarLabels">
        </canvas>
    </div>

</div>
