<div insights-empty-state-toggle show-empty-state="vm.monthsPerYearsStatistics.isOverallTransactionsEmpty()">

    <div class="insights__controls">
        <div class="insights__controls__chart-toggle">
            <a class="insights__controls__chart-toggle__entry" ng-class="{'insights__controls__chart-toggle__entry--active': vm.activeInterval === vm.INSIGHTS_INTERVAL.YEAR}" ng-click="vm.loadInsights(vm.INSIGHTS_INTERVAL.YEAR)" href="javascript:void(0)">12M</a>
            <a class="insights__controls__chart-toggle__entry" ng-class="{'insights__controls__chart-toggle__entry--active': vm.activeInterval === vm.INSIGHTS_INTERVAL.HALF_YEAR}" ng-click="vm.loadInsights(vm.INSIGHTS_INTERVAL.HALF_YEAR)" href="javascript:void(0)">6M</a>
            <a class="insights__controls__chart-toggle__entry" ng-class="{'insights__controls__chart-toggle__entry--active': vm.activeInterval === vm.INSIGHTS_INTERVAL.QUARTER_YEAR}" ng-click="vm.loadInsights(vm.INSIGHTS_INTERVAL.QUARTER_YEAR)" href="javascript:void(0)">3M</a>
        </div>
    </div>

    {{vm.isLoading ? 'Loading - soso please, stilizeaza-ma' : ''}}

    <div class="insights__chart__bar">
        <canvas id="bar"
                class="chart chart-bar"
                data="vm.insightLineData"
                series="vm.insightLineSeries"
                legend="false"
                options="vm.barOptions"
                labels="vm.insightsOverview.model.insightLabels">
        </canvas>
    </div>

    <div class="insights__table">
        <table>
            <thead class="insights__table__header">
            <tr>
                <td>TOTAL</td>
                <td class="insights__table__amount">
                    <span ng-bind-html="vm.insightsOverview.model.totalAmountSpent | currencys:vm.user.model.currency.symbol:vm.user.model.currency.fractionSize"></span>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="totalPerMonth in vm.insightsOverview.model.insightsOverview">
                <td class="insights__table__category label-uppercase">
                    {{vm.insightsOverview.model.insightLabels[$index]}}
                </td>
                <td class="insights__table__amount">
                    <span ng-bind-html="totalPerMonth.totalAmount | currencys:vm.user.model.currency.symbol:vm.user.model.currency.fractionSize"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
