<div header class="view-container__header"></div>

<div class="view-container__content">

    <!--Trial period countdown-->
    <div ng-if="currentUser.showTrialRemainingDays()">
        <div ng-include src="'/app/account/partials/trial_period_countdown.html'"></div>
    </div>

    <!--Account confirmation alert-->
    <div ng-if="! currentUser.model.emailConfirmed">
        <div ng-include src="'/app/account/partials/email_confirmation_resend_template.html'"></div>
    </div>

    <!-- Flash messages. -->
    <div flash-messages flash="flash" identifier-id="{{vm.alertId}}"></div>

    <!--Empty state if no expenses overall-->
    <div class="insights__empty-state" ng-if="vm.insight.model.totalNumberOfTransactions === 0">
        <div class="insights__empty-state__icon"></div>
        <h1>No data yet.</h1>

        <div>Add some expenses or
            <a href="javascript:void(0)" ui-sref="settings.import.choose">import from other apps</a> using csv export.
        </div>
    </div>

    <div ng-show="vm.insight.model.totalNumberOfTransactions !== 0">
        <!-- Insight fetch form -->
        <div class="insights__controls">

            <form name="vm.insightForm" class="insights__controls__form" novalidate>

                <!-- Select prev month -->
                <button type="button" class="insights__controls__form__arrow insights__controls__form__arrow--left icon-chevron-left" ng-disabled="vm.isLoading || ! vm.canLoadPrevMonth()" ng-click="vm.prevMonth()"></button>

                <div class="insights__controls__form__month" ng-class="{'has-error': vm.insightForm.spentDate.$invalid && vm.insightForm.$submitted}">

                    <!--Hidden input of the insight chosen date-->
                    <input type="hidden" name="spentDate" ng-model="vm.insightData.spentDate" required valid-date />

                    <!--insight date picker-->
                    <div class="insight__form__date__input">
                        <button type="button"
                                class="insight__form__date__input__btn"
                                ng-click="vm.openDatePicker($event)"
                                ng-model="vm.insightData.spentDate"
                                datepicker-popup
                                is-open="vm.datePickerOpened"
                                ng-change="vm.onChange()"
                                ng-disabled="vm.isLoading"
                                datepicker-mode="'month'" min-mode="month"
                                date-disabled="vm.shouldDateBeDisabled(date, mode)"
                                show-button-bar="false"
                                datepicker-options="{minMode: 'month',datepickerMode: 'month'}">{{vm.isLoading ? 'Loading'
                            : (vm.insightData.spentDate | friendlyMonthDate)}}
                        </button>
                    </div>

                    <!--Error messages-->
                    <div class="form-group-input__message" ng-class="{'has-error': vm.insightForm.spentDate.$invalid && vm.insightForm.$submitted}" ng-messages="vm.insightForm.spentDate.$error" ng-if="vm.insightForm.$submitted">
                        <div ng-message="required">Please add a date.</div>
                        <div ng-message="validDate">Date should be in the past.</div>
                    </div>
                </div>

                <!-- Select next month -->
                <button type="button" class="insights__controls__form__arrow insights__controls__form__arrow--right icon-chevron-right" ng-disabled="vm.isLoading || ! vm.canLoadNextMonth()" ng-click="vm.nextMonth()"></button>

            </form>

            <div class="insights__controls__chart-toggle">
                <a class="insights__controls__chart-toggle__entry" ng-class="{'insights__controls__chart-toggle__entry--active': vm.activeChart === vm.INSIGHTS_CHARTS.BAR}" href="javascript:void(0)" ng-click="vm.setActiveChart(vm.INSIGHTS_CHARTS.BAR)">Bar</a>
                <a class="insights__controls__chart-toggle__entry" ng-class="{'insights__controls__chart-toggle__entry--active': vm.activeChart === vm.INSIGHTS_CHARTS.DOUGHNUT}" href="javascript:void(0)" ng-click="vm.setActiveChart(vm.INSIGHTS_CHARTS.DOUGHNUT)">Pie</a>
            </div>

        </div>

        <!--Empty state if no expenses for current month-->
        <div class="insights__empty-state" ng-if="vm.insight.model.numberOfTransactions === 0">
            <div class="insights__empty-state__icon"></div>
            <h1>No expenses on this month yet.</h1>

            <div>You'll get some insights here.</div>
        </div>

        <div ng-if="vm.insight.model.numberOfTransactions !== 0">
            <div class="insights__summary">
                Hey, <span>{{currentUser.model.firstName}}</span>! In
                <span>{{(vm.insightData.spentDate | friendlyMonthDate)}}</span>
                you've spent a total of
                <span class="label-info" ng-bind-html="vm.insight.model.totalAmountSpent | currencys:vm.user.model.currency.symbol:vm.user.model.currency.fractionSize"></span>.
            </div>

            <div ng-if="vm.activeChart === vm.INSIGHTS_CHARTS.BAR" class="insights__chart__bar">
                <canvas id="bar"
                        class="chart chart-bar"
                        data="vm.insightLineData"
                        series="vm.insightLineSeries"
                        legend="false"
                        options="vm.barOptions"
                        labels="vm.insight.model.insightLabels">
                </canvas>
            </div>

            <div ng-if="vm.activeChart === vm.INSIGHTS_CHARTS.DOUGHNUT" class="insights__chart__doughnut">
                <canvas class="chart chart-doughnut"
                        data="vm.insight.model.insightData"
                        labels="vm.insight.model.insightLabels"
                        legend="false"
                        options="vm.donutChartOptions"
                        colours="vm.insight.model.insightColors">
                </canvas>
            </div>

            <div class="insights__table">
                <table>
                    <thead class="insights__table__header">
                    <tr>
                        <td>TOTAL</td>
                        <td class="insights__table__amount">
                            <span ng-bind-html="vm.insight.model.totalAmountSpent | currencys:vm.user.model.currency.symbol:vm.user.model.currency.fractionSize"></span>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="totalPerCategory in vm.insight.model.totalPerCategoryInsightDTOs">
                        <td class="insights__table__category label-uppercase">
                            <span class="insights__table__category__color" ng-style="{'background':totalPerCategory.categoryDTO.color.color}">C</span>
                            {{totalPerCategory.categoryDTO.name}}
                        </td>
                        <td class="insights__table__amount">
                            <span ng-bind-html="totalPerCategory.totalAmount | currencys:vm.user.model.currency.symbol:vm.user.model.currency.fractionSize"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="insights__summary">

                <div class="insights__summary__item">
                    You had <span>{{vm.insight.model.numberOfTransactions}} {{vm.insight.model.numberOfTransactions | pluralisationFilter:'transaction':'transactions'}}</span>,
                    in <span>{{vm.insight.model.totalPerCategoryInsightDTOs.length}} {{vm.insight.model.totalPerCategoryInsightDTOs.length | pluralisationFilter:'category':'categories'}}</span>.
                </div>

                <div ng-if="vm.insight.model.numberOfTransactions > 1">
                    <div class="insights__summary__item">
                        Your biggest transaction was <span class="label-info" ng-bind-html="vm.insight.model.biggestExpense.value | currencys:vm.user.model.currency.symbol:vm.user.model.currency.fractionSize"></span>,
                        on <span class="label-uppercase category__label" ng-style="{'background':vm.insight.model.biggestExpense.category.color.color}">{{vm.insight.model.biggestExpense.category.name}}</span>.
                    </div>

                    <div class="insights__summary__item">
                        You've spent the most on <span class="label-uppercase category__label" ng-style="{'background':vm.insight.model.highestAmountCategory.color.color}">{{vm.insight.model.highestAmountCategory.name}}</span>.
                    </div>

                    <div ng-if="vm.insight.model.categoryWithTheMostTransactionsInsightsDTO.numberOfTransactions > 1" class="insights__summary__item">
                        The category with the most transactions (<span>{{vm.insight.model.categoryWithTheMostTransactionsInsightsDTO.numberOfTransactions}}</span>)
                        is <span class="label-uppercase category__label" ng-style="{'background':vm.insight.model.categoryWithTheMostTransactionsInsightsDTO.categoryDTO.color.color}">{{vm.insight.model.categoryWithTheMostTransactionsInsightsDTO.categoryDTO.name}}</span>.
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<div footer class="view-container__footer"></div>
