<canvas id="bar"
        class="chart chart-bar"
        data="vm.insightLineData"
        series="vm.insightLineSeries"
        legend="false"
        options="vm.barOptions"
        labels="vm.insightsOverview.model.insightLabels">
</canvas>
    <div class="insights__controls">
        <div class="insights__controls__chart-toggle">
            <a class="insights__controls__chart-toggle__entry" href="javascript:void(0)">12M</a>
            <a class="insights__controls__chart-toggle__entry" href="javascript:void(0)">6M</a>
            <a class="insights__controls__chart-toggle__entry insights__controls__chart-toggle__entry--active" href="javascript:void(0)">3M</a>
        </div>
    </div>