<div header class="view-container__header"></div>

<div class="view-container__content view-container__content--insights">

    <!--Trial period countdown-->
    <div ng-if="currentUser.showTrialRemainingDays()">
        <div ng-include src="'/app/account/partials/trial_period_countdown.html'"></div>
    </div>

    <!--Account confirmation alert-->
    <div ng-if="! currentUser.model.emailConfirmed">
        <div ng-include src="'/app/account/partials/email_confirmation_resend_template.html'"></div>
    </div>

    <!-- Flash messages. -->
    <div flash-messages flash="flash" identifier-id="{{vm.alertId}}"></div>

    <ul class="view-container__content__admin__aside">
        <li ui-sref-active="tab__active">
            <a href="javascript:void(0)" ui-sref="insights.monthly">Monthly</a>
        </li>
        <li ui-sref-active="tab__active">
            <a href="javascript:void(0)" ui-sref="insights.overview">Overview</a>
        </li>
        <li ui-sref-active="tab__active">
            <a href="javascript:void(0)" ui-sref="insights.progress">Progress</a>
        </li>
    </ul>

    <div class="view-container__content__admin__section" ui-view></div>

</div>

<div footer class="view-container__footer"></div>
