<div header class="view-container__header"></div>

<div class="view-container__content">

    <div class="insights__textsection">
        Here are some useful insights around your expenses.
    </div>

    <div class="insights__datepicker">
        <button type="submit"> < </button>
        <button type="submit" class="insights__datepicker__month"> March 2015 </button>
        <button type="submit"> > </button>
    </div>

    <div class="insights__summary">
        <div class="insights__summary__thumbnail">
            <span class="insights__summary__thumbnail__number">7.324</span>
            <span class="insights__summary__thumbnail__label">TOTAL</span>
        </div>
        <div class="insights__summary__thumbnail">
            <span class="insights__summary__thumbnail__number">134</span>
            <span class="insights__summary__thumbnail__label">transactions</span>
        </div>
        <div class="insights__summary__thumbnail">
            <span class="insights__summary__thumbnail__number">+5%</span>
            <span class="insights__summary__thumbnail__label">from previous month</span>
        </div>
    </div>

    <canvas id="bar"
            class="chart chart-bar"
            data="insightLineData"
            series="insightLineSeries"
            legend="true"
            labels="insight.model.insightLabels">
    </canvas>

    <div class="insights__chart__doughnut">
        <canvas class="chart chart-doughnut"
                data="insight.model.insightData"
                labels="insight.model.insightLabels"
                colours="insight.model.insightColors"></canvas>
    </div>

    <canvas id="line"
            class="chart chart-line"
            data="insightLineData"
            labels="insight.model.insightLabels"
            series="insightLineSeries"
            legend="true"></canvas>

    <!-- <canvas id="line"
             class="chart chart-line"
             data="insight.model.insightData"
             labels="insight.model.insightLabels"
             series="insight.model.insightColors"
             legend="true"></canvas>-->

    <!--<canvas id="pie"-->
            <!--class="chart chart-pie"-->
            <!--data="insight.model.insightData"-->
            <!--colours="insight.model.insightColors"-->
            <!--labels="insight.model.insightLabels"></canvas>-->
</div>

<div footer class="view-container__footer"></div>