.site__container__section__habits__img {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../assets/img/home/home_bottom.png");
    background-size: cover;
    height: 55vh;
    padding-top: 10px;
    width: 100%;
}
