.header__public__side__top {
    position: relative;
    height: 120px;
    background-color: $white;
    padding: 30px 5px 5px 5px;
    text-align: center;

    .header__public__side__top__logo {
        @include size(60px 60px);
        background: url("/assets/img/logo.svg") no-repeat top left;
        background-size: contain;
        //position: absolute;
        margin: 0 auto;
        display: block;
        //left: 15px;
        //top: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

.header__public__side__list {
    padding: 0;

    li {
        padding: 0;
        margin: 0;
    }

    .header__public__side__list__item {
        background-color: $white;
        height: 50px;
        line-height: 47px;
        font-size: $font-size-base;
        margin: 1px 0;
        color: $gray-medium;
        position: relative;

        a {
            display: block;
            padding-left: 30px;
        }
    }

    .header-public__navigation__loginbtn {
        @include btn-block(lighten($landing-page, 5%));
    }

    .header-public__navigation__signupbtn {
        @include btn-block($brand-secondary);
    }

    .header-public__navigation__loginbtn,
    .header-public__navigation__signupbtn {
        @include border-radius(0);
    }
}
