@media (max-width: $header-responsive-breakpoint) {
    .header {
        height: $header-height-responsive;
    }

    .header__brand--responsive {
        display: block;
        padding-top: 12px;

        .header__brand--logo {
            position: relative;
            margin: 0 auto;
            float: none;
        }
    }

    .header__wrapper--top,
    .header__navigation,
    .header__navigation__secondary {
        display: none;
    }

    .header__navigation__toggle {
        display: block;
    }

    .header__navigation--links {
        display: none;
    }
}
