<div class="header__public__side__top">
    <div class="header__public__side__top__logo"></div>
</div>

<ul class="header__public__side__list">
    <li>
        <button class="header-public__navigation__loginbtn" account-modal-toggle="login">Log in</button>
    </li>
    <li>
        <button class="header-public__navigation__signupbtn" account-modal-toggle="requestSignUpRegistration">
            Get started now!
        </button>
    </li>
</ul>


<ul class="header__public__side__list">
    <li snap-close class="header__public__side__list__item">
        <a href="javascript:void(0)" ng-click="vm.goToTourPage();">Tour</a>
    </li>
    <li snap-close class="header__public__side__list__item">
        <a href="javascript:void(0)" ui-sref="pricing" ui-sref-opts="{reload:true}">Pricing</a>
    </li>
    <li snap-close class="header__public__side__list__item">
        <a href="http://blog.revaluate.io" target="_blank">Blog</a>
    </li>
</ul>

<ul class="header__public__side__list">
    <li class="header__public__side__list__item">
        <a href="javascript:void(0)" ng-controller="ContactModalController" ng-click="openContactModal()">Contact us</a>
    </li>
</ul>
