<div class="settings__section">

    <div class="settings__title">Import</div>

    <!-- Flash messages. -->
    <div flash-messages flash="flash" identifier-id="{{alertIdentifierId}}"></div>

    <!--Expenses import form-->
    <form name="expensesImportForm" ng-submit="submitPerformImport()" novalidate ng-show="isUploadSuccessful">

        <div class="expenses-import__edit">

            <div class="expenses-import__edit__category" ng-repeat="categoryMatchCandidate in expensesImportAnswer.model.expenseCategoryMatchingProfileDTOs track by categoryMatchCandidate.categoryCandidateName">

                <!--Category candidate name preview-->
                <div class="expenses-import__edit__category__name">

                    <span class="expenses-import__edit__category__name__candidate">
                        {{categoryMatchCandidate.categoryCandidateName}}
                    </span>
                </div>

                <!--Category select-->
                <ng-form class="expenses-import__edit__category__controls" name="expensesImportCategoryMatchEntryForm">

                    <div class="expense__form__category expenses-import__edit__category__controls__category" ng-class="{'has-error': expensesImportForm.$submitted && (expensesImportCategoryMatchEntryForm.$error['autocomplete-required'] || expensesImportCategoryMatchEntryForm.category.$invalid || badPostSubmitResponse)}">

                        <div angucomplete-alt
                             selected-object="categoryMatchCandidate.category"
                             local-data="categories"
                             search-fields="model.name"
                             title-field="model.name"
                             field-required="true"
                             placeholder="Add category"
                             maxlength="50"
                             pause="1"
                             minlength="0"
                             input-class="expense__form__category__input"
                             match-class="angucomplete-highlight"
                             template-url="app/expenses/partials/expense.category.template.html">
                        </div>

                        <!-- Error messages -->
                        <div class="form-group-input__message" ng-class="{'has-error': expensesImportCategoryMatchEntryForm.$invalid && expensesImportForm.$submitted}" ng-messages="expensesImportCategoryMatchEntryForm.$error" ng-if="expensesImportForm.$submitted">
                            <div ng-message="autocomplete-required">Category is missing or is invalid.</div>
                        </div>

                        <div class="form-group-input__message" ng-if="expensesImportCategoryMatchEntryForm.category.$invalid && expensesImportForm.$submitted">Please add a category.</div>
                    </div>

                </ng-form>

            </div>

            <!-- Button -->
            <button class="sign-up__setup__btn" type="submit">{{isImporting ? 'Importing..' : 'Import expenses'}}</button>
        </div>

    </form>

    <!--Import section form-->
    <div class="settings__section__form" ng-hide="isUploadSuccessful">

        <div nv-file-drop="" uploader="uploader" filters="queueLimit, csvFilter">

            <div class="container">

                <div class="row">

                    <div class="col-md-3">

                        <input type="file" nv-file-select="" uploader="uploader" />
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>