$add-category-form-height: 50px;

.categories__form {
  @include clearfix();
  width: 750px;
  margin: 0 auto;
  color: $black;
  font-weight: $font-weight-bold;
}

.categories__add__input-group {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 30%;
}

.categories__add__input-group__name, .categories__add__input-group__color {
  height: $add-category-form-height;
  line-height: $add-category-form-height;
  border: solid 2px $lightest-gray;
  text-align: right;
  padding-right: 50px;
  display: inline-block;
}

.has-error {

  .categories__add__input-group__name, .categories__add__input-group__color {
    border-color: $brand-danger;
  }
}

.categories__add__btn {
  @include btn-big($brand-primary);
}

.categories__cancel__btn {
  @include btn-big($brand-danger);
}

.categories__new__btn {
  @include btn-big($brand-info);
}

.categories__add__btn, .categories__cancel__btn, .categories__new__btn {
  font-size: 16px;
  font-weight: $font-weight-bold;
  display: inline-block;
  min-width: 40px;
  margin-bottom: 5px;
}