.categories {

}

.categories__form__color__preview {
  @include border-radius(50%);
  @include size(23px 23px);
  position: absolute;
  margin: 8px;
  left: 0;
  top: 0;
}

.categories__form__input-group {
  vertical-align: middle;
  position: relative;
  float: left;
  width: 50%;
}

.categories__form__input-group__name,
.categories__form__input-group__color {
  height: $add-category-form-height;
  line-height: $add-category-form-height;
  padding-right: 50px;
  display: inline-block;
}

.categories__form__input-group__name {
}

.categories__form__input-group__color {
  text-align: right;
  width: 30%;
}

.has-error {

  .categories__form__input-group__name,
  .categories__form__input-group__color {
    border-color: $brand-danger;
  }
}

.categories__cancel__btn {
  @include btn-big($brand-danger);
  font-size: 16px;
  font-weight: $font-weight-bold;
  display: inline-block;
  min-width: 40px;
  vertical-align: middle;
  position: relative;
  width: 45%;
}

.categories__edit__form__content__right__update,
.categories__edit__category__delete,
.categories__add__form__content__right__add {

  &.ladda-button[data-style=expand-left][data-loading] {
    padding-left: 20px;
  }

  &.ladda-button[data-style=expand-left] .ladda-spinner {
    left: 10px;
  }
}
