.categories__edit {
  @include span-columns(10);
  @include shift(1);
  @include border-radius($base-border-radius);
}

.categories__edit__category {
  @include span-columns(12);
  @include clearfix();
  @include border-radius($base-border-radius);
  padding: 0;
  min-height: 42px;
}

.categories__edit__category__name {
  @include clearfix();
  float: left;

  .categories__edit__category__color {
    @include border-radius(50%);
    @include size(22px 22px);
    margin: 10px;
    display: inline-block;
    float: left;
    text-indent: -9999px;
  }

  .categories__edit__category__label {
    @include border-radius($base-border-radius);
    @include user-select(none);
    display: inline-block;
    float: left;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: $font-size-base;
  }
}

.categories__edit__category__controls {
  @include clearfix();
  float: right;
  padding-top: 5px;

  .categories__edit__category__edit {
    @include btn-small($brand-default);
    color: $gray-dark-1;
  }
  .categories__edit__category__delete {
    @include btn-small($brand-danger);
  }

  .categories__edit__category__edit,
  .categories__edit__category__delete {
    float: right;
    margin-left: 10px;
  }
}

.categories__edit__form__content__left {
  @include span-columns(4 of 8);
}

.categories__edit__form__content__right {
  @include span-columns(4 of 8);
  height: $add-category-form-height;
  padding-top: 5px;

  .categories__edit__form__content__right__update {
    @include btn-small($brand-primary);
  }

  .categories__edit__form__content__right__cancel {
    @include btn-small($brand-default);
    color: $gray-dark-1;
  }

  .categories__edit__form__content__right__update,
  .categories__edit__form__content__right__cancel {
    float: right;
    min-width: 40px;
    margin-left: 10px;
  }
}