.categories {
  @include outer-container();
  text-align: center;
  margin-top: 50px;
}

.categories__box {
  @include span-columns(9);
  @include shift(1);
  @include border-radius($base-border-radius);
  border: solid 1px $lightest-gray;
  padding: 40px;
}

.categories__add {
  @include span-columns(9);
  @include shift(1);
  @include border-radius($base-border-radius);
  border: solid 1px $lightest-gray;
  padding: 40px;
}

.categories__section {
  padding: 10px 0;
  text-align: left;
}

.categories__box__categories {
  @include outer-container();
  padding-top: 30px;

  .categories__box__categories__category {
    @include span-columns(12);
    padding-bottom: 10px;
    font-size: $base-font-size-xs;
  }

  .categories__box__categories__category__name {
    @include span-columns(2 of 8);
    @include border-radius($base-border-radius);
    @include user-select(none);
    border: solid 1px transparent;
    cursor: pointer;
    color: $white;
    padding: 2px 2px;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    height: 40px;
    line-height: 38px;
    font-size: 18px;
    font-weight: bold;
  }

  .categories__box__categories__category__controls {
    @include span-columns(2 of 8);
    @include shift(4);

    .categories__box__categories__category__edit {
      @include span-columns(1 of 2);
      @include btn-big($brand-info);
    }
    .categories__box__categories__category__delete {
      @include span-columns(1 of 2);
      @include btn-big($brand-danger);
    }

    .categories__box__categories__category__edit, .categories__box__categories__category__delete {
      font-size: 16px;
      font-weight: $font-weight-bold;
      display: inline-block;
      min-width: 40px;
      margin-bottom: 5px;
    }
  }

}