.color-picker-box {
  position: absolute;
  top: -52px;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 1200;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.97);
  display: none;
}

.color-picker-box--open {
  display: block;
}

.color-picker-box.color-picker-box--open-add-active {
  display: block;
  @include fadeIn(0.4s);
}

.color-picker-box.color-picker-box--open-remove-active {
  display: block;
  @include fadeOut(0.4s);
}