<!--Display expense-->
<div class="expenses__list__entry__display" ng-if="! showContent" ng-class="expense.marked ? 'expense__bulk--marked' : ''" ng-click="toggleContent();">

    <!--Actions on expense-->
    <div class="expenses__list__entry__select icon-checkmark-strong-unchecked" ng-if="! expense.marked" ng-click="toggleMark();$event.stopPropagation();"></div>
    <div class="expenses__list__entry__select icon-checkmark-strong" ng-if="expense.marked" ng-click="toggleMark();$event.stopPropagation();"></div>

    <div class="expenses__list__entry__price"> {{expense.model.value | currency:user.model.currency.symbol:user.model.currency.fractionSize}}</div>

    <!--Expense category-->
    <div class="expenses__list__entry__category" ng-style="{'background':expense.model.category.color.color}" ng-bind-html="expense.model.category.name"></div>

    <!--Expense description-->
    <div class="expenses__list__entry__details" ng-bind-html="expense.model.description | highlightSearch:searchByText"></div>

    <!--Expense date-->
    <div class="expenses__list__entry__date">{{expense.model.spentDate | friendlyDate}}</div>
</div>

<!-- Display expense in edit mode -->
<div class="expenses__form expenses__form--edit" ng-if="showContent">

    <form name="expenseForm" ng-submit="updateExpense(expenseForm, shownExpense, category)" novalidate focus-first-error>

        <!-- Form groups -->
        <div class="expense__form__price" ng-class="{'has-error': expenseForm.$submitted && (expenseForm.value.$invalid || badPostSubmitResponse)}">
            <input class="expense__form__price__input" type="text" name="value" placeholder="The value" ng-model="shownExpense.model.value" format-price format="number" caret-price-position required valid-price />
            <span class="expense__form__price__currency">{{user.model.currency.symbol}}</span>

            <!-- Error messages -->
            <div class="form-group-input__message" ng-class="{'has-error': expenseForm.value.$invalid && expenseForm.$submitted}" ng-messages="expenseForm.$error" ng-if="expenseForm.$submitted">
                <div ng-message="required">Please add a price.</div>
                <div ng-message="validPrice">Price is invalid</div>
            </div>
        </div>

        <!-- Form group -->
        <div class="expense__form__category" ng-class="{'has-error': expenseForm.$submitted && (expenseForm.category.$invalid || badPostSubmitResponse)}">

            <ui-select name="category" class="category-select__input" ng-style="{'background':$select.selected.model.color.color}" required ng-model="category.selected" theme="selectize">
                <ui-select-match ng-style="{'background':$select.selected.model.color.color}" placeholder="Select a category">{{$select.selected.model.name}}</ui-select-match>
                <ui-select-choices repeat="categoryEntry in categories | orderObjectBy : 'model.name' : false | filter:{model:{name:$select.search}} track by categoryEntry.model.id">
                    <span class="category__color__preview" ng-style="{'background':categoryEntry.model.color.color}">C</span>
                    <span class="" ng-bind-html="categoryEntry.model.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>

            <!-- Error messages -->
            <div class="form-group-input__message" ng-class="{'has-error': expenseForm.category.$invalid && expenseForm.$submitted}" ng-messages="expenseForm.$error" ng-if="expenseForm.$submitted">
                <div ng-message="required">Please add a category.</div>
            </div>
        </div>

        <!-- Description input -->
        <div class="expense__form__details" ng-class="{'has-error': expenseForm.$submitted && (expenseForm.description.$invalid || badPostSubmitResponse)}">
            <input class="expense__form__details__input" type="text" name="description" ng-maxlength="30" maxlength="30" placeholder="Add details (optional)" ng-model="shownExpense.model.description" escape-html />

            <!-- Error messages -->
            <div class="form-group-input__message" ng-class="{'has-error': expenseForm.description.$invalid && expenseForm.$submitted}" ng-messages="expenseForm.$error" ng-if="expenseForm.$submitted">
                <div ng-message="maxlength">Hmm. Too long.</div>
            </div>
        </div>

        <!-- Date input -->
        <div class="expense__form__date" ng-class="{'has-error': expenseForm.spentDate.$invalid && expenseForm.$submitted}">

            <!--Hidden input of the expense chosen date-->
            <input type="hidden" name="spentDate" ng-model="shownExpense.model.spentDate" required valid-date />

            <!--Expense date picker-->
            <div class="expense__form__date__input">
                <button ng-click="openDatePicker($event)" type="button"
                        datepicker-popup is-open="datePickerStatus.opened"
                        min-date="minDate"
                        max-date="maxDate"
                        ng-model="shownExpense.model.spentDate"
                        datepicker-options="{startingDay:1,showWeeks:false}">
                    {{shownExpense.model.spentDate | friendlyDate}}
                </button>
            </div>

            <!--Error messages-->
            <div class="form-group-input__message" ng-class="{'has-error': expenseForm.spentDate.$invalid && expenseForm.$submitted}" ng-messages="expenseForm.$error" ng-if="expenseForm.$submitted">
                <div ng-message="required">Please add a date.</div>
                <div ng-message="validDate">Date should be in the past.</div>
            </div>
        </div>

        <!-- Button container -->
        <div class="expense__form__submit__save">
            <button class="expense__edit__form__savebtn" type="submit">Save</button>
        </div>

        <div class="expense__form__submit__cancel">
            <button class="expense__edit__form__cancelbtn" type="button" ng-click="cancel();">Discard changes</button>
        </div>
    </form>

</div>