<div header class="view-container__header"></div>

<div class="view-container__content">

    <!--Trial period countdown-->
    <div ng-if="currentUser.showTrialRemainingDays()">
        <div ng-include src="'app/account/partials/trial_period_countdown.html'"></div>
    </div>

    <!--Account confirmation alert-->
    <div ng-if="! currentUser.model.emailConfirmed" ng-controller="EmailConfirmationSendController">
        <div ng-include src="'app/account/partials/email_confirmation_send_send.html'"></div>
    </div>

    <!-- Flash messages. -->
    <div flash-messages flash="flash" identifier-id="generalError"></div>

    <!-- Flash messages. -->
    <div flash-messages flash="flash" identifier-id="{{alertIdentifierId}}"></div>

    <div ui-view="expenses"></div>

</div>

<div footer class="view-container__footer"></div>