
<!-- Add a new expense form -->
<div class="expenses__form">

    <form name="addExpenseForm" novalidate>

        <!-- Price input-->
        <div class="expense__form__price">
            <input class="expense__form__price__amount" type="text" name="price" value="0.00" required />
            <span class="expense__form__price__currency">RON</span>
        </div>

        <div class="expense__form__category">
            <input class="expense__form__category__input" type="text" name="category" placeholder="Add category"/>
        </div>

        <div class="expense__form__details">
            <input class="expense__form__details__input" type="text" name="details" placeholder="Add details (optional)"/>
        </div>

        <div class="expense__form__date">
            <input class="expense__form__date__input" type="text" name="date" value="Today"/>
        </div>

    </form>

</div>


<!-- The list of latest expenses-->
<div class="expenses__list">

    <div class="expenses__list__entry">
        <div class="expenses__list__entry__price">32.00<span class="expenses__list__entry__currency">RON</span></div>
        <div class="expenses__list__entry__category">Food</div>
        <div class="expenses__list__entry__details">Eating out with Ionel</div>
        <div class="expenses__list__entry__date">Today</div>
    </div>

    <div class="expenses__list__entry">
        <div class="expenses__list__entry__price">280.00<span class="expenses__list__entry__currency">RON</span></div>
        <div class="expenses__list__entry__category">Clothing</div>
        <div class="expenses__list__entry__details">The new T-shirt stock</div>
        <div class="expenses__list__entry__date">Yesterday</div>
    </div>

    <div class="expenses__list__entry">
        <div class="expenses__list__entry__price">280.00<span class="expenses__list__entry__currency">RON</span></div>
        <div class="expenses__list__entry__category">Culture & Education</div>
        <div class="expenses__list__entry__details">The new T-shirt stock</div>
        <div class="expenses__list__entry__date">27 Feb</div>
    </div>

    <!--Load more button-->
    <div class="expenses__list__loadbtn">
        Load more
    </div>

</div>