<!-- Add a new expense form -->
<div class="expenses__form">

    <form name="expenseForm" ng-submit="submit(expenseData)" novalidate focus-first-error>

        <!-- Flash messages. -->
        <div flash-messages flash="flash" identifier-id="{{alertIdentifierId}}"></div>

        <!-- Form groups -->
        <div class="expense__form__price" ng-class="{'has-error': expenseForm.$submitted && (expenseForm.amount.$invalid || badPostSubmitResponse)}">
            <input class="expense__form__price__input" type="text" name="amount" placeholder="The amount" ng-model="expenseData.amount" required />
            <span class="expense__form__price__currency">RON</span>

            <!-- Error messages -->
            <div class="form-group-input__message" ng-if="expenseForm.amount.$invalid && expenseForm.$submitted">Please add currency.</div>
        </div>

        <!-- Form group -->
        <div class="expense__form__category" ng-class="{'has-error': expenseForm.$submitted && (expenseForm.category.$invalid || badPostSubmitResponse)}">
            <input class="expense__form__category__input" type="text" name="category" placeholder="Add category" ng-model="expenseData.category" required />

            <!-- Error messages -->
            <div class="form-group-input__message" ng-if="expenseForm.category.$invalid && expenseForm.$submitted">Please add a category.</div>
        </div>

        <!-- Description input -->
        <div class="expense__form__details" ng-class="{'has-error': expenseForm.$submitted && (expenseForm.description.$invalid || badPostSubmitResponse)}">
            <input class="expense__form__details__input" type="text" name="description" placeholder="Description" ng-model="expenseData.description" />

            <!-- Error messages -->
            <div class="form-group-input__message" ng-if="expenseForm.description.$invalid && expenseForm.$submitted">Something is wrong.</div>
        </div>

        <!-- Date input -->
        <div class="expense__form__date" ng-class="{'has-error': expenseForm.selectedDate.$invalid}">

            <!--Hidden input of the expense chosen date-->
            <input type="hidden" name="selectedDate" ng-model="expenseData.date" valid-date />

            <!--Expense date picker-->
            <div class="expense__form__date__input">
                <button ng-click="open($event)" type="button" datepicker-popup is-open="opened" min="minDate" ng-model="expenseData.date" show-weeks="false" datepicker-options="{starting_day:1}"> {{expenseData.date | friendlyDate}}</button>
            </div>

            <!--Error messages-->
            <div class="form-group-input__message" ng-messages="expenseForm.selectedDate.$error">
                <div ng-message="validDate">Please make sure that the date and time are in the future.</div>
            </div>
        </div>

        <!-- Button container -->
        <button type="submit">Add</button>
    </form>

</div>

<!-- The list of latest expenses-->
<div class="expenses__list">

    <div class="expenses__list__entry">
        <div class="expenses__list__entry__price">32.00<span class="expenses__list__entry__currency">RON</span></div>
        <div class="expenses__list__entry__category">Food</div>
        <div class="expenses__list__entry__details">Eating out with Ionel</div>
        <div class="expenses__list__entry__date">Today</div>
    </div>

    <div class="expenses__list__entry">
        <div class="expenses__list__entry__price">280.00<span class="expenses__list__entry__currency">RON</span></div>
        <div class="expenses__list__entry__category">Clothing</div>
        <div class="expenses__list__entry__details">The new T-shirt stock</div>
        <div class="expenses__list__entry__date">Yesterday</div>
    </div>

    <div class="expenses__list__entry">
        <div class="expenses__list__entry__price">280.00<span class="expenses__list__entry__currency">RON</span></div>
        <div class="expenses__list__entry__category">Culture & Education</div>
        <div class="expenses__list__entry__details">The new T-shirt stock</div>
        <div class="expenses__list__entry__date">27 Feb</div>
    </div>

    <!--Load more button-->
    <div class="expenses__list__loadbtn">
        Load more
    </div>

    <div class="dropdown" dropdown is-open="status.isopen">
        <button class="dropdown-toggle" dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">
            Generic dropdown
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a class="nav-link" href="javascript:void(0)" ui-sref="settings">Preferences</a></li>
            <li><a class="nav-link" href="javascript:void(0)" ui-sref="account:logout">Logout</a></li>
        </ul>
    </div>

</div>