<!--Expand/collapse click-->
<div ng-if="! vm.isEmptyTransactions()"
     class="expenses__list__expand"
     ng-click="vm.toggleContent()">{{vm.totalPerCategoryInsights.numberOfTransactions}} {{vm.totalPerCategoryInsights.numberOfTransactions | pluralisationFilter:'transaction':'transactions'}}
</div>

<!--If is loading for the first time (until expenses are loaded)-->
<div class="spinner expenses__list__category__loading" ng-if="vm.isUpdatingListLayout">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div>

<!--If is loading for the first time (until expenses are loaded)-->
<div class="expenses__list__category" ng-if="vm.isExpensesLoaded() && vm.expanded" fade-out-in fade-when="vm.isUpdatingListLayout">

    <div class="expenses__list__category__entry" ng-repeat="expense in vm.expensesOfThisCategory | orderObjectBy : 'model.spentDate' : true | limitTo: vm.expensesLimit track by expense.model.id">

        <div class="expenses__list__category__entry__section">

            <!--Expense date-->
            <div class="expenses__list__category__entry__section__date">{{expense.model.spentDate | friendlyDate}}</div>

            <!--Expense description-->
            <div class="expenses__list__category__entry__section__details" ng-bind-html="expense.model.description"></div>

            <!--Expense price-->
            <div class="expenses__list__category__entry__section__price">
                <span ng-bind-html="expense.model.value | currencys:vm.user.model.currency.symbol:vm.user.model.currency.fractionSize"></span>
            </div>

        </div>
    </div>
</div>

<div ng-if="vm.displayShowAllButton">
    <button type="submit" class="expenses__list__loadbtn" ng-click="vm.showAllExpenses()">{{vm.isUpdatingListLayout ? 'Loading..' : 'Show all ' + vm.totalPerCategoryInsights.numberOfTransactions + ' transactions'}}</button>
</div>
