<!-- Add a new expense form -->
<div class="expenses__form">

    <form name="expenseForm" ng-submit="saveExpense()" novalidate focus-first-error>

        <!-- Flash messages. -->
        <div flash-messages flash="flash" identifier-id="{{alertIdentifierId}}"></div>

        <!-- Form groups -->
        <div class="expense__form__price" ng-class="{'has-error': expenseForm.$submitted && (expenseForm.value.$invalid || badPostSubmitResponse)}">
            <input class="expense__form__price__input" type="text" name="value" placeholder="The value" maxlength="18" ng-model="expense.model.value" format-price format="number" caret-price-position required valid-price auto-focus />
            <span class="expense__form__price__currency">{{user.model.currency.symbol}}</span>

            <!-- Error messages -->
            <div class="form-group-input__message" ng-class="{'has-error': expenseForm.value.$invalid && expenseForm.$submitted}" ng-messages="expenseForm.value.$error" ng-if="expenseForm.$submitted">
                <div ng-message="required">Don't forget the price.</div>
                <div ng-message="validPrice">Oops, you  missed the price.</div>
            </div>
        </div>

        <!-- Form group -->
        <div class="expense__form__category" ng-class="{'has-error': expenseForm.$submitted && (expenseForm.category.$invalid || badPostSubmitResponse)}">

            <ui-select name="category" class="category-select__input" ng-style="{'background':$select.selected.model.color.color}" required ng-model="category.selected" theme="selectize">
                <ui-select-match ng-style="{'background':$select.selected.model.color.color}" placeholder="Select a category">{{$select.selected.model.name}}</ui-select-match>
                <ui-select-choices repeat="categoryEntry in categories | orderObjectBy : 'model.name' : false | filter:{model:{name:$select.search}} track by categoryEntry.model.id">
                    <span class="category__color__preview" ng-style="{'background':categoryEntry.model.color.color}">C</span>
                    <span class="" ng-bind-html="categoryEntry.model.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>

            <!-- Error messages -->
            <div class="form-group-input__message" ng-class="{'has-error': expenseForm.category.$invalid && expenseForm.$submitted}" ng-messages="expenseForm.category.$error" ng-if="expenseForm.$submitted">
                <div ng-message="required">Please add a category.</div>
            </div>
        </div>

        <!-- Description input -->
        <div class="expense__form__details" ng-class="{'has-error': expenseForm.$submitted && (expenseForm.description.$invalid || badPostSubmitResponse)}">
            <input class="expense__form__details__input" type="text" name="description" ng-maxlength="30" maxlength="30" placeholder="Add details (optional)" ng-model="expense.model.description" escape-html />

            <!-- Error messages -->
            <div class="form-group-input__message" ng-class="{'has-error': expenseForm.description.$invalid && expenseForm.$submitted}" ng-messages="expenseForm.description.$error" ng-if="expenseForm.$submitted">
                <div ng-message="maxlength">Hmm. Too long. Make it shorter.</div>
            </div>
        </div>

        <!-- Date input -->
        <div class="expense__form__date" ng-class="{'has-error': expenseForm.spentDate.$invalid && expenseForm.$submitted}">

            <!--Hidden input of the expense chosen date-->
            <input type="hidden" name="spentDate" ng-model="expense.model.spentDate" required valid-date />

            <!--Expense date picker-->
            <div class="expense__form__date__input">
                <button type="button"
                        class="expense__form__date__input__btn"
                        ng-click="openDatePicker($event)"
                        ng-model="expense.model.spentDate"
                        datepicker-popup
                        is-open="datePickerOpened"
                        min-date="datePickerMinDate"
                        max-date="datePickerMaxDate"
                        datepicker-options="{startingDay:1,showWeeks:false}">{{expense.model.spentDate | friendlyDate}}
                </button>
            </div>

            <!--Error messages-->
            <div class="form-group-input__message" ng-class="{'has-error': expenseForm.spentDate.$invalid && expenseForm.$submitted}" ng-messages="expenseForm.spentDate.$error" ng-if="expenseForm.$submitted">
                <div ng-message="required">Please add a date.</div>
                <div ng-message="validDate">Date should be in the past.</div>
            </div>
        </div>

        <!-- Button container -->
        <div class="expense__form__submit__save">
            <button class="expense__edit__form__savebtn" type="submit">{{isSaving ? 'Adding' : 'Add'}}</button>
        </div>
    </form>

</div>

<!--Expense bulk actions-->
<div class="expenses__bulk-actions" ng-if="isBulkActionEnabled()">

    <div class="expenses__bulk-actions__buttons">

        <div class="expenses__bulk-actions__buttons__delete">
            <button class="expenses__bulk-actions__buttons__delete__btn-delete" ng-click="performBulkDelete()">{{isBulkDeleting ? 'Deleting...' : 'Delete'}}</button>
        </div>

        <div class="expenses__bulk-actions__buttons__cancel">
            <button class="expenses__bulk-actions__buttons__delete__btn-cancel" ng-click="cancelBulkAction()">Nevermind</button>
        </div>

    </div>

</div>

<!--Empty state-->
<div class="expenses__empty-state" ng-if="expenses.length === 0">
    <div class="expenses__empty-state__icon"></div>
    <h1>No expenses yet.</h1>

    <div>It seems like you have no expenses yet. Start adding some or <a href="javascript:void(0)" ui-sref="settings.import.choose">import from csv</a>.</div>
</div>


<!--The expenses list-->
<div expense-list expenses="expenses" categories="categories" search-by-text="searchByText" sort="desc"></div>
