<!--Expense list content.-->
<div ng-show="showExpensesContent" class="expense-list-box" ng-class="{ 'expense-list-box--past-expenses': reverseOrder}">

    <div class="expenses__list">

        <!--Expense list-->
        <div class="expenses__list__entry"
             ng-repeat="expense in expenses | orderObjectBy : 'model.spentDate' : reverseOrder | limitTo: expensesLimit | filter:{model:{description:searchByText}} as filteredExpenses track by expense.model.id"
             ng-class="expense.marked ? 'expense__bulk--marked' : ''"
             expense-entry expense="expense" categories="categories">
        </div>
    </div>

    <div ng-if="isStillExpensesToBeLoaded()">
        <button type="submit" class="expenses__list__loadbtn" ng-click="loadMoreExpenses()">{{isLoadingMore ? 'Loading..' : 'Load more'}}</button>
    </div>

</div>