// The btn mixin
// -------------
// Color: any color, but will use the brand colors from variables

@mixin btn($color) {
  display: inline-block;
  height: 35px;
  background-color: $color;
  padding: 0 15px;
  line-height: 35px;
  color: #ffffff;
  text-align: center;
  font-weight: $font-weight-regular;
  @include border-radius($base-border-radius);

  &:hover,
  &:focus {
    background-color: lighten($color, 5%);
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@mixin btn-small($color) {
  @include btn($color);
  height: 30px;
  line-height: 30px;
}

@mixin btn-big($color) {
  @include btn($color);
  height: 40px;
  line-height: 40px;
}

@mixin btn-block($color) {
  @include btn($color);
  height: 45px;
  width: 100%;
  line-height: 45px;
  font-size: $font-size-large;
}

@mixin btn-outline($color) {
  background-color: transparent;
  border: solid 2px $color;
  color: $color;
}

@mixin btn-translucent($color) {
  background-color: rgba(255, 255, 255, 0.3);
  color: $white;

  &:hover {
    color: $color;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

@mixin btn-link($color) {
  display: inline-block;
  color: $color;
  background-color: transparent;
  height: 25px;
  line-height: 0;
  padding: 2px 1px;
  border-bottom: solid 1px lighten($color, 30%);
  @include border-radius(0);

  &:hover {
    color: darken($color, 15%);
    background-color: transparent;
    border-bottom: solid 1px darken($color, 15%);
  }
}

@mixin btn-cta-hover {
  &:hover {
    background-color: $brand-primary-light;
    color: $brand-primary;
  }
}