@mixin dropdown {
  @include border-radius(3px);
  display: inline-block;
  min-width: 100px;
  color: $dark-gray;
  border: solid 1px $light-gray;
  position: relative;
  cursor: pointer;

  &::after {
    @include transform(rotate(90deg));
    position: absolute;
    right: 14px;
    top: 5px;
    content: "\276f";
    color: $medium-gray;
  }
}