// Category select
// -----------------------
.category-select__input {
    height: $category-select-height;
    @include border-radius($border-radius-base);

    .selectize-input {
        width: 100%;
        height: $category-select-height;
        line-height: 35px !important;
        background-color: transparent !important; // $gray-light-2;
        border: solid 1px $gray-light-3 !important;
        color: white;
        font-weight: $font-weight-regular;

        & > input {
            height: $category-select-height;
            text-transform: uppercase;
        }
    }

    .selectize-dropdown {
        width: $category-select-width;
    }
}

// Currency select
// -------------------------

.currency-select {
    padding-top: 16px;
    text-align: left;
    position: relative;
    max-width: $setup-currency-input-width;
    margin: 0 auto;

    &.has-error {

        .selectize-input {
            border: solid 2px $brand-danger !important;
        }
    }

    .currency-select__input,
    .selectize-input,
    .selectize-dropdown {
        max-width: $setup-currency-input-width;
        width: 100%;
    }

    .currency-select__input {
        display: block;
        @include border-radius($border-radius-base);

        &:hover {
            border-color: $gray-light-1;
        }

        &:focus {
            border-color: $brand-primary;
            outline: none;
        }
    }

    .selectize-control,
    .selectize-input {
        text-align: left;
    }
}
