.expenses__list {
    padding: 40px 0 20px 0;
}

.expenses__list__entry {
    @include no-user-select();
    padding: 5px 5px;
    margin: 0 auto;
    min-height: 45px;
    height: 100%;
    width: 100%;
    position: relative;

    &:first-child {
        border-top: solid 1px $gray-light-3;
    }
}

.expenses__list__loadbtn {
    @include btn($gray-light-2);
    width: 120px;
    color: $gray-dark-1;
    margin: 20px auto 40px auto;
    display: block;
}
