.expenses__edit__form__content__right {
  position: absolute;
  right: 10px;
  top: -45px;

  .expenses__edit__form__content__right__update {
    @include btn($brand-primary);
  }

  .expenses__edit__form__content__right__cancel {
    @include btn($brand-default);
    color: $gray-dark;
  }

  .expenses__edit__form__content__right__update,
  .expenses__edit__form__content__right__cancel {
    float: right;
    min-width: 40px;
    margin-left: 10px;
  }
}