.expenses__list {

}

.expenses__list__entry {
    padding: 0;
    margin: 0 auto;
    min-height: 45px;
    height: 100%;
    width: 100%;
    position: relative;
    border-bottom: solid 1px $gray-light-2;

    &:nth-child(2) {
        border-top: solid 1px $gray-light-2 !important;
    }
}

.expenses__list__group__name {
    padding: 20px 5px 5px 5px;
    color: $black;
}

.expenses__list__group__name--now {
    background-color: $brand-warning-light;
    color: $brand-warning-dark;
}

.expenses__list__loading {
    margin: 10px auto 30px auto;
}
