.expenses__list__category__entry__section {
    @include border-radius($border-radius-base);
    @include clearfix();
    padding: 0 0 0 10px;
    margin: 0 5px;
    min-height: 34px;
    line-height: 26px;
    border-bottom: solid 1px #f9f9f9;

    div {
        display: inline-block;
        padding: 1px 10px;
    }

    .expenses__list__category__entry__section__price {
        width: 175px;
        text-align: right;
        margin-right: 15px;
        float: left;

        .currency__symbol {
            padding: 0 5px;
            color: $gray-medium;
            font-weight: $font-weight-light;
        }
    }

    .expenses__list__category__entry__section__category {
        @include category-label($brand-primary);
    }

    .expenses__list__category__entry__section__details {
        color: $gray-medium;
        @include word-wrap();
    }

    .expenses__list__category__entry__section__date {
        width: 140px;
        float: right;
        color: $gray-medium;
        text-align: right;
        font-size: $font-size-small;
    }
}
