.expenses__bulk-actions {
    @include clearfix();
    width: 100%;
    margin: 0 auto;
    color: $black;
    position: absolute;
    left: 0;
    top: 0;

    .expenses__bulk-actions__buttons {
        @include clearfix();

        .expenses__bulk-actions__buttons__delete {

            .expenses__bulk-actions__buttons__delete__btn-delete {
                @include btn-small($brand-danger);
                display: block;
                float: left;
            }
        }

        .expenses__bulk-actions__buttons__cancel {

            .expenses__bulk-actions__buttons__delete__btn-cancel {
                @include btn-small($gray-light-3);
                color: $gray-dark-1;
                display: block;
                float: left;
            }
        }

        .expenses__bulk-actions__buttons__delete,
        .expenses__bulk-actions__buttons__cancel {
            display: block;
            float: left;
            margin-right: 5px;
        }
    }
}
