.expenses__form {
  @include clearfix();
  width: 100%;
  padding: 15px 50px;
  margin: 10px auto 30px auto;
  color: $black;
  position: relative;
  font-weight: $font-weight-regular;

  .expense__form__price__input,
  .expense__form__category__input,
  .expense__form__details__input,
  .expense__form__date__input {
    @include border-radius(0);
    border-style: solid;
    border-width: 2px 0;
    border-color: $add-expense-form-border-color transparent;
    font-weight: $font-weight-regular;

    &:hover {
      border-color: $add-expense-form-border-color;
    }

    &:focus {
      border-color: $brand-primary;
      background-color: lighten($brand-primary, 35%);
    }
  }
}

.expense__form__price,
.expense__form__category,
.expense__form__details,
.expense__form__date {
  &.has-error {

    input {

    }
  }
}

// Price input styling
// ----------------------

.expense__form__price {
  @include clearfix();
  float: left;
  padding: 0;
  width: 20%;
  position: relative;

  .expense__form__price__input {
    @include border-left-radius($border-radius-base);
    border-left: solid 2px $add-expense-form-border-color;
    float: left;
    height: $add-expense-form-height;
    line-height: $add-expense-form-height;
    text-align: right;
    padding-right: 50px;
  }

  .expense__form__price__currency {
    float: left;
    margin-left: -40px;
    height: $add-expense-form-height;
    line-height: $add-expense-form-height;
    color: $gray-light-1;
    font-weight: $font-weight-regular;
    z-index: -999;
  }
}

// Category input styling
// ----------------------

.expense__form__category {
  float: left;
  padding: 0;
  width: 30%;
  position: relative;
  height: $add-expense-form-height;

  .category-select__input {
    height: $add-expense-form-height;
    background-color: $gray-light-3;

    .selectize-input {
      @include border-radius(0);
      border-width: 2px 0 !important;
      border-color: $add-expense-form-border-color !important;
      height: $add-expense-form-height;
      line-height: 46px !important;

      & > input {
        height: 46px;
      }
    }
  }
}

.category__color__preview {
  @include border-radius(50%);
  @include size(21px 21px);
  margin: 3px 3px 3px 0;
  display: inline-block;
  text-indent: -9999px;
}


// Details input styling
// -------------------------
.expense__form__details {
  float: left;
  width: 22%;
  position: relative;

  .expense__form__details__input {
    height: $add-expense-form-height;
  }
}

// Date input styling
// -------------------------
.expense__form__date {
  float: left;
  overflow: auto;
  display: block;
  width: 18%;
  padding: 0;

  .expense__form__date__input {
    height: $add-expense-form-height;
    text-align: right;

    &:focus {
      border: solid 2px $brand-primary;
    }

    & > button {
      height: 100%;
      width: 100%;
      text-align: center;
      background-color: $gray-light-3;
    }
  }

  & > .form-group-input__message {
    top: 0;
    right: 140px;
  }
}

.expense__form__submit__save {
  float: left;
  width: 10%;
  height: $add-expense-form-height;

  .expense__edit__form__savebtn {
    @include btn-block($brand-primary);
    @include border-left-radius(0);
    font-size: $font-size-base;
    height: 100%;
  }
}

.expense__form__submit__cancel {
  float: left;
  width: 100%;

  .expense__edit__form__cancelbtn {
    @include btn-link($brand-primary);
    float: right;
    margin-right: 10%;
    color: $gray-dark-1;
    font-size: $font-size-small;
  }
}

.expense__found--highlight {
  display: inline-block;
  background: rgba(255, 230, 0, 0.5);
  padding: 1px 4px;
  border-radius: 3px;
  line-height: 1;
}