.expenses__column__left {
    width: 60%;
    border-right: solid 1px $gray-light-3;
    float: left;
    padding: 30px 20px 0 5px;
    position: relative;
}

.expenses__column__right {
    width: 38%;
    float: left;
    padding: 50px 0 10px 20px;
}
