.expenses__list__entry__section {
    @include border-radius($border-radius-base);
    padding: 0 0 0 10px;
    margin: 0 50px;
    min-height: 34px;
    line-height: 26px;
    border: solid 2px transparent;

    div {
        display: inline-block;
        padding: 1px 10px;
    }

    &:hover {
        background-color: $gray-light-4;
        cursor: pointer;

        .expenses__list__entry__section__select {
            opacity: 1;
        }
    }

    &.expenses__list__entry__section--bulk-marked {
        background: $brand-warning-light !important;

        .expenses__list__entry__section__select {
            opacity: 1;
        }
    }

    .expenses__list__entry__section__select {
        position: absolute;
        top: 9px;
        left: 30px;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 15px;
        padding: 2px !important;
        font-size: 14px;
        color: $gray-light-1;
        opacity: 0;

        &:hover {
            color: $gray-medium;
        }

        input {
            height: 100%;
            width: 100%;
        }
    }

    .expenses__list__entry__section__price {
        width: 175px;
        text-align: right;
        margin-right: 15px;

        .currency__symbol {
            padding-right: 5px;
            color: $gray-medium;
            font-weight: $font-weight-light;
            font-size: .8em;
        }
    }

    .expenses__list__entry__section__category {
        @include category-label($brand-primary);
    }

    .expenses__list__entry__section__details {
        color: $gray-medium;
        @include word-wrap();
    }

    .expenses__list__entry__section__date {
        width: 140px;
        float: right;
        color: $gray-medium;
        text-align: right;
        font-size: $font-size-small;
    }
}
