.expenses__greeting {
    @include fadeInDown(1.2s);

    padding: 10px 30px;
    color: $gray-dark-1;
    font-size: $font-size-larger;
    font-weight: $font-weight-regular;
    text-align: center;
}
