.expenses__list {
    padding: 40px 0 20px 0;
}

.expenses__list__entry {
    @include no-user-select();
    padding: 5px 5px;
    margin: 0 auto;
    min-height: 45px;
    height: 100%;
    width: 100%;
    position: relative;

    &:first-child {
        border-top: solid 1px $gray-light-3;
    }
}

.expenses__list__loadbtn {
    @include btn($gray-light-2);
    width: 120px;
    color: $gray-dark-1;
    margin: 20px auto 40px auto;
    display: block;
}

.expenses__list__group__name {
    padding: 20px 5px 0 60px;
    color: $gray-medium;
    font-weight: $font-weight-light;
}

.expense__list__sort {
    @include clearfix();
    padding: 3px 10px 3px 20px;
    font-size: $font-size-small;
    color: $gray-light-1;
    border-bottom: solid 1px $gray-light-3;

    .expense__list__sort__date {
        float: right;

        .icon-sort {
            color: $gray-medium;
        }

        .expense__list__sort__date__entry {
            color: $gray-light-1;

            &:hover {
                color: $gray-medium;
            }
        }

        .expense__list__sort__date__entry--active {
            color: $gray-medium;
            cursor: default;
        }
    }
}
