.expenses__bulk-actions {
    @include clearfix();
    width: 100%;
    margin: 0 auto;
    color: $black;
    position: relative;

    .expenses__bulk-actions__buttons {
        position: absolute;
        left: 55px;
        right: 0;

        .expenses__bulk-actions__buttons__delete {

            .expenses__bulk-actions__buttons__delete__btn-delete {
                @include btn($brand-danger);
                display: block;
                float: left;
            }
        }

        .expenses__bulk-actions__buttons__cancel {

            .expenses__bulk-actions__buttons__delete__btn-cancel {
                @include btn($brand-default);
                color: $gray-dark-1;
                display: block;
                float: left;
            }
        }

        .expenses__bulk-actions__buttons__delete,
        .expenses__bulk-actions__buttons__cancel {
            display: inline-block;
        }
    }
}
