.expenses__column__left {
    width: 60%;
    border-right: solid 1px $gray-light-3;
    float: left;
    padding: 30px 20px 0 5px;
    position: relative;
}

.expenses__column__right {
    width: 38%;
    float: left;
    padding: 30px 0 10px 20px;

    h1.expenses__column__right__title {
        font-weight: $font-weight-regular;
        text-align: center;
        margin-bottom: 20px;
        font-size: 16px;
        color: $gray-dark-2;
    }

    h2.expenses__column__right__title {
        font-size: 14px;
        font-weight: $font-weight-regular;
        color: $gray-medium;
        background-color: $gray-light-3;
        @include border-radius($base-border-radius);
        padding: 5px;
    }
}
