// Category input styling
// ----------------------

.expense__form__category {
  float: left;
  padding: 0;
  width: 30%;
  position: relative;

  .expense__form__category__input {
    height: $add-expense-form-height;
    width: 100%;
    padding-left: 15px;

    &:focus {
      outline: none;
    }
  }
}

.expense__form__category__angucomplete-dropdown {
  width: 310px;
  left: 0;
  top: 52px;
  border-color: $gray-medium;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, .2));
}

.expense__form__category__angucomplete-image-holder {
  padding: 0;
}

.expense__form__category__color__preview {
  @include border-radius(50%);
  @include size(21px 21px);
  margin: 0;
}