$add-expense-form-height: 50px;

.expenses__form {
  @include clearfix();
  width: 750px;
  margin: 0 auto;
  color: $black;
  font-weight: $font-weight-bold;
}

// Price input styling
// ----------------------

.expense__form__price {
  @include clearfix();
  float: left;
  margin: 0;
  padding: 0;
  width: 130px;

  .expense__form__price__amount {
    float: left;
    height: $add-expense-form-height;
    line-height: $add-expense-form-height;
    border: solid 2px $lightest-gray;
    text-align: right;
    padding-right: 50px;
  }

  .expense__form__price__currency {
    float: left;
    margin-left: -40px;
    height: $add-expense-form-height;
    line-height: $add-expense-form-height;
    color: $light-gray;
    font-weight: $font-weight-regular;
  }
}


// Category input styling
// ----------------------

.expense__form__category {
  float: left;
  margin: 0;
  padding: 0;
  width: 200px;

  .expense__form__category__input {
    height: $add-expense-form-height;
    margin: 0;
    border-color: $lightest-gray;
  }
}


// Details input styling
// -------------------------
.expense__form__details {
  float: left;
  width: 280px;

  .expense__form__details__input {
    height: $add-expense-form-height;
    margin: 0;
    border-color: $lightest-gray;
  }
}


// Date input styling
// -------------------------
.expense__form__date {
  float: left;
  overflow: auto;
  display: block;
  width: 130px;

  .expense__form__date__input {
    height: $add-expense-form-height;
    margin: 0;
    padding: 0 15px;
    text-align: right;
    border-color: $lightest-gray;
  }
}
