$add-expense-form-height: 50px;
$add-expense-form-border-color: $lightest-gray;

.expenses__form {
  @include clearfix();
  width: 800px;
  margin: 0 auto;
  color: $black;
  font-weight: $font-weight-bold;
  //border: solid 1px red;

  .expense__form__price__input,
  .expense__form__category__input,
  .expense__form__details__input,
  .expense__form__date__input {
    @include border-radius(0);
    border-style: solid;
    border-width: 2px 0;
    border-color: $add-expense-form-border-color transparent;

    &:hover {
      border-color: $medium-gray;
    }
  }
}

.expense__form__price,
.expense__form__category,
.expense__form__details,
.expense__form__date {
  &.has-error {

    input {
      border-color: $brand-danger;
    }
  }
}

// Price input styling
// ----------------------

.expense__form__price {
  @include clearfix();
  float: left;
  padding: 0;
  //width: 170px;
  width: 20%;
  position: relative;

  .expense__form__price__input {
    @include border-left-radius($border-radius-base);
    float: left;
    height: $add-expense-form-height;
    line-height: $add-expense-form-height;
    border-left: solid 2px $add-expense-form-border-color;
    text-align: right;
    padding-right: 50px;
  }

  .expense__form__price__currency {
    float: left;
    margin-left: -40px;
    height: $add-expense-form-height;
    line-height: $add-expense-form-height;
    color: $light-gray;
    font-weight: $font-weight-regular;
    z-index: -999;
  }
}

// Category input styling
// ----------------------

.expense__form__category {
  float: left;
  padding: 0;
  //width: 200px;
  width: 35%;
  position: relative;

  .expense__form__category__input {
    height: $add-expense-form-height;
    width: 100%;
    padding-left: 15px;

    &:focus {
      outline: none;
    }
  }
}

// Details input styling
// -------------------------
.expense__form__details {
  float: left;
  //width: 210px;
  width: 25%;
  position: relative;

  .expense__form__details__input {
    height: $add-expense-form-height;
  }
}

// Date input styling
// -------------------------
.expense__form__date {
  float: left;
  overflow: auto;
  display: block;
  //width: 150px;
  width: 20%;
  padding: 0;

  .expense__form__date__input {
    height: $add-expense-form-height;
    padding: 0 15px;
    text-align: right;
    border-right: solid 2px $add-expense-form-border-color;
    @include border-right-radius($base-border-radius);

    &:focus {
      border: solid 2px $brand-primary;
    }

    & > button {
      height: 100%;
      width: 100%;
      text-align: right;
      background-color: $white;
    }
  }
}

.expense__form__submit {
  float: left;
  width: 100%;
  text-align: right;
  color: $medium-gray;
  font-weight: $font-weight-regular;
  font-size: $base-font-size-xs;
  padding-right: 10px;

  span {
    display: inline-block;
  }

  button {
    padding: 0;
    margin: 0;
    background-color: $white;
    color: $brand-primary;
    height: 100%;
  }
}

.expense__found--highlight {
  display: inline-block;
  background: rgba(255, 230, 0, 0.5);
  padding: 1px 4px;
  border-radius: 3px;
  line-height: 1;
}
