$add-expense-form-height: 50px;
$add-expense-form-border-color: $lightest-gray;

.expenses__form {
  @include clearfix();
  width: 750px;
  margin: 0 auto;
  color: $black;
  font-weight: $font-weight-bold;

  .expense__form__price__input,
  .expense__form__category__input,
  .expense__form__details__input,
  .expense__form__date__input {
    @include border-radius(0);
    border-top: solid 2px $add-expense-form-border-color;
    border-bottom: solid 2px $add-expense-form-border-color;
    border-left: solid 0 transparent;
    border-right: solid 0 transparent;
  }
}


// Price input styling
// ----------------------

.expense__form__price {
  @include clearfix();
  float: left;
  padding: 0;
  width: 130px;

  .expense__form__price__input {
    @include border-left-radius($border-radius-base);
    float: left;
    height: $add-expense-form-height;
    line-height: $add-expense-form-height;
    border-left: solid 2px $add-expense-form-border-color;
    text-align: right;
    padding-right: 50px;
  }

  .expense__form__price__currency {
    float: left;
    margin-left: -40px;
    height: $add-expense-form-height;
    line-height: $add-expense-form-height;
    color: $light-gray;
    font-weight: $font-weight-regular;
    z-index: -999;
  }
}


// Category input styling
// ----------------------

.expense__form__category {
  float: left;
  padding: 0;
  width: 200px;

  .expense__form__category__input {
    height: $add-expense-form-height;
  }
}


// Details input styling
// -------------------------
.expense__form__details {
  float: left;
  width: 280px;

  .expense__form__details__input {
    height: $add-expense-form-height;
  }
}


// Date input styling
// -------------------------
.expense__form__date {
  float: left;
  overflow: auto;
  display: block;
  width: 130px;

  .expense__form__date__input {
    height: $add-expense-form-height;
    padding: 0 15px;
    text-align: right;
    border-right: solid 2px $add-expense-form-border-color;
    @include border-right-radius($base-border-radius);
  }
}
