@mixin category-label($color) {
  @include border-radius(2px);
  height: 20px;
  line-height: 18px;
  color: $white;
  text-transform: uppercase;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  background-color: $color;
}

.expenses__list {
  padding: 50px 15px 20px 15px;
}

.expenses__list__entry {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  position: relative;

  .expenses__list__entry__select {
    position: absolute;
    left: -30px;
    top: 7px;
    width: 30px;
    text-align: right;
    margin-right: 15px;
    display: inline-block;
    height: 25px;
    line-height: 25px;

    input {
      height: 100%;
      width: 100%;
    }
  }

  .expenses__list__entry__price {
    width: 160px;
    text-align: right;
    font-weight: $font-weight-bold;
    margin-right: 15px;

    span {
      padding-left: 5px;
      color: $gray-medium;
      font-weight: $font-weight-light;
    }
  }

  .expenses__list__entry__display {
    width: 100%;

    div {
      display: inline-block;
      padding: 2px 10px;
    }
  }

  .expenses__list__entry__category {
    @include category-label($brand-primary);
  }

  .expenses__list__entry__details {
    color: $gray-medium;
  }

  .expenses__list__entry__date {
    width: 140px;
    float: right;
    color: $gray-medium;
    text-align: right;
    font-size: $font-size-small;
  }

  .expenses__list__entry__edit {
    float: right;
    display: inline-block;
    margin: 0 5px;
    padding: 2px 10px;
    font-size: $font-size-base;
  }
}

.expenses__list__loadbtn {
  @include btn($gray-lightest);
  width: 120px;
  color: $gray-dark;
  margin: 20px auto 40px auto;
  display: block;
}
