<!-- Invalid token result view -->
<div class="settings__box">

    <!-- Integrations small section -->
    <div class="settings__box__section">

        <!-- Title -->
        <h1 class="settings__title"></h1>

        <div class="alert alert-danger">

            <!-- Title -->
            <h1 class="account__title">Hmm... Integration did not work</h1>

            <!-- Explain -->
                <span class="account__explain">
                    It seems that the code is invalid or expired. Please try to do this again.
                </span>

            <br />
            <br />

            <!-- Button container -->
            <a class="link-navigation" href="javascript:void(0)" ui-sref="settings.integrations.main">Continue</a>
            <br />
        </div>
    </div>

</div>
