<!-- Integrations main section -->
<div class="settings__box">

    <!-- Integrations small section -->
    <div class="settings__box__section">

        <!-- Title -->
        <h1 class="settings__title">Authorize integration</h1>

        <!-- Flash messages. -->
        <div flash-messages flash="flash" identifier-id="{{vm.alertId}}"></div>

        <div style="position:relative">
            <div class="spinner insights__loading" ng-if="vm.loadTracker.active()">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>

            <div ng-if="vm.loadTracker.active()">Please wait until we authorize this integration</div>
        </div>

    </div>

</div>
