.insights__chart__bar,
.insights__chart__doughnut {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.insights__chart__doughnut {

    .chart-container {

        canvas.chart-doughnut {
            margin: 0;
            padding: 0;
        }
    }
}
