.insights__chart__bar,
.insights__chart__doughnut {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    position: relative;

    .insights__chart__bar__nocategory {
        background-color: $gray-light-3;
        height: 450px;
        margin: 10px 20px;
        padding-top: 100px;
        text-align: center;
        color: $gray-medium;
        font-size: 22px;
    }
}

.insights__chart__doughnut {

    .chart-container {

        canvas.chart-doughnut {
            margin: 0;
            padding: 0;
        }
    }
}

.insights__chart__bar--small {
    width: 100%;
    padding: 0;
}
