.insights__categories-controls {
    text-align: left;
    padding: 5px 20px;

    a {
        margin-right: 20px;
    }
}

.insights__categories {
    @include outer-container();
    @include clearfix();
    padding: 0 20px;

    .insights__categories__category {
        display: block;
        float: left;
        width: 15.5%;
        min-width: 150px;
        margin-right: 10px;
        padding-bottom: 10px;
    }

    .insights__categories__category__form {
        @include span-columns(2);
        @include omega(2n);
    }

    .category-name {
        @include border-radius($base-border-radius);
        @include user-select(none);
        height: 35px;
        width: 100%;
        line-height: 29px;
        padding: 2px 10px 2px 27px;
        cursor: pointer;
        text-transform: uppercase;
        text-shadow: 0 0 rgba(0, 0, 0, 0.2);
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        border: solid 1px transparent;
        color: $gray-dark-1;
        background-color: $white;

        &:hover {
            color: $gray-dark-2;
        }

        span {
            position: absolute;
            top: 6px;
            left: 5px;
            font-size: 20px;
        }

        &.category-name--unselected {
            background-color: $gray-light-3;
            border: solid 1px transparent;

            &:hover {

            }

            span {
                color: $gray-light-2;
            }
        }
    }
}
