.insights__empty-state {
    width: 100%;
    max-width: 500px;
    margin: 50px auto 10px;
    padding: 20px;
    text-align: center;
    color: $gray-medium;
    background-color: $gray-light-4;
    @include border-radius($border-radius-base);

    .insights__empty-state__title {
        color: $gray-dark-2;
    }
}
