<!--Show content-->
<div class="categories__add__controls" ng-if="! showContent">
    <button class="categories__add__controls__btn" ng-disabled="vm.isMaximumNumberOfAllowedCategoriesExceeded()" ng-click="toggleContent()">Add category</button>
</div>

<!-- Add category form -->
<form name="vm.categoryForm" class="categories__add__form" ng-if="showContent" ng-submit="vm.saveCategory(vm.categoryForm)" novalidate focus-first-error>

    <!--Content left-->
    <div class="categories__add__form__content__left">

        <!-- Form group -->
        <div class="categories__form__input-group" ng-class="{'has-error': vm.categoryForm.$submitted && (vm.categoryForm.color.$invalid || vm.badPostSubmitResponse)}">

            <input ng-disabled="vm.isSaving" class="categories__form__input-group__color" type="hidden" placeholder="Category color" name="color" ng-model="vm.category.model.color.color" required valid-category-color />

            <!-- Error messages -->
            <div class="form-group-input__message" ng-class="{'has-error': vm.categoryForm.color.$invalid && vm.categoryForm.$submitted}" ng-messages="vm.categoryForm.color.$error" ng-if="vm.categoryForm.$submitted">
                <div ng-message="required">Color is mandatory.</div>
                <div ng-message="validCategoryColor">Color is not valid.</div>
            </div>
        </div>

        <div class="categories__form__input-group" ng-class="{'has-error': vm.categoryForm.$submitted && (vm.categoryForm.name.$invalid || vm.badPostSubmitResponse)}">
            <!-- Error messages -->
            <div class="form-group-input__message" ng-class="{'has-error': vm.categoryForm.name.$invalid && vm.categoryForm.$submitted}" ng-messages="vm.categoryForm.name.$error" ng-if="vm.categoryForm.$submitted">
                <div ng-message="required">Name is mandatory.</div>
                <div ng-message="validCategoryName">Name is not valid.</div>
                <div ng-message="uniqueCategoryName">Name is already used.</div>
            </div>

            <!--Color preview-->
            <label class="categories__form__color__preview" ng-style="{'background':vm.category.model.color.color}"></label>

            <input ng-disabled="vm.isSaving"
                   type="text"
                   name="name"
                   class="categories__form__input-group__name"
                   placeholder="Category name"
                   ng-maxlength="20"
                   maxlength="20"
                   ng-model="vm.category.model.name"
                   auto-focus required valid-category-name unique-category-name />

            <div ng-show="! vm.isSaving" class="categories__form__input-group__count">{{20 - vm.category.model.name.length}}</div>

            <div color-picker colors="vm.colors" category-color="vm.category.model.color"></div>
        </div>

    </div>

    <!--Content right-->
    <div class="categories__add__form__content__right">
        <!--Reset-->
        <button ng-disabled="vm.isSaving" type="button" class="categories__add__form__content__right__cancel" ng-click="toggleContent();initOrReset(vm.categoryForm)">Nevermind</button>
        <!-- Submit button container -->
        <button ng-disabled="vm.isSaving" class="categories__add__form__content__right__add" type="submit">{{vm.isSaving ? 'Saving...' : 'Save category'}}</button>
    </div>
</form>
