<!--Show content-->
<div class="categories__new__btn" ng-click="toggleContent()" ng-if="! showContent">New category</div>

<!-- Add category form -->
<form name="categoryForm" ng-if="showContent" ng-submit="saveCategory(categoryForm)" novalidate focus-first-error>

    <!-- Flash messages. -->
    <div flash-messages flash="flash" identifier-id="{{alertIdentifierId}}"></div>

    <div class="categories__add__input-group" ng-class="{'has-error': categoryForm.$submitted && (categoryForm.name.$invalid || badPostSubmitResponse)}">
        <!-- Error messages -->
        <div class="form-group-input__message" ng-class="{'has-error': categoryForm.name.$invalid && categoryForm.$submitted}" ng-messages="categoryForm.name.$error" ng-if="categoryForm.$submitted">
            <div ng-message="required">Name is mandatory.</div>
            <div ng-message="validCategoryName">Name is not valid.</div>
            <div ng-message="uniqueCategoryName">Name is already used.</div>
        </div>
        <input class="categories__add__input-group__name" type="text" placeholder="Category name" name="name" ng-model="category.model.name" auto-focus required valid-category-name unique-category-name />
    </div>

    <!-- Form group -->
    <div class="categories__add__input-group" ng-class="{'has-error': categoryForm.$submitted && (categoryForm.color.$invalid || badPostSubmitResponse)}">
        <input class="categories__add__input-group__color" type="text" placeholder="Category color" name="color" ng-model="category.model.color" required />

        <!-- Error messages -->
        <div class="form-group-input__message" ng-class="{'has-error': categoryForm.color.$invalid && categoryForm.$submitted}" ng-messages="categoryForm.color.$error" ng-if="categoryForm.$submitted">
            <div ng-message="required">Color is mandatory.</div>
            <div ng-message="validCategoryColor">Color is not valid.</div>
        </div>
    </div>

    <!-- Button container -->
    <button ladda="isSaving" data-style="expand-left" data-spinner-size="20" class="categories__add__btn" type="submit">Add</button>

    <!--Reset-->
    <div class="categories__cancel__btn" ng-click="toggleContent();initOrReset(categoryForm)">Cancel</div>
</form>