<div class="page-wrapper">

    <div header></div>

    <div class="categories">

        <!--Add category-->
        <div class="categories__add" add-category></div>

        <!--List all categories-->
        <div class="categories__box">

            <div class="categories__box__categories">

                <div class="categories__box__categories__category" ng-repeat="category in categories track by category.model.name">

                    <div edit-remove-category category="category"></div>
                </div>
            </div>

        </div>

    </div>

    <div footer></div>

</div>