<!--Category group-->
<div class="categories__edit__category__name" ng-if="! showContent">
    <span class="categories__edit__category__color" ng-style="{'background':category.model.color}">C</span>
    <span class="categories__edit__category__label">{{category.model.name}}</span>
</div>

<div class="categories__edit__category__controls" ng-if="! showContent">
    <!--Show content-->
    <button class="categories__edit__category__delete" ng-click="deleteCategory(category)">{{isDeleting ? 'Deleting..' : 'Delete'}}</button>
    <button class="categories__edit__category__edit" ng-click="toggleContent()">Edit</button>
</div>

<!-- Update category form -->
<form name="categoryForm" class="categories__edit__form" ng-if="showContent" ng-submit="updateCategory(categoryForm, category)" novalidate focus-first-error>

    <!--Content left-->
    <div class="categories__edit__form__content__left">

        <!-- Category color form group -->
        <div class="categories__form__input-group" ng-class="{'has-error': categoryForm.$submitted && (categoryForm.color.$invalid || badPostSubmitResponse)}">

            <input class="categories__form__input-group__color" type="hidden" placeholder="Category color" name="color" ng-model="category.model.color" required valid-category-color />

            <!-- Error messages -->
            <div class="form-group-input__message" ng-class="{'has-error': categoryForm.color.$invalid && categoryForm.$submitted}" ng-messages="categoryForm.color.$error" ng-if="categoryForm.$submitted">
                <div ng-message="required">Color is mandatory.</div>
                <div ng-message="validCategoryColor">Color is not valid.</div>
            </div>
        </div>

        <!-- Category label form group-->
        <div class="categories__form__input-group" ng-class="{'has-error': categoryForm.$submitted && (categoryForm.name.$invalid || badPostSubmitResponse)}">
            <!--Color preview-->
            <label class="categories__form__color__preview" ng-style="{'background':category.model.color}"></label>
            <input class="categories__form__input-group__name" type="text" placeholder="Category name" name="name" ng-model="category.model.name" auto-focus required valid-category-name unique-category-name except="masterCategory.model.name" />

            <!-- Error messages -->
            <div class="form-group-input__message" ng-class="{'has-error': categoryForm.name.$invalid && categoryForm.$submitted}" ng-messages="categoryForm.name.$error" ng-if="categoryForm.$submitted">
                <div ng-message="required">Name is mandatory.</div>
                <div ng-message="validCategoryName">Name is not valid.</div>
                <div ng-message="uniqueCategoryName">Name is already used.</div>
            </div>

            <div color-picker category-color="category.model.color"></div>
        </div>

    </div>

    <!--Content right-->
    <div class="categories__edit__form__content__right">
        <!--Reset-->
        <button type="button" class="categories__edit__form__content__right__cancel" ng-click="cancel();">Nevermind</button>
        <!-- Button container -->
        <button class="categories__edit__form__content__right__update" type="submit">{{isUpdating ? 'Saving..' : 'Save changes'}}</button>
    </div>

</form>