<!--Category group-->
<div class="categories__edit__category__name" ng-if="! showContent">
    <span class="categories__edit__category__color" ng-style="{'background':category.model.color.color}">C</span>
    <span class="categories__edit__category__label">{{category.model.name}}</span>
</div>

<!--Show content-->
<div remove-category-confirmation category="category" confirm="vm.deleteCategory(category)" auto-toggle-when="! vm.isDeleting">
    <div class="categories__edit__category__controls" ng-if="! showContent">
        <button class="categories__edit__category__delete" ng-disabled="isMinimumNumberOfAllowedCategoriesExceeded()" ng-click="$parent.$parent.toggleConfirmationContent()">{{vm.isDeleting ? 'Deleting..' : 'Delete'}}</button>

        <button class="categories__edit__category__edit" ng-click="toggleContent()">Edit</button>
    </div>
</div>

<!-- Update category form -->
<form name="vm.categoryForm" class="categories__edit__form" ng-if="showContent" ng-submit="vm.updateCategory(vm.categoryForm, category)" novalidate focus-first-error>

    <!--Content left-->
    <div class="categories__edit__form__content__left">

        <!-- Category color form group -->
        <div class="categories__form__input-group" ng-class="{'has-error': vm.categoryForm.$submitted && (vm.categoryForm.color.$invalid || vm.badPostSubmitResponse)}">

            <input class="categories__form__input-group__color" type="hidden" placeholder="Category color" name="color" ng-model="category.model.color.color" required valid-category-color />

            <!-- Error messages -->
            <div class="form-group-input__message" ng-class="{'has-error': vm.categoryForm.color.$invalid && vm.categoryForm.$submitted}" ng-messages="vm.categoryForm.color.$error" ng-if="vm.categoryForm.$submitted">
                <div ng-message="required">Color is mandatory.</div>
                <div ng-message="validCategoryColor">Color is not valid.</div>
            </div>
        </div>

        <!-- Category label form group-->
        <div class="categories__form__input-group" ng-class="{'has-error': vm.categoryForm.$submitted && (vm.categoryForm.name.$invalid || vm.badPostSubmitResponse)}">

            <!--Color preview-->
            <label class="categories__form__color__preview" ng-style="{'background':category.model.color.color}"></label>
            <input class="categories__form__input-group__name"
                   type="text"
                   ng-maxlength="20"
                   maxlength="20"
                   placeholder="Category name"
                   name="name"
                   ng-model="category.model.name"
                   auto-focus
                   required
                   valid-category-name
                   unique-category-name
                   except="masterCategory.model.name" />

            <div class="categories__form__input-group__count">{{20 - category.model.name.length}}</div>

            <!-- Error messages -->
            <div class="form-group-input__message" ng-class="{'has-error': vm.categoryForm.name.$invalid && vm.categoryForm.$submitted}" ng-messages="vm.categoryForm.name.$error" ng-if="vm.categoryForm.$submitted">
                <div ng-message="required">Name is mandatory.</div>
                <div ng-message="validCategoryName">Name is not valid.</div>
                <div ng-message="uniqueCategoryName">Name is already used.</div>
            </div>

            <div color-picker colors="colors" category-color="category.model.color"></div>
        </div>

    </div>

    <!--Content right-->
    <div class="categories__edit__form__content__right">
        <!--Reset-->
        <button type="button" class="categories__edit__form__content__right__cancel" ng-click="cancel();">Nevermind</button>
        <!-- Button container -->
        <button class="categories__edit__form__content__right__update" type="submit">{{vm.isUpdating ? 'Saving..' : 'Save changes'}}</button>
    </div>

</form>
