* {
    margin: 0;

    &:active,
    &:focus {
        outline: none;
    }
}

html, body {
    height: 100% !important;
    background-color: $gray-light-3;
    overflow: visible;
}

.body--app {

    .view-container {
        padding-left: $sidebar-width
    }
}

.body--public {

    .view-container {
        padding-bottom: $footer__home-height;
    }
}

.body--home {

    .view-container {
        padding-bottom: 0;
    }
}

a, button {
    @include transition(all 0.3s);

    &:focus {
        outline: none;
    }
}

code {
    border: solid 1px $gray-light-1;
    background-color: $gray-light-3;
    color: $gray-dark-1;
    @include border-radius(2px);
    padding: 2px 4px;
}
