<expense-add categories="expensesVm.categories"></expense-add>

<!--Empty state-->
<div class="expenses__empty-state" ng-if="expensesVm.expenses.length === 0 && expensesVm.temporaryExpenses.length === 0">
    <div class="expenses__empty-state__title">No expenses yet.</div>

    <div>You have no expenses yet. Start adding or
        <a href="javascript:void(0)" ui-sref="settings.import.choose">import your expenses</a>.
    </div>
</div>

<!-----------------------------The left content------------------------------->
<div class="expenses__column__left">

    <!--Expense bulk actions-->
    <div class="expenses__bulk-actions" ng-if="expensesVm.isBulkActionEnabled()">

        <div class="expenses__bulk-actions__buttons">

            <div class="expenses__bulk-actions__buttons__delete">
                <button class="expenses__bulk-actions__buttons__delete__btn-delete" ng-disabled="expensesVm.bulkDeleteTracker.active()" ng-click="expensesVm.performBulkDelete()">{{expensesVm.bulkDeleteTracker.active() ? 'Deleting...' : 'Delete'}}</button>
            </div>

            <div class="expenses__bulk-actions__buttons__cancel">
                <button class="expenses__bulk-actions__buttons__delete__btn-cancel" ng-click="expensesVm.cancelBulkAction()">Nevermind</button>
            </div>

        </div>

    </div>

    <!--Temporary expense list-->
    <div class="expenses__list__entry-grouped" ng-show="expensesVm.temporaryExpenses.length > 0">

        <div class="expenses__list__group__name expenses__list__group__name--now">Added just now</div>

        <div class="expenses__list__entry"
             ng-repeat="expense in expensesVm.temporaryExpenses | orderObjectBy : 'modifiedDate' : true track by expense.id" expense-entry expense="expense" categories="expensesVm.categories" show-date-details>
        </div>

    </div>

    <!--The expenses list-->
    <div infinite-scroll="expensesVm.loadMoreExpenses()" infinite-scroll-disabled="expensesVm.isUpdatingListLayout || expensesVm.isNoMoreExpensesToBeLoaded()" infinite-scroll-distance='0'>

        <div expenses-list expenses="expensesVm.expenses" categories="expensesVm.categories" sort="desc"></div>

        <div class="spinner expenses__list__loading" ng-show="expensesVm.isUpdatingListLayout">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

</div>

<!-----------------------------The right content------------------------------->
<div class="expenses__column__right">

    <!--Expenses daily insights content-->
    <div ui-view="expenses__daily__insights__content"></div>

    <!--Expenses goals content-->
    <div ui-view="expenses__goals__content"></div>
</div>
