<!--Menu snap toggler-->
<snap-toggler></snap-toggler>

<!--Left sidebar-->
<sidebar></sidebar>

<!--Header-->
<header class="view-container__header">

    <!-- Brand -->
    <div class="sidebar__brand">
        <div class="sidebar__brand--logo" ui-sref="expenses.regular"></div>
    </div>

    <!-- User -->
    <section class="sidebar__user">
        <div class="sidebar__user__picture">
            <user-profile-picture-header></user-profile-picture-header>
        </div>
        <div class="sidebar__user__name">{{$ctrl.user.model.firstName}}<br>
        </div>
        <div class="sidebar__user__item simptip-position-bottom simptip-smooth simptip-fade" data-tooltip="Logout">
            <logout></logout>
        </div>
    </section>

</header>

<!--Right content-->
<section class="view-container__content">

    <!--Trial period countdown-->
    <div ng-if="currentUser.showTrialRemainingDays()">
        <div ng-include src="'/app/common/common/partials/trialPeriodCountdown.html'"></div>
    </div>

    <!--Account confirmation alert-->
    <div ng-if="! currentUser.model.emailConfirmed">
        <div ng-include src="'/app/components/account/emailConfirmationResend/emailConfirmationResendTemplate.html'"></div>
    </div>

    <!-- Flash messages. -->
    <div flash-messages flash="flash" identifier-id="generalError"></div>

    <!-- Flash messages. -->
    <div flash-messages flash="flash" identifier-id="{{alertId}}"></div>

    <!--Small hook-->
    <greeter greet="greet"></greeter>

    <!--Normal expenses content-->
    <div ui-view="expensesContentView"></div>

</section>

<div footer class="view-container__footer"></div>
