<div class="settings__box__section--50">

    <!-- Delete account -->
    <h1 class="settings__title">Delete account</h1>

    <!-- Flash messages. -->
    <div flash-messages flash="flash" identifier-id="{{alertIdentifierId}}"></div>

    <!--Cancel account-->
    <div inline-confirmation toggle="! isDeleting" confirm="cancelAccount()" message="Are you sure you want to delete your account?">
        <button class="settings__cancel__btn">{{isDeleting ? 'Deleting...' : 'Delete my account'}}</button>
    </div>

</div>