<!-- Payment section -->
<div class="settings__box">

    <!--Payment method section-->
    <div class="settings__box__section--50">

        <!-- Title -->
        <h1 class="settings__title">Billing</h1>

        <div class="section-text">
            It seems that you have no payment info added yet. In order to subscribe to Revaluate, please add your credit
            card details below.
        </div>

        <!-- Add payment method form -->
        <form class="payment__form__addcard" name="vm.addPaymentMethodForm" ng-submit="vm.addPaymentMethod()" novalidate focus-first-error>

            <!-- Flash messages. -->
            <div flash-messages flash="flash" identifier-id="{{vm.alertIdentifierId}}"></div>

            <!-- Form group -->
            <div class="form-group-input payment__form__addcard__number" ng-class="{'has-error': vm.addPaymentMethodForm.$submitted && (vm.addPaymentMethodForm.cardNumber.$invalid || vm.badPostSubmitResponse)}">
                <label>Credit Card Number</label>
                <input class="form-group-input__input" type="text" placeholder="4111 1111 1111 1111" name="cardNumber" ng-model="vm.paymentData.cardNumber" payments-format="card" payments-validate="card" auto-focus required />

                <!-- Error messages -->
                <div class="form-group-input__message" ng-class="{'has-error': vm.addPaymentMethodForm.cardNumber.$invalid && vm.addPaymentMethodForm.$submitted}" ng-messages="vm.addPaymentMethodForm.cardNumber.$error" ng-if="vm.addPaymentMethodForm.$submitted">
                    <div ng-message="required">Please enter your card number.</div>
                    <div ng-message="parse">Please enter a valid card number.</div>
                    <div ng-message="card">Please enter a valid card number.</div>
                </div>
            </div>

            <!-- Form group -->
            <div class="form-group-input payment__form__addcard__expiration" ng-class="{'has-error': vm.addPaymentMethodForm.$submitted && (vm.addPaymentMethodForm.cardExpirationDate.$invalid || vm.badPostSubmitResponse)}">
                <label>Expiration</label>
                <input class="form-group-input__input" type="text" placeholder="10 / 2018" name="cardExpirationDate" ng-model="vm.paymentData.cardExpirationDate" payments-format="expiry" payments-validate="expiry" required />

                <!-- Error messages -->
                <div class="form-group-input__message" ng-class="{'has-error': vm.addPaymentMethodForm.cardExpirationDate.$invalid && vm.addPaymentMethodForm.$submitted}" ng-messages="vm.addPaymentMethodForm.cardExpirationDate.$error" ng-if="vm.addPaymentMethodForm.$submitted">
                    <div ng-message="required">Please enter card expiration date.</div>
                    <div ng-message="parse">Please enter a valid expiration date.</div>
                    <div ng-message="expiry">Please enter a valid expiration date.</div>
                </div>
            </div>

            <!-- Button container -->
            <button class="settings__btn__save" type="submit">{{vm.isRequestPending ? 'Saving...' : 'Add credit card'}}</button>
        </form>

    </div>


</div>