<!-- Payment section -->
<div class="settings__box">

    <!--Payment method section-->
    <div class="settings__box__section--50">

        <!-- Title -->
        <h1 class="settings__title">Update payment method</h1>

        <!-- Update payment method form -->
        <form name="updatePaymentMethodForm" ng-submit="updatePaymentMethod()" novalidate focus-first-error>

            <!-- Flash messages. -->
            <div flash-messages flash="flash" identifier-id="{{alertIdentifierId}}"></div>

            <!-- Form group -->
            <div class="form-group-input" ng-class="{'has-error': updatePaymentMethodForm.$submitted && (updatePaymentMethodForm.cardNumber.$invalid || badPostSubmitResponse)}">
                <label>Credit Card Number</label>
                <input class="form-group-input__input" type="text" placeholder="4111 1111 1111 1111" name="cardNumber" ng-model="paymentData.cardNumber" payments-format="card" payments-validate="card" auto-focus required />

                <!-- Error messages -->
                <div class="form-group-input__message" ng-class="{'has-error': updatePaymentMethodForm.cardNumber.$invalid && updatePaymentMethodForm.$submitted}" ng-messages="updatePaymentMethodForm.cardNumber.$error" ng-if="updatePaymentMethodForm.$submitted">
                    <div ng-message="required">Please enter your card number.</div>
                    <div ng-message="parse">Please enter a valid card number.</div>
                    <div ng-message="card">Please enter a valid card number.</div>
                </div>
            </div>

            <!-- Form group -->
            <div class="form-group-input" ng-class="{'has-error': updatePaymentMethodForm.$submitted && (updatePaymentMethodForm.cardExpirationDate.$invalid || badPostSubmitResponse)}">
                <label>Expiration</label>
                <input class="form-group-input__input" type="text" placeholder="10 / 2018" name="cardExpirationDate" ng-model="paymentData.cardExpirationDate" payments-format="expiry" payments-validate="expiry" required />

                <!-- Error messages -->
                <div class="form-group-input__message" ng-class="{'has-error': updatePaymentMethodForm.cardExpirationDate.$invalid && updatePaymentMethodForm.$submitted}" ng-messages="updatePaymentMethodForm.cardExpirationDate.$error" ng-if="updatePaymentMethodForm.$submitted">
                    <div ng-message="required">Please enter card expiration date.</div>
                    <div ng-message="parse">Please enter a valid expiration date.</div>
                    <div ng-message="expiry">Please enter a valid expiration date.</div>
                </div>
            </div>

            <!-- Button container -->
            <button class="settings__btn__save" type="submit">{{isRequestPending ? 'Updating...' : 'Update payment'}}</button>
        </form>

    </div>

</div>