<div class="settings__box__section--50">

    <!-- Title -->
    <h1 class="settings__title">Change your currency</h1>

    <form name="preferencesForm" ng-submit="updatePreferences()" novalidate>

        <!-- Flash messages. -->
        <div flash-messages flash="flash" identifier-id="{{alertIdentifierId}}"></div>

        <div class="sign-up__setup__section">

            <div class="sign-up__setup__section--currency" ng-class="{'has-error': preferencesForm.$submitted && (preferencesForm.currency.$invalid || badPostSubmitResponse)}">

                <ui-select name="currency" class="sign-up__setup__section--currency__input" required ng-model="currency.selected" theme="selectize" append-to-body="true">
                    <ui-select-match placeholder="Start typing your currency...">{{$select.selected.currencyCode}}</ui-select-match>
                    <ui-select-choices repeat="currencyEntry in currencies | orderObjectBy : 'currencyCode' : false | filter:{$:$select.search} track by currencyEntry.numericCode">
                        <span ng-bind-html="currencyEntry.currencyCode | highlight: $select.search"></span>
                        <span ng-bind-html="currencyEntry.displayName | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>

                <!-- Error messages -->
                <div class="form-group-input__message form-group-input__message--currency" ng-class="{'has-error': preferencesForm.category.$invalid && expenseForm.$submitted}" ng-messages="preferencesForm.$error" ng-if="preferencesForm.$submitted">
                    <div ng-message="required">Please add a currency.</div>
                </div>
            </div>
        </div>

        <!-- Button -->
        <button class="settings__btn__save" type="submit">{{isSaving ? 'Saving...' : 'Save changes'}}</button>
    </form>

</div>