<!-- Update password section -->
<div class="settings__box__section--50">

    <!-- Title -->
    <h1 class="settings__title">Change password</h1>

    <!-- Update password form -->
    <form name="vm.updatePasswordForm" ng-submit="vm.updatePassword()" novalidate focus-first-error>

        <!-- Flash messages. -->
        <div flash-messages flash="flash" identifier-id="{{vm.alertIdentifierId}}"></div>

        <!-- Form group -->
        <div class="form-group-input" ng-class="{'has-error': vm.updatePasswordForm.$submitted && (vm.updatePasswordForm.oldPassword.$invalid || badPostSubmitResponse)}">
            <input class="form-group-input__input" type="password" placeholder="Old password" name="oldPassword" ng-model="vm.updatePasswordData.oldPassword" required />
            <span class="form-group-input__message" ng-if="vm.updatePasswordForm.oldPassword.$invalid && vm.updatePasswordForm.$submitted">Please enter your old password.</span>
        </div>

        <!-- Form group -->
        <div class="form-group-input" ng-class="{'has-error': vm.updatePasswordForm.$submitted && (vm.updatePasswordForm.newPassword.$invalid || badPostSubmitResponse)}">
            <input class="form-group-input__input" type="password" placeholder="New password" name="newPassword" ng-model="vm.updatePasswordData.newPassword" required />
            <span class="form-group-input__message" ng-if="vm.updatePasswordForm.newPassword.$invalid && vm.updatePasswordForm.$submitted">Please enter a new password.</span>
        </div>

        <!-- Form group -->
        <div class="form-group-input" ng-class="{'has-error': vm.updatePasswordForm.$submitted && (vm.updatePasswordForm.newPasswordConfirmation.$invalid || badPostSubmitResponse)}">
            <input class="form-group-input__input" type="password" placeholder="New password confirmation" name="newPasswordConfirmation" ng-model="vm.updatePasswordData.newPasswordConfirmation" required />
            <span class="form-group-input__message" ng-if="vm.updatePasswordForm.newPasswordConfirmation.$invalid && vm.updatePasswordForm.$submitted">Please confirm your new password.</span>
        </div>

        <!-- Button container -->
        <button class="settings__btn__save" type="submit">{{vm.isRequestPending ? 'Saving...' : 'Change password'}}</button>
    </form>

</div>