<div class="sign-up">

    <div class="sign-up__setup">

        <h2 class="sign-up__setup__title">Awesome! Let's set the basics!</h2>

        <!-- Set up form -->
        <form name="vm.setUpForm" ng-submit="vm.setUp()" novalidate>

            <div class="sign-up__setup__section">

                <div class="sign-up__setup__tip">
                    1. Choose your currency:
                </div>

                <div class="currency-select" ng-class="{'has-error': vm.setUpForm.$submitted && (vm.setUpForm.currency.$invalid || vm.badPostSubmitResponse)}">

                    <ui-select name="currency" class="currency-select__input" required ng-model="vm.currency.selected" theme="selectize">
                        <ui-select-match placeholder="Start typing your currency...">{{$select.selected.displayName}} -
                            {{$select.selected.symbol}}
                        </ui-select-match>
                        <ui-select-choices repeat="currencyEntry in vm.currencies | orderObjectBy : 'displayName' : false | filter:{$:$select.search} track by currencyEntry.numericCode">
                            <span ng-bind-html="currencyEntry.displayName | highlight: $select.search"></span>
                            <span>-</span>
                            <span ng-bind-html="currencyEntry.symbol | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>

                    <!-- Error messages -->
                    <div class="form-group-input__message form-group-input__message--currency" ng-class="{'has-error': vm.setUpForm.currency.$invalid}" ng-messages="vm.setUpForm.currency.$error" ng-if="vm.setUpForm.$submitted">
                        <div ng-message="required">Please add a currency.</div>
                    </div>
                </div>
            </div>

            <div class="sign-up__setup__tip">
                2. Select or Add <strong>at least 3</strong> categories.
            </div>

            <div class="sign-up__setup__controls">
                <a href="javascript:void(0)" ng-click="vm.selectAll()">Select all</a>
                <a href="javascript:void(0)" ng-click="vm.clearAll()">Clear all</a>
            </div>

            <div class="sign-up__setup__categories">
                <div class="sign-up__setup__categories__category" ng-repeat="category in vm.categories track by category.name">
                    <div class="category-name" ng-class="{ 'category-name--unselected': !category.selected }" ng-click="vm.toggleCategorySelection($index)">
                        <span class="icon-checkmark-light" ng-show="category.selected"></span>
                        {{category.name}}
                    </div>
                </div>
            </div>

            <div class="sign-up__setup__categories sign-up__setup__categories--add">

                <!--Toggle form-->
                <button ng-if="! vm.showCategoryOnTheFlyInput" class="sign-up__setup__categories__addbtn" ng-click="vm.toggleContent()">
                    + Add another
                </button>

                <!--Add category on the fly form-->
                <ng-form class="sign-up__setup__categories__category__form"
                         name="categoryOnTheFlyForm"
                         submit-on="add-category-on-the-fly-event"
                         ng-submit="vm.onSubmitted($event)"
                         ng-if="vm.showCategoryOnTheFlyInput">

                    <div ng-class="{'has-error': categoryOnTheFlyForm.$submitted && categoryOnTheFlyForm.name.$invalid}">

                        <!-- Error messages -->
                        <div class="form-group-input__message form-group-input__message--setup" ng-class="{'has-error': categoryOnTheFlyForm.name.$invalid}" ng-messages="categoryOnTheFlyForm.name.$error" ng-if="categoryOnTheFlyForm.$submitted">
                            <div ng-message="required">Name is mandatory.</div>
                            <div ng-message="validCategoryName">Name is not valid.</div>
                        </div>

                        <!--The on the fly input category-->
                        <input class="sign-up__setup__categories__addinput" type="text" name="name"
                               maxlength="20"
                               ng-model="vm.categoryOnTheFly"
                               ng-enter="vm.triggerSubmit()"
                               ng-blur="vm.cancelAddCategoryOnTheFly()"
                               auto-focus required valid-category-name/>

                        <div class="sign-up__setup__categories__addinput__tip">
                            <div>Hit Enter to add category</div>
                        </div>
                    </div>
                </ng-form>
            </div>

            <!-- Flash messages. -->
            <div flash-messages flash="flash" identifier-id="{{vm.alertId}}"></div>

            <!-- Button -->
            <button class="sign-up__setup__btn" ng-disabled="! vm.isEnoughSelectedCategories()" type="submit">
                {{vm.isSaving ? 'Saving..' : 'Done! Let\'s start!'}}
            </button>
        </form>

    </div>

</div>
