<!-- Profile section -->
<div class="settings__box">

    <!-- Title -->
    <h1 class="settings__title">Edit profile</h1>

    <!-- Flash messages. -->
    <div flash-messages flash="flash" identifier-id="{{vm.alertId}}"></div>

    <!--Update profile section-->
    <div class="settings__box__section--small">

        <!-- Profile form -->
        <form name="vm.profileForm" ng-submit="vm.updateProfile()" novalidate focus-first-error>

            <!-- Form group -->
            <div class="form-group-input" ng-class="{'has-error': vm.profileForm.$submitted && (loginForm.firstName.$invalid || vm.badPostSubmitResponse)}">
                <label>First Name</label>
                <input class="form-group-input__input" type="text" placeholder="First name" name="firstName" ng-model="vm.profileData.firstName" required />
                <span class="form-group-input__message" ng-if="vm.profileForm.firstName.$invalid && vm.profileForm.$submitted">Please tell us your First Name.</span>
            </div>

            <!-- Form group -->
            <div class="form-group-input" ng-class="{'has-error': vm.profileForm.$submitted && (vm.profileForm.lastName.$invalid || vm.badPostSubmitResponse)}">
                <label>Last Name</label>
                <input class="form-group-input__input" type="text" placeholder="Last name" name="lastName" ng-model="vm.profileData.lastName" required />
                <span class="form-group-input__message" ng-if="vm.profileForm.lastName.$invalid && vm.profileForm.$submitted">Please tell us your Last Name.</span>
            </div>

            <!-- Form group -->
            <div class="form-group-input">
                <label>Email</label>
                <input class="form-group-input__input" type="text" placeholder="Email" name="email" ng-value="vm.user.model.email" disabled />
            </div>

            <!-- Button container -->
            <button class="settings__btn__save" type="submit">{{vm.isRequestPending ? 'Saving..' : 'Save changes'}}</button>

        </form>

    </div>

    <div class="settings__box__section--small settings__profile__avatar">
        <img class="settings__profile__avatar--picture" gravatar-src="'{{vm.user.model.email}}'" />

        <div class="settings__profile__avatar--src">Synced from Gravatar</div>
    </div>

</div>
