<!-- Update password section -->
<div class="settings__card__section">

    <!-- Title -->
    <h1 class="settings__title">Change password</h1>

    <!-- Update password form -->
    <form name="updatePasswordForm" ng-submit="updatePassword(updatePasswordData)" novalidate focus-first-error>

        <!-- Flash messages. -->
        <div flash-messages flash="flash" identifier-id="{{alertIdentifierId}}"></div>

        <!-- Form group -->
        <div class="form-group-input" ng-class="{'has-error': updatePasswordForm.$submitted && (updatePasswordForm.oldPassword.$invalid || badPostSubmitResponse)}">
            <input class="form-group-input__input" type="password" placeholder="Old password" name="oldPassword" ng-model="updatePasswordData.oldPassword" auto-focus required />
            <span class="form-group-input__message" ng-if="updatePasswordForm.oldPassword.$invalid && updatePasswordForm.$submitted">Please enter your old password.</span>
        </div>

        <!-- Form group -->
        <div class="form-group-input" ng-class="{'has-error': updatePasswordForm.$submitted && (updatePasswordForm.newPassword.$invalid || badPostSubmitResponse)}">
            <input class="form-group-input__input" type="password" placeholder="New password" name="newPassword" ng-model="updatePasswordData.newPassword" required />
            <span class="form-group-input__message" ng-if="updatePasswordForm.newPassword.$invalid && updatePasswordForm.$submitted">Please enter a new password.</span>
        </div>

        <!-- Form group -->
        <div class="form-group-input" ng-class="{'has-error': updatePasswordForm.$submitted && (updatePasswordForm.newPasswordConfirmation.$invalid || badPostSubmitResponse)}">
            <input class="form-group-input__input" type="password" placeholder="New password confirmation" name="newPasswordConfirmation" ng-model="updatePasswordData.newPasswordConfirmation" required />
            <span class="form-group-input__message" ng-if="updatePasswordForm.newPasswordConfirmation.$invalid && updatePasswordForm.$submitted">Please confirm your new password.</span>
        </div>

        <!-- Button container -->
        <button class="settings__btn__save" type="submit">{{isRequestPending ? 'Saving...' : 'Change password'}}</button>
    </form>

</div>