<div header class="view-container__header"></div>

<div class="view-container__content">

    <ul class="view-container__content__admin__aside">
        <li ui-sref-active="tab__active">
            <a href="javascript:void(0)" ui-sref="settings.profile">Profile</a>
        </li>
        <li ui-sref-active="tab__active">
            <a href="javascript:void(0)" ui-sref="settings.admin">Account settings</a>
        </li>
        <li ui-sref-active="tab__active">
            <a href="javascript:void(0)" ui-sref="settings.preferences">Preferences</a>
        </li>
        <li ui-sref-active="tab__active">
            <a href="javascript:void(0)" ui-sref="settings.categories">Categories</a>
        </li>
    </ul>

    <div class="view-container__content__admin__section" ui-view></div>

</div>

<div footer class="view-container__footer"></div>