<div class="settings__box__section">

    <!-- Title -->
    <h1 class="settings__title">Modify preferences</h1>

    <form name="preferencesForm" ng-submit="updatePreferences()" novalidate>

        <!-- Flash messages. -->
        <div flash-messages flash="flash" identifier-id="{{alertIdentifierId}}"></div>

        <div class="sign-up__setup__section">

            <div class="sign-up__setup__section--currency" ng-class="{'has-error': preferencesForm.$submitted && (preferencesForm.$error['autocomplete-required'] || preferencesForm.currency.$invalid || badPostSubmitResponse)}">
                <div angucomplete-alt
                     selected-object="currency"
                     local-data="currencies"
                     search-fields="displayName,currencyCode"
                     title-field="currencyCode,displayName"
                     field-required="true"
                     placeholder="Start typing your currency..."
                     maxlength="50"
                     pause="1"
                     minlength="0"
                     initial-value="{{user.model.currency.currencyCode}}"
                     input-class="sign-up__setup__section--currency__input"
                     match-class="angucomplete-highlight">
                </div>

                <!-- Error messages -->
                <div class="form-group-input__message form-group-input__message--currency" ng-class="{'has-error': preferencesForm.$invalid && preferencesForm.$submitted}" ng-messages="preferencesForm.$error" ng-if="preferencesForm.$submitted">
                    <div ng-message="autocomplete-required">Currency is missing or is invalid.</div>
                    <div ng-message="required">Please add</div>
                </div>

                <div class="form-group-input__message form-group-input__message--currency" ng-if="preferencesForm.category.$invalid && preferencesForm.$submitted">Please add a currency.</div>
            </div>
        </div>

        <!-- Button -->
        <button class="settings__btn__save" type="submit">{{isSaving ? 'Saving...' : 'Save changes'}}</button>
    </form>

</div>