<div ng-hide="expensesVm.isOverallTransactionsEmpty()">

    <h2 class="expenses__column__right__title">Goals</h2>

    <div class="insights__chart__bar insights__chart__bar--small" fade-out-in fade-when="vm.loadTracker.active()">

        <spinner class-name="insights__loading" is-loading="vm.loadTracker.active()"></spinner>

        <!--List of this month goals-->
        <div class="goals__list expenses__goals__list">

            <!--Goal list-->
            <goals-display-entry goal="goal"
                                 class="goals__list__entry"
                                 ui-sref="goals.regular"
                                 ng-repeat="goal in vm.goals | orderObjectBy : 'createdDate' : reverseOrder track by goal.id">
            </goals-display-entry>

            <!--Empty state-->
            <div class="goals__empty-state" ng-if="vm.goals.length === 0">
                <div class="goals__empty-state__title">No goals this month.</div>

                <div>
                    <a href="javascript:void(0)" ui-sref="goals.regular">Add some goals</a> to master your finances like a pro.
                </div>
            </div>
        </div>

    </div>

</div>
