@media (max-width: 500px) {

    .account {
        padding-top: 0;
    }

    .account__section {
        padding: 20px;
        @include border-radius(0);
    }
}

@media (max-width: 400px) {

    .account__section {
        padding: 10px;
    }
}
