<!--Display goal-->
<div class="goals__list__entry__section" ng-if="! showContent">

    <div class="goals__list__entry__section__select simptip-position-right simptip-smooth simptip-fade" data-tooltip="Edit goal" ng-click="toggleContent();">
        <span class="icon-pen"></span>
    </div>

    <div class="goals__list__entry__section__text">Spend</div>

    <div class="goals__list__entry__section__target">
        <span ng-bind-html="vm.goal.goalTarget | goalTarget"></span>
    </div>

    <div class="goals__list__entry__section__text">than</div>

    <div class="goals__list__entry__section__price">
        <span ng-bind-html="vm.goal.value | currencys:vm.user.model.currency.symbol:vm.user.model.currency.fractionSize"></span>
    </div>

    <div class="goals__list__entry__section__text">on</div>

    <!--Goal category-->
    <div class="goals__list__entry__section__category" ng-style="{'background-color':vm.goal.category.color.color}" ng-bind-html="vm.goal.category.name"></div>

    <!--Goal status bar progress-->
    <goal-status-progress-bar goal="vm.goal"></goal-status-progress-bar>

    <!--Daily chart-->
    <goal-daily-status insights-daily="vm.goal.goalStatus.daily"></goal-daily-status>
</div>

<!-- Display goal in edit mode -->
<div class="goals__edit__form" ng-if="showContent">

    <div class="goals__edit__form__close simptip-position-right simptip-smooth simptip-fade" data-tooltip="Discard changes" ng-click="cancel();">
        <span class="icon-close"></span>
    </div>

    <form name="vm.goalForm" ng-submit="vm.goalForm.$valid ? vm.updateGoal() : ''" novalidate focus-first-error>

        <div class="goals__edit__form__group">
            <div class="goals__edit__form__text">Spend</div>

            <!-- Form groups -->
            <div class="goals__edit__form__target" ng-class="{'has-error': vm.goalForm.$submitted && (vm.goalForm.goalTarget.$invalid || vm.badPostSubmitResponse)}">
                <select ng-model="vm.shownGoal.goalTarget" ng-disabled="vm.saveTracker.active()" ng-options="goalTarget.value as goalTarget.label for goalTarget in vm.goalsTargets" required></select>

                <!-- Error messages -->
                <div class="form-group-input__message" ng-class="{'has-error': vm.goalForm.goalTarget.$invalid && vm.goalForm.$submitted}" ng-messages="vm.goalForm.goalTarget.$error" ng-if="vm.goalForm.$submitted">
                    <div ng-message="required">Don't forget the target.</div>
                </div>
            </div>
        </div>

        <div class="goals__edit__form__group">
            <div class="goals__edit__form__text">than</div>

            <!-- Form groups -->
            <div class="goals__edit__form__price" ng-class="{'has-error': vm.goalForm.$submitted && (vm.goalForm.value.$invalid || vm.badPostSubmitResponse)}">
                <input class="goals__edit__form__price__input" ng-disabled="vm.updateTracker.active()" type="text" name="value" placeholder="0,00" maxlength="18" ng-model="vm.shownGoal.value" format-price format="number" required valid-price/>
                <span class="goals__edit__form__price__currency">{{vm.user.model.currency.symbol}}</span>

                <!-- Error messages -->
                <div class="form-group-input__message" ng-class="{'has-error': vm.goalForm.value.$invalid && vm.goalForm.$submitted}" ng-messages="vm.goalForm.value.$error" ng-if="vm.goalForm.$submitted">
                    <div ng-message="required">Please add a price.</div>
                    <div ng-message="validPrice">Price is invalid</div>
                </div>
            </div>
        </div>

        <div class="goals__edit__form__group">
            <div class="goals__edit__form__text">on</div>

            <!-- Form group -->
            <div class="goals__edit__form__category" ng-class="{'has-error': vm.goalForm.$submitted && (vm.goalForm.category.$invalid || vm.badPostSubmitResponse)}">

            <ui-select name="category" ng-disabled="vm.updateTracker.active()" class="category-select__input" ng-style="{'background':$select.selected.color.color}" ng-model="vm.category.selected" theme="selectize">
                <ui-select-match ng-style="{'background':$select.selected.color.color}" placeholder="Select a category">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="categoryEntry in vm.categories | orderObjectBy : 'name' : false | filter:{name:$select.search} track by categoryEntry.id">
                    <span class="category__color__preview" ng-style="{'background':categoryEntry.color.color}">C</span>
                    <span ng-bind-html="categoryEntry.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>

            <!--Category of the goal-->
            <input type="hidden" name="category"
                   ng-model="vm.category.selected"
                   required
                   unique-category-per-goal
                   ng-model-options="{ debounce: 0 }"
                   unique-category-except="vm.shownGoal.category"
                   unique-category-from="vm.shownGoal.startDate"
                   unique-category-to="vm.shownGoal.endDate" />

            <!-- Error messages -->
            <div class="form-group-input__message" ng-class="{'has-error': vm.goalForm.category.$invalid && vm.goalForm.$submitted}" ng-messages="vm.goalForm.category.$error" ng-if="vm.goalForm.$submitted">
                <div ng-message="required">Please add a category.</div>
                <div ng-message="uniqueCategoryPerGoal">Category should be unique.</div>
            </div>
        </div>

        <!-- Button container -->
        <div class="goals__edit__form__buttons">
            <button class="goals__edit__form__buttons__save" ng-disabled="vm.updateTracker.active()" type="submit">{{vm.updateTracker.active() ? 'Saving...' : 'Save'}}</button>
            <button class="goals__edit__form__buttons__delete simptip-position-right simptip-danger simptip-smooth simptip-fade"
                    type="button"
                    data-tooltip="Remove goal"
                    ng-disabled="vm.deleteTracker.active()"
                    ng-click="vm.deleteGoal()">
                <span class="icon-trash"></span>
            </button>
        </div>
    </form>

</div>
