<!--Display goal-->
<div class="goals__list__entry__section" ng-if="! showContent" ng-class="vm.goal.marked ? 'goals__list__entry__section--bulk-marked' : ''" ng-click="toggleContent();">

    <!--Actions on goal-->
    <div class="goals__list__entry__section__select icon-checkbox-square-unchecked-1" ng-if="! vm.goal.marked" ng-click="vm.toggleMark();$event.stopPropagation();"></div>
    <div class="goals__list__entry__section__select icon-checkbox-square-1" ng-if="vm.goal.marked" ng-click="vm.toggleMark();$event.stopPropagation();"></div>

    <!--Goal category-->
    <div class="goals__list__entry__section__category" ng-style="{'background':vm.goal.category.color.color}" ng-bind-html="vm.goal.category.name"></div>

    <div class="goals__list__entry__section__price">
        <span ng-bind-html="vm.goal.value | currencys:vm.user.model.currency.symbol:vm.user.model.currency.fractionSize"></span>
    </div>

    <!--Goal date-->
    <div ng-if="showDateDetails" class="goals__list__entry__section__date">{{vm.goal.yearMonthDate | friendlyDate}}</div>
</div>

<!-- Display goal in edit mode -->
<div class="goal__edit__form" ng-if="showContent">

    <form name="vm.goalForm" ng-submit="vm.goalForm.$valid ? vm.updateGoal(vm.shownGoal, category) : ''" novalidate focus-first-error>

        <!-- Form groups -->
        <div class="goal__form__price" ng-class="{'has-error': vm.goalForm.$submitted && (vm.goalForm.goalTarget.$invalid || vm.badPostSubmitResponse)}">
            <select class="goal__form__price__input" ng-model="vm.shownGoal.goalTarget" ng-disabled="vm.saveTracker.active()" ng-options="goalTarget.value as goalTarget.label for goalTarget in vm.goalsTargets" required></select>

            <!-- Error messages -->
            <div class="form-group-input__message" ng-class="{'has-error': vm.goalForm.goalTarget.$invalid && vm.goalForm.$submitted}" ng-messages="vm.goalForm.goalTarget.$error" ng-if="vm.goalForm.$submitted">
                <div ng-message="required">Don't forget the target.</div>
            </div>
        </div>

        <!-- Form groups -->
        <div class="goal__edit__form__price" ng-class="{'has-error': vm.goalForm.$submitted && (vm.goalForm.value.$invalid || vm.badPostSubmitResponse)}">
            <input class="goal__edit__form__price__input" ng-disabled="vm.updateTracker.active()" type="text" name="value" placeholder="The value" maxlength="18" ng-model="vm.shownGoal.value" format-price format="number" caret-price-position required valid-price />
            <span class="goal__edit__form__price__currency">{{vm.user.model.currency.symbol}}</span>

            <!-- Error messages -->
            <div class="form-group-input__message" ng-class="{'has-error': vm.goalForm.value.$invalid && vm.goalForm.$submitted}" ng-messages="vm.goalForm.value.$error" ng-if="vm.goalForm.$submitted">
                <div ng-message="required">Please add a price.</div>
                <div ng-message="validPrice">Price is invalid</div>
            </div>
        </div>

        <!-- Form group -->
        <div class="goal__edit__form__category" ng-class="{'has-error': vm.goalForm.$submitted && (vm.goalForm.category.$invalid || vm.badPostSubmitResponse)}">

            <ui-select name="category" ng-disabled="vm.updateTracker.active()" class="category-select__input" ng-style="{'background':$select.selected.color.color}" required ng-model="vm.category.selected" theme="selectize">
                <ui-select-match ng-style="{'background':$select.selected.color.color}" placeholder="Select a category">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="categoryEntry in vm.categories | orderObjectBy : 'name' : false | filter:{name:$select.search} track by categoryEntry.id">
                    <span class="category__color__preview" ng-style="{'background':categoryEntry.color.color}">C</span>
                    <span ng-bind-html="categoryEntry.name | highlight: $select.search"></span>
                </ui-select-choices>
            </ui-select>

            <!-- Error messages -->
            <div class="form-group-input__message" ng-class="{'has-error': vm.goalForm.category.$invalid && vm.goalForm.$submitted}" ng-messages="vm.goalForm.category.$error" ng-if="vm.goalForm.$submitted">
                <div ng-message="required">Please add a category.</div>
            </div>
        </div>

        <!-- Date input -->
        <div class="goal__edit__form__date" ng-class="{'has-error': vm.goalForm.yearMonthDate.$invalid && vm.goalForm.$submitted}">

            <!--Hidden input of the goal chosen date-->
            <input type="hidden" name="yearMonthDate" ng-model="vm.shownGoal.yearMonthDate" required valid-date />

            <!--Goal date picker-->
            <div class="goal__edit__form__date__input">
                <button
                        type="button"
                        class="goal__edit__form__date__input__btn"
                        ng-click="vm.openDatePicker($event)"
                        datepicker-popup
                        is-open="vm.datePickerStatus.opened"
                        ng-disabled="vm.updateTracker.active()"
                        min-date="vm.minDate"
                        max-date="vm.maxDate"
                        ng-model="vm.shownGoal.yearMonthDate"
                        datepicker-mode="'month'"
                        min-mode="'month'"
                        show-button-bar="false"
                        datepicker-options="{minMode: 'month',datepickerMode: 'month'}">
                    {{vm.shownGoal.yearMonthDate | friendlyMonthDate}}
                </button>
            </div>

            <!--Error messages-->
            <div class="form-group-input__message" ng-class="{'has-error': vm.goalForm.yearMonthDate.$invalid && vm.goalForm.$submitted}" ng-messages="vm.goalForm.yearMonthDate.$error" ng-if="vm.goalForm.$submitted">
                <div ng-message="required">Please add a date.</div>
                <div ng-message="validDate">Date should be in the past.</div>
            </div>
        </div>

        <!-- Button container -->
        <div class="goal__edit__form__submit__cancel">
            <button class="goal__edit__form__cancelbtn" type="button" ng-click="cancel();">Discard changes</button>
        </div>

        <div class="goal__edit__form__submit__save">
            <button ng-disabled="vm.updateTracker.active()" class="goal__edit__form__savebtn" type="submit">{{vm.updateTracker.active() ? 'Saving' : 'Save'}}</button>
        </div>
    </form>

</div>
