@media (max-width: $screen-tablet) {

    .insights__table {

        &.insights__table--monthly {
            width: 80%;
        }
    }

}

@media (max-width: $screen-phone) {

    .insights__table {
        width: 100%;
        padding: 0;

        &.insights__table--monthly {
            width: 90%;
        }

        .insights__table__category {
            width: 70%;

            .insights__table__category__color {
                @include border-radius(50%);
                @include size(22px 22px);
                display: inline-block;
                background-color: $brand-primary;
                margin-right: 5px;
                text-indent: -9999px;
            }
        }

        .insights__table__amount {
            text-align: right;
            width: 30%;

            .currency__symbol {
                padding: 0 2px;
            }
        }
    }

}

/*
Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
*/
@media only screen and (max-width: $screen-tablet), (min-device-width: $screen-tablet) and (max-device-width: 1024px) {

    .insights__table--progress,
    .insights__table--monthly {

        &.insights__table--3m,
        &.insights__table--6m {
            width: 100%;
        }

        .insights__table__header {
            display: none;
        }

        table tr td {
            max-width: 100%;
        }

        .insights__table__category {
            width: 100%;
        }

        .insights__table__entry__amount {
            @include clearfix();

            .insights__table__entry__amount__th {
                display: block;
                width: 50%;
                float: left;
                text-align: center;
            }

            .insights__table__entry__amount__value {
                width: 50%;
                float: right;
                text-align: left;
            }
        }

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
        }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
    }
}
